Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * chat list improvements
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * profile improvements
  mobile/src/screens/profile/profile.tsx
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * profile settings improvements
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: + loader container
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/loader-container/loader-container.tsx
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * previously changed header component and used navigation from hook
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: + BackButton component
  mobile/src/libs/components/header/components/back-button/back-button.tsx
  mobile/src/libs/components/header/components/back-button/styles.ts
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * import in chat-navigation-parameter-list
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-163: + new variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-163: + hover and focus style for secondary button
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-163: + hover to checkbox container
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-163: + background color to secondary button on hover
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-145: * LogoImage to Logo
  mobile/src/screens/auth/components/label/label.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: + hover and focus to controls button
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-143: * Eliminated the global tags in styles
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-163: - border from checkbox and button
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-56: + chat-message component was added, awaiting for help in type error
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/types/form/input-message.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/bot-message/styles.module.scss
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-layout/styles.module.scss
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/components/chat-message/styles.module.scss
  frontend/src/pages/chat/components/components.ts
  frontend/src/pages/chat/components/user-message/user-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-55: * icon map name, svgr plugin to devDep
  frontend/package.json
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-148: * button disabled props
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-60: * ChatNavigation to Chat
  mobile/src/navigations/chat/chat.tsx
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/navigations.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-163: - secondary-button-shadow
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * move svgr plugin to dev dependencies
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-148: * sign-in/up button props
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * getFormatTime to getFormattedTime helper
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/helpers/get-formatted-time.helper.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - forwardRef from hooks.ts
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: * renamed strictly to Properties
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: - redundant useEffect in audioPlayer component
  frontend/src/index.tsx
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - accidentally added meditation player component from index.tsx
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: * color in svg as props
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * colors to svg elements as props
  mobile/src/assets/img/icons/bell.svg
  mobile/src/assets/img/icons/user.svg
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * onPress to handleCategoryPress
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + basic layout for meditation img and title
  mobile/src/assets/img/meditation-background.png
  mobile/src/screens/meditation/components/audio-player/audio-player.tsx
  mobile/src/screens/meditation/components/components.tsx
  mobile/src/screens/meditation/components/pregress-bar/progress-bar.tsx
  mobile/src/screens/meditation/components/pregress-bar/styles.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-150: * CHAT_LIST to CHAT
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * improvements to chat list
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-145: * logo.png to logo.svg
  mobile/src/assets/img/logo.png
  mobile/src/assets/img/logo.svg
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-143: * Fixing css quality-criteria
  frontend/src/assets/img/logo-m.svg
  frontend/src/assets/img/logo-s.svg
  frontend/src/assets/img/logo-xl.svg
  frontend/src/assets/img/logos/logos.ts
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-56: * fixing last comments
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-56: * fixing font-family css prop
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/components/chat-message/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * fixed variables names, imports and namings
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * move mockedPlaylist to constants.ts in meditation-player folder
  frontend/src/index.tsx
  frontend/src/libs/components/meditation-player/constants/constants.ts
  frontend/src/libs/components/meditation-player/meditation-player.tsx
  frontend/src/libs/components/meditation-player/styles.module.scss
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * moved icon-name-to-plain-svg to icon package
  frontend/src/libs/components/icon/icon-name-to-plain-svg.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
