Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-113: * header clean up
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-174: + arrow body style eslint rule with accomodation of existing changes
  .eslintrc.yml
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/server-application/base-server-application-api.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.helper.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/libs/helpers/get-valid-class-names.ts
  frontend/src/libs/hooks/use-app-dispatch/use-app-dispatch.hook.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/survey.tsx
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/hooks/use-app-dispatch/use-app-dispatch.hook.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/home/home.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-61: + add Icon component for chat logo in chat-element
  frontend/src/assets/icons/chat-logo.svg
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/icon/icon-name-to-plain-svg.tsx
  shared/src/libs/enums/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: * moved IconName type form enums to types
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/types/icon-name.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-61: * adjust imports after moving IconName from enums to types
  frontend/src/libs/components/icon/icon-name-to-plain-svg.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * imolemented using flex layout insted of absolute position
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * change the name of the prop type in button component
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - width and height properties in info block
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: + padding property for content block
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-113: * style layout for Card component for notification items
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/styles.ts
  mobile/src/screens/profile-settings/components/setting/styles.ts
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile-settings/styles.ts
  mobile/src/screens/profile/components/components.ts
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
  mobile/src/screens/profile/components/profile-category/styles.ts
  mobile/src/screens/profile/profile.tsx
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * adjust icon component not to receive classes and style, wrapped Icon in a dive with background styling
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-82: * import svg as element
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: + profile sidebar, profile sidebar-wrapper
  frontend/src/assets/img/avatar.png
  frontend/src/assets/img/profile.svg
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: * CHAT_LIST to CHAT
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * used React.FC, removed route and title
  mobile/src/screens/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * icon name type location
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: * func for search filter, img to component
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * iconName, accessabilityMessage props to button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * React.FC and improvements to navigation
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * move constants from types to constants/constants.ts in meditation-player folder
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/constants/constants.ts
  frontend/src/libs/components/meditation-player/meditation-player.tsx
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: + return to chat sidebar card, useSearch
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: + icon-color enum
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: + return statement useAppSelector
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * changes file extenstion from tsx to ts
  frontend/src/libs/components/icon/icon-name-to-plain-svg.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * replaced file extension from tsx to ts
  frontend/src/libs/components/icon/icon-name-to-plain-svg.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * attempt to fix CI error - Expected block statement surrounding arrow body
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-60: + isDifferentUser variable
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * moved the svg dependency to frontend dev dependencies
  frontend/package.json
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-52: * variables in the role_id
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-52: + readonly variables to user_roles
  backend/src/db/migrations/20230826083159_add_user_roles_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-56: + fixing new comments
  frontend/src/assets/icons/chat-page-logo.svg
  frontend/src/assets/icons/chat-sidebar-logo.svg
  frontend/src/index.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon/icon-name-to-plain-svg.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/constants/chat-mock-data.constant.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/vite.config.ts
  shared/src/index.ts
  shared/src/libs/types/icon-name.type.ts
  shared/src/libs/types/types.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/enums/enums.ts
  shared/src/packages/chat/libs/enums/user-role.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-71: * replaced width and height to max and min values
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: - fixed height for track block in media query
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: + media query for record block when its size is small
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: - removed extra component that was previouslly accidentally cherry-picked
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * changed line-height units to absolut einstead of pixels
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-177: * fix authenticated user request to send response without password data
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-71: * renamed components in meditation page
  frontend/src/pages/meditation/meditation-entries-list/meditation-entries-list.tsx
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-entries-list/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-56: * solving merge conflicts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/helpers/get-valid-class-names.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-52: * from ROLE_MAPPING to USER_ROLE_KEY
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
