Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-368: * button on click event prop
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * card handle click prevent default
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * notification type export
  frontend/src/libs/packages/notification/notification.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * app actions export
  frontend/src/slices/app/app.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * journal slice updated note unshifted
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * journal actions delete note navigate
  frontend/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * note input constants
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * note input styles
  frontend/src/pages/journal/components/note/components/note-input/styles.module.scss
  frontend/src/pages/journal/components/note/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: * journal sidebar no card styles
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-368: * note create with empty values
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * journal loader and note rendering
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * journal sidebar creating note, no cards
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: + meditationEntryToTrack map
  mobile/src/libs/packages/player/libs/maps/maps.ts
  mobile/src/libs/packages/player/libs/maps/meditation-entry-to-track/meditation-entry-to-track.map.ts
  mobile/src/libs/packages/player/player.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + selectedMeditationEntry
  mobile/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + setPlaylist function in slice
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * naming for modal function
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: - unnecessary code
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/libs/constants/constants.ts
  mobile/src/libs/hooks/use-player-controls/use-player-controls.hook.ts
  mobile/src/libs/packages/player/libs/constants/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/screens/meditation-list/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + player improvements
  mobile/src/libs/components/player/player.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + redux slice to manage the state of the survey
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/screens/survey/components/survey-step/survey-step.tsx
  mobile/src/slices/survey/survey.slice.ts
  mobile/src/slices/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * fix paths into ci postman tests
  .github/workflows/ci-postman-tests-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * fix typo postman collection config
  .postman/Calmpal-development.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * fix typo of run postman collection tests script
  .github/workflows/ci-postman-tests-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * paths into ci postman tests github action workflow
  .github/workflows/ci-postman-tests-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * accomodate postman config for new test file
  .postman/Calmpal-development.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + the data receive from each step and update the slice
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/survey-step/survey-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-276: * mobile chats slice temporary resolver
  mobile/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-432: + added filter by extensions
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-276: * chat divider folder and its styles
  frontend/src/pages/chat/components/chat-divider/chat-divider.tsx
  frontend/src/pages/chat/components/chat-divider/styles.module.scss
  frontend/src/pages/chat/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * small changes in user repository and service
  backend/src/libs/types/repository.type.ts
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-430: * Changed Enter meditation name instead of Enter topic name
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-159: + collect the data from steps and send it
  frontend/src/pages/surveys/survey.tsx
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/survey-step/survey-step.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/survey/survey.slice.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-283: + fonts
  mobile/src/libs/components/input-file/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: + red color on input file when error
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * placeholders
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: - error notification
  mobile/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-421: + font size to timestamps
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * meditation-list folder structure
  mobile/src/libs/components/components.tsx
  mobile/src/screens/meditation-list/components/components.tsx
  mobile/src/screens/meditation-list/components/timer-modal/components/components.ts
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/styles.tsx
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/timer-button.tsx
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/styles.ts
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: + fonts for modal title
  mobile/src/screens/meditation-list/components/add-meditation-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
