Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-176: + swagger documentation for file/upload route
  backend/src/packages/files/file.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-71: * using image for recoed as placeholder instead of passing it in mocked data
  frontend/src/assets/icons/logo.svg
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/libs/types/track.type.ts
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * renamed type for meditation entry
  frontend/src/pages/meditation/libs/types/entry.type.ts
  frontend/src/pages/meditation/libs/types/types.ts
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: + controls icons
  mobile/src/assets/img/icons/backward.svg
  mobile/src/assets/img/icons/forward.svg
  mobile/src/assets/img/icons/next.svg
  mobile/src/assets/img/icons/pause.svg
  mobile/src/assets/img/icons/play.svg
  mobile/src/assets/img/icons/previous.svg
  mobile/src/screens/meditation/components/audio-player/audio-player.tsx
  mobile/src/screens/meditation/components/audio-player/components/button/button.tsx
  mobile/src/screens/meditation/components/audio-player/components/button/styles.ts
  mobile/src/screens/meditation/components/audio-player/components/components.tsx
  mobile/src/screens/meditation/components/audio-player/components/controls/controls.tsx
  mobile/src/screens/meditation/components/audio-player/components/controls/styles.ts
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/styles.ts
  mobile/src/screens/meditation/components/components.tsx
  mobile/src/screens/meditation/components/pregress-bar/progress-bar.tsx
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * replaced nullish coalescing with type casting
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - esbuild package
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: * Remove unnecessary files related to get all users
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/users/users-api.ts
  mobile/src/packages/users/users.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: - Fix merge conflicts
  mobile/src/screens/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: - empty fragments
  mobile/src/screens/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-177: * throw error if user is null
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-177: + withoutPassword modifier on findById query
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-113: + icon component added
  mobile/package.json
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/maps/maps.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/libs/types/index.d.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/profile/profile.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-177: * update authenticated-user swagger documentation
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: * solving merge conflicts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/helpers/generate-uuid.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/use-app-chat/use-app-chat.hook.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/slices/chat/chat.slice.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/types/icon-name.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-143: * Fixing css for auth page removing duplicate style selectors
  frontend/src/assets/img/logo-s.svg
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-143: * Updated code base from development branch
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * update components.ts
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * trying to merge
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/img/card-image-placeholder.png
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/chat-sidebar/styles.module.scss
  frontend/src/libs/components/search/libs/constants.ts
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/use-search/use-search-return.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: * fixing merge
  .gitignore
Due: npm run lint:editor && npm run lint:fs

cp-71: * moved vite-plugin-svgr to frontend
  frontend/package.json
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * replaces className property to an optional color property
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - redundant padding for track block
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: - redundant width property for track
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: * changed margin value to be equal to border radius
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: * moved IconNameToIcon to an icon folder and renamed file name
  frontend/src/libs/components/icon/icon-name-to-icon.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + change meditation entries table migration
  backend/src/db/migrations/20230903104334_change_meditation_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * readme meditation entries table
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: + meditation entry dtos
  shared/src/packages/meditation/libs/types/meditation-entry-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-response-dto.type.ts
  shared/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + meditation api path enum
  shared/src/packages/meditation/libs/enums/enums.ts
  shared/src/packages/meditation/libs/enums/meditation-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * api path enum
  shared/src/libs/enums/api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * mp3 in content type enum
  shared/src/libs/enums/content-type.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + shared exports
  shared/src/index.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * file upload extensions
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation relation
  backend/src/packages/meditation/libs/enums/meditations-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation tables columns enum
  backend/src/packages/meditation/libs/enums/table-columns/meditation-entries-table-column.enum.ts
  backend/src/packages/meditation/libs/enums/table-columns/meditation-topics-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation query payloads
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + topic query response
  backend/src/packages/meditation/libs/types/topic-common-query-response.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + enums and types
  backend/src/packages/meditation/libs/enums/enums.ts
  backend/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation models
  backend/src/packages/meditation/meditation-entries.model.ts
  backend/src/packages/meditation/meditation-topics.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
