Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-65: * app chat hook
  frontend/src/libs/hooks/use-app-chat/use-app-chat.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: - get values method in app form hook
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: + colors to chat icons
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * send message button
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: - isRequired in input
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + selectedsetSelectedJournalEntry after reloading page
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * constants import in chat slice
  frontend/src/slices/chat/chat.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * naming changes, Card adjustment
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/profile-settings-sidebar/constants/constants.ts
  frontend/src/libs/components/profile-settings-sidebar/user-profile.tsx
  frontend/src/libs/types/settings-option.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * renamed libs to constants
  frontend/src/libs/components/meditation-timer/constants/constants.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + add styling for active button
  frontend/src/libs/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * folder naming
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/user-profile/constants/constants.ts
  frontend/src/libs/components/user-profile/styles.module.scss
  frontend/src/libs/components/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * Card component adjustment
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: - members key from chats table in readme file
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: - vite plugin from dependencies
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * chat-page to chatbot-avatar
  frontend/src/assets/icons/chatbot-avatar.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * override addtional styles for chat-input
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * file service returned url
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/packages/files/file.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: - blank constant
  frontend/src/libs/constants/blank.constant.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/default-input.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation repository and service topic
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: * move constants to location where they are used
  frontend/src/libs/constants/constants.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/libs/constants/chat-mock-message.constant.ts
  frontend/src/pages/chat/libs/constants/constants.ts
  frontend/src/pages/chat/libs/constants/default-input.constant.ts
  frontend/src/slices/chat/chat.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation relations
  backend/src/packages/meditation/libs/enums/enums.ts
  backend/src/packages/meditation/libs/enums/meditations-entries-relation.enum.ts
  backend/src/packages/meditation/libs/enums/meditations-relation.enum.ts
  backend/src/packages/meditation/libs/enums/meditations-topic-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: - app chat hook
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-chat/use-app-chat.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation relation implementation
  backend/src/packages/meditation/meditation-entries.model.ts
  backend/src/packages/meditation/meditation-topics.model.ts
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: * move chat types
  frontend/src/libs/types/form/chat-input-value.type.ts
  frontend/src/libs/types/form/chat-state.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/libs/types/chat-input-value.type.ts
  frontend/src/pages/chat/libs/types/types.ts
  frontend/src/slices/chat/chat.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat body tag
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat message properties
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat page height
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-65: - chat slice
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/chat/actions.ts
  frontend/src/slices/chat/chat.slice.ts
  frontend/src/slices/chat/chat.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: + isRounded prop for Button component
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * get deep error helper redunant return
  frontend/src/libs/helpers/get-deep-error-message.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: * Icon component instead of PlusIcon
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-223: * changing view sidebar/list logic
  frontend/src/assets/icons/button-back.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/style.module.scss
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: + backward button component
  frontend/src/libs/components/backward-button/backward-button.tsx
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * button to backward button component
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * useState to useSearchParams
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-208: * chat sidebar card selecting
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * fix wrong element after click same page
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-247: + user profile icon to meditation screen
  mobile/android/app/versionCode
  mobile/android/app/versionName
  mobile/src/navigations/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-234: + user profile icon to journal page
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: + delete user backend functionality
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/constants.ts/constants.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/index.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-delete-request-dto.type.ts
  shared/src/packages/users/libs/types/user-delete-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend
