Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * shared imports
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * icon name to icon
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modal wrapper button
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
  frontend/src/pages/meditation/components/modal-wrapper/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * modal styles
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/input-file/styles.module.scss
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: * user model modifier
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-143: + extended modal component for the delete account multistep modal
  frontend/src/assets/icons/cross.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-from.tsx
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-143: * change in the hooks imports
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-from.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-150: * Chat list to Chat
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-217: + success toast style
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/packages/notification/notification.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-221: * styles of sign in and background
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-221: * styles for sign up
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-221: * sign up show vertical slide bar
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-221: * survey styles improvements
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-187: * withoutPassword modifier
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-113: + as const to constant
  mobile/src/screens/notification-settings/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * boolean name improvement
  mobile/src/screens/notification-settings/libs/constants.ts
  mobile/src/screens/notification-settings/notification-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: + icon button to header in home
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: * userName to fullName
  mobile/src/screens/dashboard/dashboard.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + Icon component
  mobile/src/libs/components/header/components/back-button/back-button.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/screens/meditation/components/controls/components/button/button/button.tsx
  mobile/src/screens/meditation/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-167: + sign out svg
  mobile/src/assets/img/icons/sign-out.svg
Due: npm run lint:editor && npm run lint:fs

cp-167: * sign out to icon types and maps
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: * meditation sidebar location
  frontend/src/libs/components/components.ts
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-188: + icon to card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-167: + card for sign out
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: + media points to card/search/sidebar
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-188: + media points to wrapper/chat-sidebar
  frontend/src/libs/components/sidebar-wrapper/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-188: + media points user-profile/meditationList
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-167: * function name improvement
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-167: + signOut action redux slice
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-167: + extraReducers for signOut
  mobile/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-167: * import signOut to all actions
  mobile/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-212: + global toast and separate error toast styles
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-167: + sign out functionality
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: + members column in chats table
  backend/src/db/migrations/20230906103635_add_members_column_to_chats_table.ts
  backend/src/libs/packages/database/libs/enums/chats-table-column.enum.ts
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat model
  backend/src/packages/chats/chat.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + repository findAllByUserId method
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat entity
  backend/src/packages/chats/chat.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat response dtos
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chats-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat service
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + init chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
