Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-71: * moved icon component to libs folder
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * modified styling for profile-settings-button
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * content type optional
  frontend/src/libs/packages/api/base-http-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * remove redundatn content type
  frontend/src/packages/files/files-api.ts
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
  frontend/src/slices/meditation/actions.ts
  shared/src/packages/meditation/libs/types/meditation-create-payload.type.ts.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-113: * moved icon map to icon component folder
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/libs/components/icon/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/icon/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * reset file
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - move iconNameToIcon to icon/libs/maps
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/icon/libs/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * getFormattedTime to use date-fns with offset
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/time-format.enum.ts
  frontend/src/libs/helpers/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: * icon-name type imports
  mobile/src/libs/components/icon/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/components/components.ts
  mobile/src/libs/types/components/icon-name.type.ts
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * fixed icon type imports
  mobile/src/libs/types/components/components.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + change button bg to custom color
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * fix color
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + svg icons
  mobile/src/assets/img/icons/bell.svg
  mobile/src/assets/img/icons/user.svg
Due: npm run lint:editor && npm run lint:fs

cp-113: * button and button styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * card styles
  mobile/src/libs/components/card/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * adjusted setting component to card
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + header styles
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + icon name type
  mobile/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * import improvements
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + icon map functionality
  mobile/src/libs/components/icon/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/icon/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + icon component
  mobile/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + switch component styles
  mobile/src/libs/components/switch/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + switch component
  mobile/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + styles for profile screen
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * fixed imports and retrieval of the user from the slice
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + screen names navigation
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * exported components
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * another import fix
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + profile settings style
  mobile/src/screens/profile-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + setting style
  mobile/src/screens/profile-settings/components/setting/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + setting component
  mobile/src/screens/profile-settings/components/components.ts
  mobile/src/screens/profile-settings/components/setting/setting.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + profile setting constants
  mobile/src/screens/profile-settings/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + profile settings component
  mobile/src/screens/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + profile component
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * navigation improvement
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * header improvement
  mobile/src/libs/components/header/header.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * chat list improvement
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * back-arrow changes
  mobile/src/assets/img/icons/back-arrow.svg
Due: npm run lint:editor && npm run lint:fs

cp-113: * improvements according to linter
  mobile/src/libs/components/linear-gradient/linear-gradient.tsx
  mobile/src/libs/components/linear-gradient/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * improvements to style
  mobile/src/screens/chat/components/chat-input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
