Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-70: * FastifyRequest interface
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * libs enums
  backend/src/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * shared types
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + file plugin
  backend/src/libs/plugins/file-uploading/file-uploading.plugin.ts
  backend/src/libs/plugins/plugins.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * update imports
  backend/src/packages/files/file.entity.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * shared exceptions
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/file-error/file-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + file types and enums
  backend/src/packages/files/libs/enums/enums.ts
  backend/src/packages/files/libs/types/file-common-query-response.ts
  backend/src/packages/files/libs/types/file-create-query-payload.ts
  backend/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * libs exceptions
  backend/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * env.example
  backend/.env.example
Due: npm run lint:editor && npm run lint:fs

cp-70: + file controller
  backend/src/packages/files/file.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + shared files package
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/files-api-path.enum.ts
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
  shared/src/packages/files/libs/types/file-get-all-response-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * implement common constants
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-70: + new imports
  package-lock.json
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + requested changes
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + aws service
  backend/package.json
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/types/types.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/aws-upload-request-dto.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: * filename changed
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/libs/plugins/plugins.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * fileBuff to fileBuffer
  backend/src/index.d.ts
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * file is too big custom error
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: * contentType type
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.entity.ts
  backend/src/packages/files/file.model.ts
  backend/src/packages/files/libs/types/file-common-query-response.ts
  backend/src/packages/files/libs/types/file-create-query-payload.ts
  shared/src/packages/files/libs/types/aws-upload-request-dto.ts
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: + comments
  backend/src/packages/files/file.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * replaceAll didn't work with non-global reqex
  package-lock.json
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: * libs packages
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: - redundant code
  backend/src/packages/files/libs/helpers/get-url.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + changes in code
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-aws-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/helpers/get-url.ts
  backend/src/packages/files/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: + requested changes
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/constants/constants.ts
  backend/src/packages/files/libs/helpers/get-url.ts
  backend/src/packages/files/libs/helpers/helpers.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: + getFileKey from file URL method
  backend/src/packages/files/aws.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + shared files package
  shared/src/libs/types/server-error-response.type.ts
  shared/src/packages/files/libs/types/file-get-all-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + aws service
  backend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * updated the code
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-aws-error-info.helper.ts
  backend/src/packages/files/libs/helpers/get-url.ts
  backend/src/packages/files/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: * generateUrl method updated
  backend/src/packages/files/libs/helpers/get-url.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * resolve failed pipeline
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + requested changes
  backend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + file plugin
  backend/src/libs/plugins/file-uploading/file-uploading.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + requested changes
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/exceptions/file-error/file-error.exception.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/aws-file-upload-request-dto.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: - findAll method on repo level
  backend/src/packages/files/file.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * filename changed
  backend/src/libs/plugins/file-uploading/file-uploading.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * changed imported type
  backend/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: - findAll method
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/file-get-all-response-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: + requested changes
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-aws-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/constants/constants.ts
  backend/src/packages/files/libs/helpers/get-url.ts
  shared/src/index.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
