Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

development: * readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-492: - converting to number
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * services and repositories methods names
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/constants/constants.ts
  backend/src/packages/journal-entries/libs/constants/default-note-text.constant.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
  backend/src/packages/subscriptions/subscription.repository.ts
  backend/src/packages/subscriptions/subscription.service.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-509: * creating note after user type smth
  mobile/src/libs/types/navigation/journal-navigation-parameter-list.type.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * swipeable
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * swipeable for journal
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * chat swipeaple
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * functional refactoring and renaming
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * refactoring
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-509: - id in depency array
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-9: + updated application schema with light and dark svgs
  docs/application-architecture/application-schema.drawio.svg
  docs/application-architecture/calmpal-dark-theme.drawio.svg
  docs/application-architecture/calmpal-light-theme.drawio.svg
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * close swioeable if modal closed
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-503: * modal close and card is closed
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-370: * change font color
  frontend/src/assets/css/scaffolding.scss
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/libs/components/toast/styles.module.scss
  frontend/src/libs/components/toast/toast.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

development: * fix typo
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-final/delete-account-final.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-434: - removed response json parsing
  backend/src/libs/packages/api/base-http-api.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-434: - removed changes in type
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-363: * card component reference
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-363: * chat sidebar scroll to selected card
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-517: + text placeholder
  mobile/src/libs/components/rich-text-editor/rich-text-editor.tsx
  mobile/src/libs/components/rich-text-editor/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-434: + added error rethrow
  backend/src/libs/packages/open-ai/open-ai.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-515: * confirm payment action with get user
  frontend/src/slices/subscription/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-515: + get shifted date
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-shifted-date/get-shifted-date.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-515: + subscription month duration constant
  backend/src/packages/subscriptions/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-515: * subscription service get end date
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/subscriptions/subscription.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-434: - undentified from return type
  backend/src/libs/packages/open-ai/open-ai.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-514: * card component focus styles
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-514: + user constants
  shared/src/packages/users/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-514: * user validation messages
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-514: + user validation rule
  shared/src/packages/users/libs/enums/enums.ts
  shared/src/packages/users/libs/enums/user-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-514: + delete account form validation schema
  shared/src/index.ts
  shared/src/packages/users/libs/validation-schemas/delete-account-form.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-156: * ci hotfix
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/delete-account-form.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-514: * shared to frontend imports
  frontend/src/packages/users/libs/constants/constants.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: * ci name migration hotfix
  backend/src/db/migrations/20230923060705_add_more_steps_in_survey_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-514: * delete account form constants
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-514: * delete account form validation, messages
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/delete-account-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-514: * checkbox component styles
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-514: * delete account form footer styles
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-156: * survey constanst hotfix
  frontend/src/pages/surveys/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
