Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-60: * chat avatar and - duplicated messages
  mobile/src/assets/img/icons/chat-avatar.svg
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: + getScreen function
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: + clearTimeout
  mobile/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: * loader logic
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * package-lock from development
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * content type to MPEG
  shared/src/libs/enums/content-type.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * exception message enum
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + meditation validation message
  shared/src/packages/meditation/libs/enums/enums.ts
  shared/src/packages/meditation/libs/enums/meditation-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + meditation create payload and validation
  shared/src/packages/meditation/libs/types/meditation-create-payload.type.ts.ts
  shared/src/packages/meditation/libs/types/meditation-create-validation.type.ts
  shared/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + create meditation validation schema
  shared/src/packages/meditation/libs/validation-schemas/create-meditation.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * shared meditation exports
  shared/src/index.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + icons
  frontend/src/assets/icons/cross.svg
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/upload.svg
Due: npm run lint:editor && npm run lint:fs

cp-160: * icon name to icon map
  frontend/src/libs/maps/icon-name-to-plain-svg.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * maps reexport
  frontend/src/libs/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * backend extensions
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation controller route brackets
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation enums reexport
  frontend/src/packages/meditation/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: + popup
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/modal/libs/constants.ts
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: + meditation types reexport
  frontend/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + meditation validation schemas reexport
  frontend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * icon color enum
  frontend/src/libs/enums/icon-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * use app form
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * icon name
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-196: * filenames improvement
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/dashboard/dashboard.tsx
  mobile/src/screens/dashboard/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: + common constants
  frontend/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + shared types reexport
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/libs/components/input-file/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: + shared types reexport
  frontend/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + draft runs of modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/modal/test-parent-component.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-196: - react fragment
  mobile/src/screens/dashboard/dashboard.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: + shared enums reexport
  frontend/src/packages/files/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + common modal component
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: + files api
  frontend/src/packages/files/files-api.ts
  frontend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + meditation api
  frontend/src/packages/meditation/meditation-api.ts
  frontend/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file and modal in components
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + meditation slice and actions
  frontend/src/slices/meditation/actions.ts
  frontend/src/slices/meditation/meditation.slice.ts
  frontend/src/slices/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * store reducers and extra
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + meditation constants
  frontend/src/pages/meditation/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + meditation modal
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: + meditation components reexport
  frontend/src/pages/meditation/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + temporary modal wrapper
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
  frontend/src/pages/meditation/components/modal-wrapper/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend
