Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-232: + isDirty to useAppForm
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: - deleting auxiliar function
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper copy.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-232: + journal screen nav enums
  mobile/src/libs/enums/navigation/journal-screen-name.enum.ts
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * imports
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/navigation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + JournalNavigationParameterList
  mobile/src/libs/types/navigation/journal-navigation-parameter-list.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + imports for JournalNavigationParameterList
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + note styles
  mobile/src/screens/journal/components/note/styles.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-342: * add id to 201 status response
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.entity.ts
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-232: + styles and components for note
  mobile/src/screens/journal/components/note/libs/constants.ts
  mobile/src/screens/journal/components/note/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + journal redux actions
  mobile/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + create and update journal slices
  mobile/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + all actions imports
  mobile/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-318: * passing Route to the getSelectedRoute instead of a string
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/helpers/get-selected-route.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-352: * text alignment
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-352: - form-link class
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-232: + note functionality
  mobile/src/screens/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * import fixed
  mobile/src/screens/journal/components/note/note.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + INCREMENT_DECREMENT_STEP
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-318: * getSelectedRoute to checkIsSelectedRoute
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/helpers/check-is-selected-route.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: + validation-schema for chat/journal query
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/validation-schemas/find-by-query-chat-entries.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/validation-schemas/find-by-query-jounral-entries.validation-schema.ts
  shared/src/packages/journal/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-314: * implementation of validation schema
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: - check query helper
  backend/src/libs/helpers/check-get-items-query.helper.ts
  backend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: * ControllerRouteParameters type
  backend/src/libs/packages/controller/libs/types/controller-route-parameters.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-364: + overflow for the title
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-170: * buttons position
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + note creation and update functionality
  mobile/src/libs/components/card/card.tsx
  mobile/src/navigations/journal/journal.tsx
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/navigations.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/libs/constants/constants.ts
  mobile/src/screens/journal/styles.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/note/libs/constants.ts
  mobile/src/screens/note/note.tsx
  mobile/src/screens/note/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * play button shadow
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + sanitization for note
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * handleSanitizeInput function
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * imports and FormController component
  mobile/src/libs/components/components.tsx
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: - INCREMENT_DECREMENT_STEP
  mobile/src/screens/note/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * add note button improvements
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * delete service params type
  backend/src/libs/types/service.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * delete params
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/journal-entry-delete-parameter.ts
  backend/src/packages/journal-entries/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: + icon-right
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: - icon right
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: * handleDelete logic
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * promise resolve true in repositories
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: * common validationSchema/type for query
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  backend/src/packages/journal-entries/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/libs/types/get-items-by-query-dto.type.ts
  shared/src/libs/types/types.ts
  shared/src/libs/validation-schemas/find-by-query-entries.validation-schema.ts
  shared/src/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-chats-by-query-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/validation-schemas/find-by-query-chat-entries.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-get-items-by-query-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
  shared/src/packages/journal/libs/validation-schemas/find-by-query-jounral-entries.validation-schema.ts
  shared/src/packages/journal/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-296: * styles button
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
