Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-295: * handle delete journal logic
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * implement meditation entries in list
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation entries mocked constant
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-291: - errorType, details and status from AuthError
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/libs/packages/http/libs/exceptions/auth-error.exception.ts
  frontend/src/libs/packages/store/libs/enums/enums.ts
  frontend/src/libs/packages/store/middlewares/handle-unauthorized/handle-unauthorized.middleware.ts
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + icon for delete
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-160: * meditation create form file
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-269: + icon to types and maps
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + button styles
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * input file control implementation
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + type for button
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * meditation modal submit and input props
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * default meditation payload file
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + styles for card
  mobile/src/libs/components/card/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + new functionality for card
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + styles for modal
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + reusable modal component
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + modal to components file
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + modal to chat list screen
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * currentColor in icon
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-269: * type of modal
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + Chat type
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: + backend meditation create request dto
  backend/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation controller create request
  backend/src/packages/meditation/libs/types/types.ts
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditataion enums
  backend/src/packages/meditation/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + backend create meditation validation
  backend/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  backend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * backend meditation reexports
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * shared meditation exports
  shared/src/index.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: - meditation create form data dto
  shared/src/packages/meditation/libs/types/meditation-entry-create-form-data-dto.type.ts
  shared/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: - meditation request validation schema
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation player remove loader
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: * ReactNode
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-291: - isRejected from handleUnauthorized
  frontend/src/libs/packages/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/libs/packages/store/middlewares/handle-unauthorized/handle-unauthorized.middleware.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-296: * ReactNode
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: + todo comment
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * naming
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: + execute
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: + forwardRef to modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: + item to id
  frontend/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * delete userId in JournalEntryUpdateRequestDto, add JournalEntryUpdatePayloadDto
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/journal.ts
  frontend/src/packages/journal/libs/types/types.ts
  frontend/src/slices/journal/actions.ts
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-update-payload-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-update-request-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-268: * change getCursorPosition to setCursorPosition
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/set-cursor-position.helper.ts
  frontend/src/pages/journal/components/note/note.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
