Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + chat api path
  backend/src/packages/chats/libs/enums/enums.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat package root file
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat controller
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat routes in server api
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + create chat controller method
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: * rename chat types
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat create method
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat request dto
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat swagger doc
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-204: - root path on root component
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-196: * user profile image
  mobile/src/assets/img/user-placeholder.png
Due: npm run lint:editor && npm run lint:fs

cp-187: * everything to users in the withoutPassword modifier
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-196: * improvements to useSelector
  mobile/src/screens/dashboard/dashboard.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * variables names in use-track-player-progress hook
  mobile/src/libs/hooks/use-track-player-progress/use-track-player-progress.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * fix styles
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/modal/libs/constants.ts
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * removed extra file
  frontend/src/libs/maps/icon-name-to-plain-svg.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + attempt to use card component in profile settings sidebar
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: * update chat types
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/create-chat-payload.type.ts
  backend/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-233: * fixed padding
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-189: + create chat request body validation schema
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-234: + journal to tab navigation
  mobile/src/assets/img/icons/journal.svg
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + service method for finding all messages by chat id
  backend/src/packages/messages/message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * renames messages to chatMessages
  backend/src/packages/chat-messages/chat-message.entity.ts
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/libs/enums/chat-messages-table-column.enum.ts
  backend/src/packages/chat-messages/libs/enums/enums.ts
  backend/src/packages/messages/message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + exporting file for chat messages package
  backend/src/packages/chat-messages/chat-messages.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-234: + journal slice
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/journal/journal-api.ts
  mobile/src/packages/journal/journal.ts
  mobile/src/packages/journal/libs/enums/enums.ts
  mobile/src/packages/journal/libs/types/types.ts
  mobile/src/screens/journal/styles.ts
  mobile/src/slices/journal/actions.ts
  mobile/src/slices/journal/journal.slice.ts
  mobile/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * css fixex for sidebar
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * import fix
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fixed typing in the card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: + journal entries display
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * changed how the full name is retrieved from the slice
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + init chat slice
  frontend/src/packages/chat/chat.ts
  frontend/src/packages/chat/libs/types/types.ts
  frontend/src/slices/chat/chat.slice.ts
  frontend/src/slices/chat/chat.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fixed visual bug in card component making svgs from settings sidebar move away from the border
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + chat api
  frontend/src/packages/chat/chat-api.ts
  frontend/src/packages/chat/chat.ts
  frontend/src/packages/chat/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat api create chat method
  frontend/src/packages/chat/chat-api.ts
  frontend/src/packages/chat/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * ReturnType to TrackPlayerControls
  mobile/src/libs/hooks/use-track-player-controls/use-track-player-controls.hook.ts
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: * rename chat related files
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/enums/enums.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/slices/chat/chat.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat to the store
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + get all chats action
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: - button component in controls folder
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/screens/meditation/components/controls/components/button/button/button.tsx
  mobile/src/screens/meditation/components/controls/components/button/button/styles.ts
  mobile/src/screens/meditation/components/controls/components/components.tsx
  mobile/src/screens/meditation/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: - TrackPlayer register
  mobile/index.js
  mobile/service.js
  mobile/src/screens/meditation/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
