Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-336: + chat fonts
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + dashboard fonts
  mobile/src/screens/dashboard/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + meditation fonts
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + meditation item fonts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + settings fonts
  mobile/src/screens/notification-settings/components/setting/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + preferences step fonts
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + survey category fonts
  mobile/src/screens/survey/components/survey-category/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + survey fonts
  mobile/src/screens/survey/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * renamed fonts due to quality criteria
  mobile/src/assets/fonts/montserrat-semi-bold.ttf
Due: npm run lint:editor && npm run lint:fs

cp-336: * linking
  mobile/android/app/src/main/assets/fonts/montserrat-semi-bold.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/CalmPal.xcodeproj/project.pbxproj
  mobile/ios/CalmPal/Info.plist
  mobile/ios/link-assets-manifest.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * fonts naming
  mobile/src/libs/enums/ui/font-family.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: - comment
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * transparent
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * improved imports
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * import swipeable
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + billing package
  backend/src/libs/packages/billing/billing.package.ts
  backend/src/libs/packages/billing/billing.ts
  backend/src/libs/packages/billing/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + init subscription service
  backend/src/packages/subscriptions/subscription.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: * button styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * styles for cancel
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * styles for delete
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * linter improvement
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * fonts naming
  mobile/android/app/src/main/assets/fonts/ontserrat-egular.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/CalmPal.xcodeproj/project.pbxproj
  mobile/ios/CalmPal/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/src/assets/fonts/ontserrat-egular.ttf
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * imporved naming
  mobile/android/app/src/main/assets/fonts/montserrat-regular.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/CalmPal.xcodeproj/project.pbxproj
  mobile/ios/CalmPal/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/src/assets/fonts/montserrat-regular.ttf
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + init subscription controller
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/subscriptions/libs/enums/enums.ts
  backend/src/packages/subscriptions/libs/types/types.ts
  backend/src/packages/subscriptions/subscription.controller.ts
  backend/src/packages/subscriptions/subscriptions.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/subscriptions/libs/enums/enums.ts
  shared/src/packages/subscriptions/libs/enums/subscription-api-path.enum.ts
  shared/src/packages/subscriptions/libs/types/subscription-payment-intent-create-request-dto.type.ts
  shared/src/packages/subscriptions/libs/types/types.ts
  shared/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-347: * subscription service create payment intent payload type
  backend/src/packages/subscriptions/subscription.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + hasIconRight flag to card component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + declare stripe public key env on frontend
  frontend/.env.example
  frontend/src/libs/packages/config/base-config.package.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + stripe packages in frontend
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + check for isDirty to hadleBeforeUnload to prevent redundant update if nothing was changed
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + isDirty to dependencies in useEffect
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - setting selectedJourney in slice for update action
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + border and box-shadow for title and text when they are focussed
  frontend/src/pages/journal/components/note/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-232: + sanitized input helper
  mobile/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: * npm updating undoned
  backend/package.json
  frontend/package.json
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/packages/store/store.package.ts
  mobile/package.json
  package-lock.json
  package.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-232: + imports form shared for journal
  mobile/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * imports
  mobile/src/packages/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * small imporvements to journal api
  mobile/src/packages/journal/journal-api.ts
  mobile/src/packages/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + updateJournalEntry
  mobile/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + createJournalEntry
  mobile/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
