Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-14: + error for users service
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/users-error/users-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-14: + message for exception when user if already exists
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * input hasRows
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * textarea to input
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: - textarea component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/textarea/styles.module.scss
  frontend/src/libs/components/textarea/textarea.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: - survey get all response dto
  frontend/src/packages/survey/libs/types/types.ts
  frontend/src/packages/survey/survey.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/types/survey-get-all-response-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-49: * isSurveyCompleted in user auth dto
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * create preferences in auth slice
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  frontend/src/slices/auth/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey reducer in store
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey iput dto options
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-49: * implement auth slice
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * protected route to survey
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: - survey slice
  frontend/src/slices/survey/actions.ts
  frontend/src/slices/survey/survey.slice.ts
  frontend/src/slices/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * variables
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/survey-category/styles.module.scss
  frontend/src/pages/surveys/components/preferences-step/styles.module.scss
  frontend/src/pages/surveys/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-49: * survey validation schema
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-14: + findByEmail method
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + error throwing when user is already exists
  backend/src/libs/exceptions/exceptions.ts
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + added UsersError to a exceptions helper function
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * changed throwing error to returning null in user service find methods
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-55: * icon component
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/arrow.svg
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/plus.svg
  frontend/src/libs/enums/enums.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  package.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: * use debounce to debounce func
  frontend/src/libs/components/chat-sidebar/chat-element/styles.module.scss
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/search/libs/constants.ts
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/hooks/use-debounce/use-debounce.hook.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-14: - Users error
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/users-error/users-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-78: + base implementation of controls component
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + base implementation of progress bar component
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + base implementation of aydio player component
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + base implementation of meditation player component
  frontend/src/libs/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + format time helpers
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/helpers/get-format-time.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-14: * changed type of signUp function in auth service
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * requested changes
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + shared validation survey schema, user survey to redux
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/survey/libs/enums/enums.ts
  mobile/src/packages/survey/libs/types/types.ts
  mobile/src/packages/survey/libs/validation-shemas/validation-schemas.ts
  mobile/src/packages/survey/survey.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-textarea-options.enum.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/types/survey-get-all-item-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/survey.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-81: + switch checkbox component
  frontend/src/libs/components/switch/styles.module.scss
  frontend/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-50: * updateIsSurveyCompleted and completeSurvey as it were before
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-55: + trash-box icon
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/chat-sidebar/chat-element/styles.module.scss
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/trash-box.svg
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: + constants fro survey
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/libs/constants.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * imports to prevent circular dependency
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * remove root route
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: - root component
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-50: + isSurveyCompleted to findByEmail method
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * sidebar export
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
