Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-49: + input constants
  frontend/src/libs/components/input/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: * move types to types export file
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/switch/switch.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/types/types.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey constants
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * input rows count
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * adjust the svg name
  frontend/src/assets/img/button-icon.svg
Due: npm run lint:editor && npm run lint:fs

cp-101: * styles for components
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + add back some sidebar styling
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-82: * avatar img
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: + add back some button styling
  frontend/src/assets/img/button-icon.svg
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-27: * import path
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * move notificationPayload to types folder
  mobile/src/libs/types/notification/notification-payload.ts
  mobile/src/libs/types/notification/notification.ts
  mobile/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: + debounce lib helper
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-debounce/libs/constants/constants.ts
  frontend/src/libs/hooks/use-debounce/use-debounce.hook.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-82: * user profile to protect route
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: * move form related types to a separate file
  frontend/src/libs/types/form/form.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-101: + meditation to bottomTab
  mobile/src/assets/img/icons/meditations.svg
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-98: + submit button hover
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-98: + sign in link hover
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-87: + improvments
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-87: * changed styles
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-87: * media query
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-27: * properties type to type foldel
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/libs/types/notification/notification-properties.ts
  mobile/src/libs/types/notification/notification.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * cherry picked changes from cp-61 commit number fbfe9b995cdf64186e220589f75891f0b1f4031a
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/arrow.svg
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/plus.svg
  frontend/src/libs/enums/enums.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  package.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-27: * notification types location
  mobile/src/libs/packages/notification/libs/types/notification-payload.ts
  mobile/src/libs/packages/notification/libs/types/notification-properties.ts
  mobile/src/libs/packages/notification/libs/types/notification.ts
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-98: * shades of gray color
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-51: * logics of survey and categories selection
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/libs/constants.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/survey-category/survey-category.tsx
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/libs/constants.ts
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
  mobile/src/slices/auth/auth.slice.ts
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-12: * getUsersErrorInfo, AuthService, UserWithPasswordEntity, UserModel
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/libs/types/user-with-password-query-response.ts
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-51: * button property style
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * minor types changes
  mobile/src/libs/components/input/input.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-12: * findByEmailWithPassword return type
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.service.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-51: * get survey preferences
  mobile/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: + icon component
  frontend/package.json
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/backward.svg
  frontend/src/libs/components/icon/icons/forward.svg
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/next.svg
  frontend/src/libs/components/icon/icons/pause.svg
  frontend/src/libs/components/icon/icons/play.svg
  frontend/src/libs/components/icon/icons/previous.svg
  frontend/src/libs/enums/enums.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-78: * audio player component
  frontend/src/libs/components/meditation-player/components/audio-player/audio-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-101: + basic meditation topic layout
  mobile/src/assets/img/card-image-placeholder.png
  mobile/src/assets/img/icons/play.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants.ts
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/screens/meditation/components/components.tsx
  mobile/src/screens/meditation/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation/components/meditation-item/styles.ts
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * button component and it style
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * controls, progressBar, meditationPlayer components
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/audio-player/styles.module.scss
  frontend/src/libs/components/meditation-player/components/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/components/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/components/meditation-player.tsx
  frontend/src/libs/components/meditation-player/components/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-27: * import packages and move packages and re exported from correct file
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/packages/notification/libs/enums/enums.ts
  mobile/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  mobile/src/libs/packages/notification/libs/types/notification-payload.ts
  mobile/src/libs/packages/notification/libs/types/notification-properties.ts
  mobile/src/libs/packages/notification/libs/types/types.ts
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/libs/packages/notification/notification.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.ts
  mobile/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * title message in error notification
  mobile/src/libs/packages/notification/notification.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-108: * change colors naming
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * middleware file and re exported
  mobile/src/libs/packages/store/middlewares/handle-error.middleware.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix constants
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
