Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-54: - remove constants folder
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * pause.svg
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon/icons/pause.svg
  frontend/src/libs/components/meditation-player/components/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/components/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-55: * debounce func name
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: + card component
  frontend/public/chat-logo.svg
  frontend/public/images/card-image-placeholder.png
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/chat-sidebar/chat-card-item/chat-card-item.tsx
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-82: * removed vh, changed profile-sidebar name
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/pages/user-profile/components/components.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-91: * sidebar css for position sticky
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-84: * linter merging issue
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-54: * fix debounce
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/badge/badge.tsx
  shared/src/libs/helpers/debounce/debounce.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-54: * fix linter errors
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: * Fix Header responsive & App Overflow
  frontend/src/assets/css/scaffolding.scss
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/header/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-4: * generic cd config for all future envs
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-78: * functions name and some style for mobile
  frontend/src/libs/components/meditation-player/components/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/components/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/components/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: + opacity for input for firefox
  frontend/src/libs/components/meditation-player/components/audio-player/progress-bar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-4: * provide some envs as build extra args into docker image
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-51: * naming changes in validation schema for survey
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-61: * change icon component name
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-22: * sign in flow
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * naming onSubmit to handleSubmit
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + add Icon component to ProfileSettingsButton component
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/sign-out.svg
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: + used Icon component for the avatar
  frontend/src/libs/components/icon/icons/avatar.svg
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: * move icons to assets/icons
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/avatar.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/sign-out.svg
  frontend/src/libs/components/icon/icon-map.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * move icons to assets folder and add Icon to their name
  frontend/public/images/pause.svg
  frontend/src/assets/icons/backward.svg
  frontend/src/assets/icons/forward.svg
  frontend/src/assets/icons/next.svg
  frontend/src/assets/icons/pause.svg
  frontend/src/assets/icons/play.svg
  frontend/src/assets/icons/previous.svg
  frontend/src/libs/components/icon/icon-map.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/backward.svg
  frontend/src/libs/components/icon/icons/forward.svg
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/next.svg
  frontend/src/libs/components/icon/icons/play.svg
  frontend/src/libs/components/icon/icons/previous.svg
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + get survery categories helper
  shared/src/packages/surveys/libs/helpers/get-survey-categories.ts
  shared/src/packages/surveys/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-78: * move constants to types folder
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/components/meditation-player.tsx
  frontend/src/libs/components/meditation-player/libs/types.ts
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * survey validation schema
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-55: * icon component
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/trash-box.svg
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/icon-map.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * shared survey to surveys
  shared/src/index.ts
  shared/src/packages/surveys/survey.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-4: * split db connection string into separate config parts
  backend/.env.example
  backend/Dockerfile.development
  backend/package.json
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/database/base-database.package.ts
  docker-compose.services.yml
  frontend/Dockerfile.development
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: + get survery categories helper
  frontend/src/index.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + get survey categories helper
  frontend/src/packages/survey/libs/helpers/helpers.ts
  frontend/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * form types
  frontend/src/libs/types/form/form.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * navigate component export
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-4: * allow /health endpoint and remove static one from white routes config
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-113: + profile settings screen, settings component, switch button component
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/switch/styles.ts
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/profile-settings/components/components.ts
  mobile/src/screens/profile-settings/components/setting/setting.tsx
  mobile/src/screens/profile-settings/components/setting/styles.ts
  mobile/src/screens/profile-settings/libs/constants.ts
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * has no survey in app coponent
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * input has rows
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey imports, namings, helper
  frontend/src/libs/components/survey-category/survey-category.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * adjust Icon component
  frontend/src/assets/icons/avatar.svg
  frontend/src/libs/components/icon/icon-map.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-4: * temporary set development app url
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: - redundant сd env variables
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs
