Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * to kebab-case class-names
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * styles to kebab-case
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-56: + adding comments suggestions
  backend/src/db/helpers/migration-helper.ts
  backend/src/db/migrations/20230215152530_add_users_table.ts
  backend/src/db/migrations/20230822120000_add_chats_table.ts
  backend/src/db/migrations/20230822123000_add_chat_messages_table.ts
  backend/src/libs/enums/chat-messages-table-columns.ts
  backend/src/libs/enums/chats-table-columns.ts
  backend/src/libs/enums/common-table-columns.ts
  backend/src/libs/enums/database-table-name.enum.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/enums/table-columns/chat-messages-table-column.enum.ts
  backend/src/libs/enums/table-columns/chats-table-column.enum.ts
  backend/src/libs/enums/table-names.ts
  backend/src/libs/enums/user-table-columns.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: * notification service as class
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-56: + adding comments suggestions, avoided magic strings
  backend/src/db/migrations/20230822123000_add_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * fixed imports
  backend/src/libs/packages/database/database.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-get-all-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-14: * made all enums singular
  backend/src/libs/packages/database/libs/enums/table-columns/common-table-columns.enum.ts
  backend/src/libs/packages/database/libs/enums/table-columns/user-details-table-columns.enum.ts
  backend/src/libs/packages/database/libs/enums/table-columns/users-table-columns.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-56: + chagen enums to apropiate folder
  backend/src/libs/enums/database-table-name.enum.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/table-columns/chat-messages-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/table-columns/chats-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: + custom styles
  mobile/src/libs/components/toast/toast.tsx
  mobile/src/libs/packages/services/notification-service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: + encrypt service
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/encrypt/encrypt.service.ts
  backend/src/libs/packages/encrypt/encrypt.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * separated user entiry initialization and getting the initialization object
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * server application adding survey controller
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * change createdAt and updatedAt type from string to Date
  backend/src/packages/surveys/survey.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * fixed imports
  backend/src/libs/packages/database/database.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * fixed imports
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + survay screen and preferences step starter component
  mobile/src/libs/components/components.tsx
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * fixed redundant conditions
  backend/src/libs/packages/encrypt/encrypt.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: + styles to move inline styles
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * moved columns namesgit status
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/enums/common-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/table-columns/user-details-table-column.enum.ts
  backend/src/packages/users/libs/enums/table-columns/users-table-column.enum.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + survey category component and styles to it, minor changes in imports
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/survey-category/styles.ts
  mobile/src/libs/components/survey-category/survey-category.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * name of styles and write more specific type properties
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * input class-names
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * input styles and classes
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-50: + isSurveyCompleted flag when getting all users
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-38: * path to the icon
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-12: * signIn method in the auth ctrl
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * convert createdAt/updatedAt to the Date type
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * findByEmail/findById methods in the user service
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: - fullName because it will be implemented in the cp-14
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * UserValidationMessage
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-12: * commonUserFields to commonAuthFields
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-38: * fix returned value
  mobile/src/screens/main/home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: + button styles
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-13: * button styles integration
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + button styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * sign in form styles and classes
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * sign-up style, classes
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-27: * ToastComponent to Toast
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * fixing the requested changes
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/components/toaster/toaster.tsx
  frontend/src/libs/packages/services/notification-service.ts
  frontend/src/libs/packages/store/middlewares/handle-error.middleware.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/packages/store/store.ts
  frontend/src/slices/notifications/actions.ts
  frontend/src/slices/notifications/notification.slice.ts
  frontend/src/slices/notifications/notification.ts
  frontend/vite.config.ts
  mobile/babel.config.js
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-23: * colors names in AppColor enum and in related files
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
