Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-296: * modal properties
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + modal to components
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * color constant
  mobile/src/libs/hooks/use-press-state/use-press-state.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + note removement functional with modal
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * typescript imporvements
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + type for modal
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * type note imporvements
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + type assertion in note.tsx
  frontend/src/libs/components/note/note.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * change initialize to initializeNew in create method in journalEntry service
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-296: * imporved modal and button styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * payload in update method in service
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  frontend/src/libs/components/note/note.tsx
  frontend/src/packages/journal/journal-api.ts
  shared/src/packages/journal/libs/types/journal-entry-update-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-160: * handle click outside hook
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * form types
  frontend/src/libs/types/form/form.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * error message in components
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-106: * implement form imports in input file
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * redundant sting message in validation
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-161: - removed unnecessary styles
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/navigation-menu/styles.module.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: + padding to sidebar-lists
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + draft logic for rendering player rout
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * import fixes
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + 422 error to swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * create meditation validation schema
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * app from hook watch
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * implement file validation in components
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation slice data status naming
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * payload in create method in journalEntry service
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/create-journal-entry-payload.type.ts
  backend/src/packages/journal-entries/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * app form remove watch
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * shared index exports
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

development: * ts shared config
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: + deleting backend functionality
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/journal-entry-delete-parameter.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/journal/libs/enums/journal-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * common modal with reference
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meidtation relations file names
  backend/src/packages/meditation/libs/enums/enums.ts
  backend/src/packages/meditation/libs/enums/meditation-entries-relation.enum.ts
  backend/src/packages/meditation/libs/enums/meditation-topics-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * add meditation modal name
  frontend/src/pages/meditation/components/components.ts
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation modal has error
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * add meditation modal is disabled button
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/styles.module.scss
  frontend/src/pages/meditation/components/components.ts
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * meditation sidebar selected card
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation entry create file properties
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * implement meditation entry form changes
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-246: * pass width and height as attributes to icon.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
