Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-115: * minor fixes
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * minor changes in imports and naming
  mobile/src/libs/components/survey-category/survey-category.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-86: * merge conflicts
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * merge conflicts
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * redundant imports
  frontend/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + add draft logic for marking active button
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/icon/icon-map.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-50: - survey error
  backend/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/surveys-error/surveys-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-50: + updating preferences if they exist
  backend/src/libs/types/repository.type.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: * adjust icon
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-112: * user schema
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + esbuild as dev dependency
  backend/src/libs/exceptions/exceptions.ts
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-55: * minor fix
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-115: * exception message
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-55: * minor fixes
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-101: + input-search
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/home/home.tsx
  mobile/src/screens/meditation/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: - useless .js extension
  mobile/src/screens/survey/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * survey validation schema
  backend/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/surveys/survey.controller.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/enums/survey-validation-rule.enum.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/survey-request.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-51: * hasAuth to true
  mobile/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * requested changes
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * increase version of configure aws credentials action
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-55: + type for search, fix imports, remove key
  frontend/src/libs/components/chat-sidebar/chat-card-item/chat-card-item.tsx
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/types/search.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-49: * linter errors
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: * fix debounced
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/debounce/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-54: * fix conditions
  mobile/src/libs/components/input-search/input-search.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: * updated merge conflicts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * fix imports in icon component
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * move icon-name-to-plain-svg to libs/maps
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-50: * survey validation schema
  backend/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/surveys/survey.controller.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-61: * attempt to replace enums with a union type
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-49: * merge conflicts
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * value of type file name
  frontend/src/libs/types/sidebar-route.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/libs/types/value-of.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + icon button component
  mobile/src/assets/img/icons/user.svg
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/libs/components/icon-button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * no completed survey behaviour
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: - optional chaining
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + new draft of active button logic
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: * return conditions
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * getFormatTime function
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon-map.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/meditation-player.tsx
  frontend/src/libs/components/meditation-player/styles.module.scss
  frontend/src/libs/helpers/get-format-time.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: * placeholder
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * survey category moved to screens/survey/components
  mobile/src/libs/components/components.tsx
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/survey-category/styles.ts
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
