Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-27: + notification enum and add private show method in service
  mobile/src/libs/enums/notification/notification.enum.ts
  mobile/src/libs/enums/notification/notification.ts
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * button class name
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: + rout for chat screen
  mobile/src/assets/img/icons/chat.svg
  mobile/src/assets/img/icons/home.svg
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/home/home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + colors and rename old colors
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + input attributes
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + chat screen and chatItem
  mobile/src/assets/img/icons/arrow-left.svg
  mobile/src/assets/img/temp/chat-item.png
  mobile/src/libs/types/index.d.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-item.tsx
  mobile/src/screens/chat/components/styles.ts
  mobile/src/screens/chat/data.json
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * middleware to call an action that trigger the Toast
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/slices/notifications/actions.ts
  mobile/src/slices/notifications/notifications.slice.ts
  mobile/src/slices/notifications/notifications.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * improvment to button component for survey
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * made rounds required and got rid of using default number in config
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/encrypt/base-encrypt.package.ts
  backend/src/libs/packages/encrypt/libs/types/encrypt.type.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * using config in service constructor
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + sign in button to survey
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * fixed types of fields in UserWithUserDetailsJoin
  backend/src/packages/users/libs/types/user-with-user-details-join.type.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * changed type name for creating user query
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-create-query-payload.ts
  backend/src/packages/users/libs/types/user-create-query-response.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: + dots for user validation messages
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-14: - redundant type
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-columns.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + improvements for disabled button when isSurvey
  mobile/src/libs/components/button/button.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * changed relational rule
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * FC to React.FC
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * fixed imports
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-22: * secure to isSecure
  mobile/src/index.d.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * FC to React.FC
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
  mobile/src/screens/chat-layout/components/message-item/message-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * minor structure changes
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * code structure improvements
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * color improvements
  mobile/src/libs/components/sign-background/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * code layout
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * boolean selected to isSelected
  mobile/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * boolean selected to isSelected
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * selected to isSelected
  mobile/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * minor changes to naaming
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * minor changes to naming
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * changed type name
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: + get authenticated user in auth service
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: + user in handler options
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: + authenticated user endpoint in auth controller
  backend/src/packages/auth/auth.controller.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-60: + react-hook-form for the input field
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
  mobile/src/screens/chat-layout/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * fix user sign-up request dto
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-60: * showAvatar to isAvatarVisible
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/message-item/message-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-29: * type user in the default api handler options type
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: + add basic sidebar layout and button component
  frontend/src/assets/img/avatar.svg
  frontend/src/assets/img/buttonIcon.svg
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * fix user sign-up request dto
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
