Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + current chat messages property in chat slice
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + create chat on the first message
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * common button imports
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation topics relation file nae
  backend/src/packages/meditation/libs/enums/enums.ts
  backend/src/packages/meditation/libs/enums/meditations-topics-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: - DatabaseTableName from meditation entries migration
  backend/src/db/migrations/20230824185213_add_meditation_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: * chat messages
  frontend/src/libs/helpers/generate-uuid.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/chat/chat-messages.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/libs/constants/constants.ts
  shared/src/index.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/enums/enums.ts
  shared/src/packages/chat/libs/enums/user-role.enum.ts
  shared/src/packages/chat/libs/types/chat-message.type.ts
  shared/src/packages/chat/libs/types/messages.type.ts
  shared/src/packages/chat/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-189: * chat messages
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * use initializeNew for entities creation
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changed DeleteAccountMessage title to lower case
  frontend/src/libs/components/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed deleteUser name to deleteAuthenticatedUser in auth.controller
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changed deleteUser name to deleteAuthenticatedUser in auth.service
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: - Removed the user check from auth service
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changed fail message to ExceptionMessage enum
  backend/src/packages/auth/auth.service.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-168: - Removed const userResponse and just left the id in auth.service
  backend/src/packages/auth/auth.service.ts
  frontend/src/slices/auth/actions.ts
  shared/src/packages/users/libs/types/user-delete-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-246: * Changed icon size and styles to fix the issue
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: + pause on screen transition
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/player.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + basic chat-api in frontend
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chat-messages/chat-messages.ts
  frontend/src/packages/chat-messages/libs/enums/enum.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * changed api path for chat-messages
  shared/src/packages/chat-messages/libs/enums/chat-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-289: + deny list for pwa service worker
  frontend/vite.config.ts
  nginx/nginx.development.conf
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + react-native-keep-awake library
  mobile/package.json
  mobile/src/libs/components/player/player.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: - check for empty text message
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * restore https request type for android app
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editor && npm run lint:fs

cp-170: * styles for player
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: - create chat request body
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/constants/constants.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-189: - members property in chat initialzNew method
  backend/src/packages/chats/chat.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: * create chat payload
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/libs/types/create-chat-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * implemented receiving url with param in chat-messages controller
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/chat-messages/chat-messages.controller.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  backend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-170: + "hover" effect on the control buttons
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/libs/constants.ts
  mobile/src/libs/components/player/libs/constants.ts
  mobile/src/libs/components/player/player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: - chadId field from type for creating messages
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-170: - toggling during rewind
  mobile/src/libs/components/player/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: * timer adjustment, naming and import fixes
  frontend/src/libs/components/meditation-timer/components/duration-button/timer-button.tsx
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * minor modal adjustment
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation enrty validation size error
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * adding hookform error message dependency
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-223: * back button position
  frontend/src/libs/components/backward-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: + shadow for sidebar
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: * use sidebar hook realization
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * sending request with debonce and handle before unload event
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-223: * useSidebar state implementation
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * chat page styles
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
