Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-159: + get the journaling step data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the feeling steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the goal steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/goal-step/goal-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the worries steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/goal-step/goal-step.tsx
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the meditation steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-168: * changed hard delete to soft delete without signUp
  backend/src/db/migrations/20230915120000_add_deleted_at_to_users_table.ts
  backend/src/libs/types/repository.type.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-159: * misspelling that produce a bug in receiving data
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/goal-step/goal-step.tsx
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: * changing tag name in styles
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/styles.module.scss
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-291: + AuthError exception
  frontend/src/libs/packages/http/http.ts
  frontend/src/libs/packages/http/libs/exceptions/auth-error.exception.ts
  frontend/src/libs/packages/http/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-291: + AuthError to BaseHttp
  frontend/src/libs/packages/api/base-http-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-291: + handleUnauthorized middleware
  frontend/src/libs/packages/store/libs/enums/enums.ts
  frontend/src/libs/packages/store/middlewares/handle-error/handle-error.middleware.ts
  frontend/src/libs/packages/store/middlewares/handle-unauthorized/handle-unauthorized.middleware.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * hanle click outside hook properties
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * rename create meditation form validation
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * create meditation request validation
  shared/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: - meditation create payload type
  shared/src/packages/meditation/libs/types/meditation-entry-create-payload.type.ts.ts
  shared/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: - meditation validation rule
  shared/src/packages/meditation/libs/enums/enums.ts
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + file upload validation rule
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/file-upload-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * shared exports
  shared/src/index.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * server app implement validation rule
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * backend exports of file validation rule
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * file uploading in meditation service
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.service.ts
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * common modal overlay styles
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-106: * frontend from shared imports
  frontend/src/packages/meditation/libs/types/types.ts
  frontend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation modal validation schema name
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * create meditation action, api
  frontend/src/packages/meditation/meditation-api.ts
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: - files libs package
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/files/files-api.ts
  frontend/src/packages/files/files.ts
  frontend/src/packages/files/libs/enums/enums.ts
  frontend/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * rename NOTE_TIMEOUT to SAVE_NOTE_TIMEOUT
  frontend/src/libs/components/note/libs/constants.ts
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * rename newJournalEntry to item in journal entry service
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: - vite-lugin-svgr from dependencies in frontend/package.json
  frontend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * rename journal validation schema
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
  shared/src/packages/journal/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: - watch in useAppForm hook
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - body property in journalEntryUpdateRequestDto
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  frontend/src/libs/components/note/note.tsx
  frontend/src/packages/journal/journal-api.ts
  shared/src/packages/journal/libs/types/journal-entry-update-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-272: - chats folder in shared
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/packages/chats/chats-api.ts
  mobile/src/packages/chats/chats.ts
  mobile/src/packages/chats/libs/enums/enums.ts
  mobile/src/packages/chats/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/user-to-chat-response-dto.type.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: - className property and useEffect for selectedJournalEntry in note.tsx
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * Note adding and added useEffect for set selectedJournalEntry after page reloading
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-272: + redirecting to chat page if there is no chats
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/packages/chats/chats-api.ts
  mobile/src/packages/chats/chats.ts
  mobile/src/packages/chats/libs/enums/enums.ts
  mobile/src/packages/chats/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/constants.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * move note folder from components to pages/journal/components
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/note/libs/constants.ts
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/components/note/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/libs/constants/constants.ts
  frontend/src/pages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-194: + type assertion to selectedJournalEntry as it is always present in note.tsx
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * rename IOptions to SanitizeHtmlOptions in sanitize input handler
  shared/src/libs/helpers/sanitize-input/sanitize-input.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-272: * button component
  mobile/src/libs/components/button/button.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
