Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-184: + sanitize input helper
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/sanitize-input.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * trigger mobile codemagic build
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * create meditation query payload
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * create meditation query response
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + add draft layout for timer
  frontend/src/libs/components/meditation-timer/libs/constants.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * fix filling envs of mobile codemagic build
  codemagic.yaml
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: + added draft styling
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/meditation-timer/styles.module.scss
  frontend/src/libs/components/modal/test-parent-component.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * meditation repository redundant execute
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entity topic name
  backend/src/packages/meditation/meditation.entity.ts
  backend/src/packages/meditation/meditation.service.ts
  shared/src/packages/meditation/libs/types/meditation-entry-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * create meditation action topic name
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + users_to_chats table
  backend/src/db/migrations/20230911095740_create_users_to_chats_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/users-to-chats-table-column.enum.ts
  backend/src/packages/chats/libs/enums/table-columns/users-to-chats-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + uses to chat response type
  backend/src/packages/chats/libs/types/chat-common-query-response.type.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/user-to-chat-query-response.type.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/user-to-chat-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * drag zone line height
  frontend/src/libs/components/input-file/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-189: - chat members column in enum
  backend/src/libs/packages/database/libs/enums/chats-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * button icon props
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + user to chat model
  backend/src/packages/chats/user-to-chat.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * button icon implementation
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat relation mappings
  backend/src/packages/chats/chat.model.ts
  backend/src/packages/chats/libs/enums/chats-relation.enum.ts
  backend/src/packages/chats/libs/enums/enums.ts
  backend/src/packages/chats/libs/enums/table-columns/chats-table-column.enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * customDebounce
  shared/src/libs/helpers/debounce/custom-debounce.helper.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-189: * chat entity members type
  backend/src/packages/chats/chat.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + added variable colors and hover
  frontend/src/libs/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-189: * chat repository methods
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: * create chat payload
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: * chat swagger documentation
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + users to chats table in readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: * readme users to chats table
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: * findAllByUserId query
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: - removed status icon logic and styling, adjusted general styles
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-234: - useAppRoute in journal.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * renamed ProfileSettingsSidebar into UserProfile
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - userId from JournalEntryCreateRequestDto and JournalEntryUpdateRequestDto
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  frontend/src/libs/components/note/note.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  shared/src/packages/journal/libs/types/journal-entry-create-request-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-update-request-dto.type.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-170: * comment in meditation-track
  mobile/src/libs/types/meditation/meditation-track.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * file rename, folder rename
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/profile-settings-sidebar/constants/constants.ts
  frontend/src/libs/components/profile-settings-sidebar/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modal with dialog component
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * adjusted the constant name
  frontend/src/libs/components/profile-settings-sidebar/constants/constants.ts
  frontend/src/libs/components/profile-settings-sidebar/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + navigate to recently created note path
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * rename chat icon file
  frontend/src/assets/icons/chat.svg
Due: npm run lint:editor && npm run lint:fs

cp-65: - chat route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * rename chat icons files
  frontend/src/assets/icons/chat-page.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * make label in the button required
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
