Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-156: * survey number one constant hotfix
  frontend/src/pages/surveys/libs/constants/constants.ts
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-514: * button component primary styles
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-514: * delete account form error handling
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/delete-account-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: * migration default hotfix
  backend/src/db/migrations/20230923060705_add_more_steps_in_survey_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * fix file upload
  .eslintrc.yml
  backend/src/index.d.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/s3/libs/types/types.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-file-error-info.helper.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/exceptions/exceptions.ts
  backend/src/packages/files/libs/exceptions/file-error.exception.ts
  backend/src/packages/files/libs/types/file-upload-request-dto.type.ts
  backend/src/packages/files/libs/types/types.ts
  backend/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  shared/src/index.ts
  shared/src/libs/enums/content-type.enum.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/file-error/file-error.exception.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/file-upload-content-type-to-extension.enum.ts
  shared/src/packages/files/libs/enums/file-upload-validation-message.enum.ts
  shared/src/packages/files/libs/enums/file-upload-validation-rule.enum.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

development: * show latest mediations at the top
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: - unnecessary execute call
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * adjust padding-line-between-statements eslint rule
  .eslintrc.yml
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/users/user.repository.ts
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/router-provider/libs/helpers/iterate-nested-route-element/iterate-nested-route-element.helper.tsx
  frontend/src/libs/components/switch/switch.tsx
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/update-editor-state/update-editor-state.helper.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/on-change/on-change.plugin.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/profile-settings/components/notifications/notifications.tsx
  frontend/src/pages/profile-settings/components/setting/setting.tsx
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/checkout-form.tsx
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
  frontend/src/pages/profile-settings/components/subscription/components/subscription-plan/subscription-plan.tsx
  frontend/src/pages/profile-settings/components/subscription/subscription.tsx
  frontend/src/pages/profile-settings/profile-settings.tsx
  frontend/src/slices/auth/actions.ts
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/timer-button.tsx
  mobile/src/screens/notification-settings/components/setting/setting.tsx
  mobile/src/screens/notification-settings/notification-settings.tsx
  shared/src/libs/helpers/date/get-shifted-date/get-shifted-date.helper.ts
  shared/src/libs/helpers/get-megabytes-from-bytes/get-megabytes-from-bytes.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

development: + lines-between-class-members eslint rule
  .eslintrc.yml
  backend/src/libs/packages/jwt/jwt.service.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/users/user.service.ts
  mobile/src/packages/chat-messages/chat-messages-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * move errors to appropriate packages
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-chat-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/exceptions/chat-error/chat-error.exception.ts
  backend/src/packages/chats/libs/exceptions/exceptions.ts
  backend/src/packages/journal-entries/journal-entries.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/exceptions/exceptions.ts
  backend/src/packages/journal-entries/libs/exceptions/journal-error/journal-error.exception.ts
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/users/libs/exceptions/exceptions.ts
  backend/src/packages/users/libs/exceptions/user-error/user-error.exception.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

development: * tsconfig module
  backend/tsconfig.json
  frontend/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * enforce iam auth role for aws sdk
  .github/workflows/ci-db-migration.yml
  .github/workflows/ci-postman-tests.yml
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/s3/s3.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
