Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-23: * color white to AppColor.WHITE
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/link/styles.ts
  mobile/src/screens/auth/components/label/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * renamed abbreviations of Img to Tmage
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * button improvements
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * input component improvement for better UX
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: - changes to button component
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * label structure
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: - repeated check of response
  mobile/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * survey table migration by limiting varchar type to 1000
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * rename createErrorResponse to getErrorInfo
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-auth-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-default-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-http-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-validation-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handlers.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-handler.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-parameter.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-response.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/types.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * change user relation for surveys
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * fastify request user type
  backend/src/index.d.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

development: * make padding-line-between-statemetns eslint rule stricter
  .eslintrc.yml
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/packages/auth/auth-api.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * move table-column enums to enums folder
  backend/src/libs/packages/database/libs/enums/chat-messages-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/chats-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * move table-column enums to enums folder
  backend/src/libs/packages/database/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * move auth error exception to shared module
  backend/src/libs/exceptions/auth-error/auth-error.exception.ts
  backend/src/libs/exceptions/exceptions.ts
  shared/src/index.ts
  shared/src/libs/exceptions/auth-error/auth-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-17: * refactor getErrorInfo helper
  backend/src/libs/packages/server-application/libs/helpers/error-info-label-map/error-info-label-map.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-auth-error-info.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-default-error-info.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-auth-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-http-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handle-validation-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/handlers/handlers.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-handler.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-info.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * implemeted using queries for joins and mapper
  backend/src/packages/users/libs/enums/users-relation.enum.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-15: * minor fixes
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-60: + styles for messages
  mobile/src/libs/components/components.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/message-item/message-item.tsx
  mobile/src/screens/chat-layout/components/message-item/styles.ts
  mobile/src/screens/chat-layout/libs/constants.ts
  mobile/src/screens/chat-layout/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * change button class-names position
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-14: - enum for common columns
  backend/src/libs/packages/database/database.ts
  backend/src/libs/packages/database/libs/enums/common-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/table-columns/user-details-table-column.enum.ts
  backend/src/packages/users/libs/enums/table-columns/users-table-column.enum.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * styles and AppColor enum
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/link/styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: + logics improvements for survey preferences step and design
  mobile/src/libs/components/survey-category/styles.ts
  mobile/src/libs/components/survey-category/survey-category.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-22: * fixed code linting errors
  mobile/src/libs/components/link/link.tsx
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * resolved linter errors
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/packages/auth/auth-api.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-22: * user validation schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-22: * label component
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * implemented encrypt as standard base package
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/encrypt/base-encrypt.package.ts
  backend/src/libs/packages/encrypt/encrypt.service.ts
  backend/src/libs/packages/encrypt/encrypt.ts
  backend/src/libs/packages/encrypt/libs/types/encrypt.type.ts
  backend/src/libs/packages/encrypt/libs/types/types.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * add helper extension to functions
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-auth-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-default-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + updateIsSurveyCompleted methods in user repository and service
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * createErrorInfo types
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-auth-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-default-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-validation-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/error-handler.type.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/types/types.ts
  backend/src/libs/packages/server-application/libs/types/error-info.type.ts
  backend/src/libs/packages/server-application/libs/types/error-parameter.type.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * rename http error helper
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - common validation schema
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-51: * minor changes for styles
  mobile/src/libs/components/survey-category/styles.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * secure to isSecure
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * color fixed
  mobile/src/libs/components/sign-background/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * db schema in readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * move table-column enums to enums folder
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-default-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  backend/src/libs/packages/server-application/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * replaced using mapper to direct mappint in initialize user entity
  backend/src/libs/packages/encrypt/base-encrypt.package.ts
  backend/src/packages/users/libs/enums/enums.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: * isSecure false by default
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
