Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-277: + padding in chat-divider styles
  mobile/src/screens/chat/components/chat-divider/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: * small changes
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-318: + logic improvements for comparison dynamic route with sidebar items
  backend/src/libs/packages/s3/s3.package.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/components/router-provider/libs/helpers/find-nested-child-route/find-nested-child-route.helper.ts
  frontend/src/libs/components/router-provider/libs/helpers/helpers.ts
  frontend/src/libs/components/router-provider/libs/helpers/iterate-nested-route-element/iterate-nested-route-element.helper.tsx
  frontend/src/libs/components/router-provider/libs/maps/maps.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/libs/helpers/check-is-selected-route.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/types/route/route.type.ts
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-156: * solving migration
  backend/src/db/migrations/20230923060705_add_surveys_steps_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-78: + useMediaQuery hook
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-media-query/use-media-query.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - QUERY_STRING_PARAMETERS constant in libs/constants folder
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
  frontend/src/libs/constants/query-string-parameters.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + useMediaQuery hook to meditation list, player and user profile components
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - if statement to use reversed value
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-416: * run postman tests on running local backend
  .github/workflows/ci-postman-tests-development.yml
  .github/workflows/ci-postman-tests.yml
  .postman/Calmpal.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * mmissing env variable for ci postman tests action
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * run backend in detach mode
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * sleep for starting backend before running tests in action
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * fix typo postman name config
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * network host for docker run newman
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * health check for locally running backend in action
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * health check for locally running backend in action for testing purpose
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: - useless job acripts
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * format job scripts ci postman tests action
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-416: * accomodate postman collection config for changed messages endpoint
  .postman/Calmpal.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: * adjusted the message prompt
  backend/src/packages/chat-messages/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changed conditinal check for type assertions
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-439: * fixing profile page height responsive
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
  frontend/src/pages/user-profile/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-439: * fixing journal page height responsive
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/pages/journal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-439: * fixing meditation page height responsive
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-439: * fixing chat page height responsive
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-463: * fix height responsive meditation player
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-439: * small fix chat backward button
  frontend/src/pages/chat/components/chat-header/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-416: + duration for meditation entry
  backend/package.json
  backend/src/db/migrations/20230927215934_add_duration_meditation_entries.ts
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
  backend/src/packages/meditation/meditation.entity.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  package-lock.json
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-get-all-item-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-416: + ffmpeg-installer
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: + ffprobe-installer
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: + ffprobe packages
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * restore package-lock
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * attempt to deal with ffmpeg and ffprobe packages
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-416: * revert attempt to deal with ffmpeg and ffprobe packages
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-455: + dark and light mode to porgress bar
  mobile/android/app/src/main/res/values/styles.xml
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
