Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-91: * sidebar position fixed
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-91: + margin-left for sidebar-wrapper body
  frontend/src/libs/components/sidebar-wrapper/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-55: * remove unnecessary dependencies
  package.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + add getValidClassNames for rendering classes in button and icon components
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - redundant enum for icon names
  frontend/src/libs/enums/enums.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: * removed comments, fixed imports, renamed files
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
  shared/src/libs/enums/icon-names.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend

cp-71: * renamed page for meditations
  frontend/src/index.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * implemented using Icon component for icons in entire project
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/meditation-tracks-list/meditation-track/meditation-track.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/types/route/route.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: + dependencies for debounce, svgr
  frontend/package.json
  package-lock.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + styles for profile category
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
  mobile/src/screens/profile/components/profile-category/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * save filteredData to state
  mobile/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * change iconNameToSvg to iconNameToIcon, move IconNames to frontend/libs/types
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/meditation-player/styles.module.scss
  frontend/src/libs/helpers/get-format-time.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/maps/maps.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: * fixing last comments
  frontend/src/libs/components/components.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/components.ts
  frontend/src/slices/chat/chat.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fix merge typo
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fixing helper sufix in its folder
  frontend/src/index.tsx
  frontend/src/libs/helpers/generate-uuid.helper.ts
  frontend/src/libs/helpers/get-valid-class-names.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: * checking of icon presence
  mobile/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * pressable for profile category
  mobile/src/libs/components/components.tsx
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
  mobile/src/screens/profile/components/profile-category/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + new styles for profile
  mobile/src/screens/profile/profile.tsx
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * moved IconName type from shaved to front end folder
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-71: * moved meditation track list to meditation page folder
  frontend/src/libs/components/components.ts
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/meditation-track.tsx
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
  frontend/src/pages/meditation/meditation-tracks-list/meditation-tracks-list.tsx
  frontend/src/pages/meditation/meditation-tracks-list/mock/mocked-tracks.ts
  frontend/src/pages/meditation/meditation-tracks-list/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-71: * renamed tracks mock to constants and moved it to meditation page folder
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/pages/meditation/constants/constants.ts
  frontend/src/pages/meditation/meditation-tracks-list/meditation-tracks-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fixing worng add message behaviour
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/user-message/user-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: + cast type for authenticatedUser
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-145: * fix code linting error
  mobile/src/screens/auth/components/label/label.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: * fix merge conflicts
  mobile/src/packages/users/users-api.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * fixed using wrong icons
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/meditation-track.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: + currentColor value for fill property for all svg icons
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/logo.svg
  frontend/src/assets/icons/meditation.svg
  frontend/src/assets/icons/play.svg
Due: npm run lint:editor && npm run lint:fs

cp-71: - basic styles file for icon component
  frontend/src/libs/components/icon/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: - className property from Icon component
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-142: * Clean up layout, remove everything related to get all users and remove label at the top
  mobile/src/packages/users/users-api.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * svgr import name
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * card element class-name
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-55: - chat-card element
  frontend/src/libs/components/chat-sidebar/chat-card-item/chat-card-item.tsx
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: + added libs folder and moved there constants and types for meditation page and its components
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/libs/types/track.type.ts
  frontend/src/pages/meditation/libs/types/types.ts
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/meditation-track.tsx
  frontend/src/pages/meditation/meditation-tracks-list/meditation-tracks-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * renamed plugin
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * icon component types, names
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
  shared/src/libs/enums/icon-name.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: * use search return type
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  frontend/src/libs/types/use-search/use-search-return.type.ts
  shared/src/libs/types/search.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: * search component logic
  frontend/src/libs/components/search/search.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: + styles for icon
  frontend/src/libs/components/icon/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-60: + chat navigation and header component
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/badge/badge.tsx
  mobile/src/libs/components/header/components/badge/styles.ts
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/libs/constants.ts
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/enums/navigation/chat-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
  mobile/src/screens/chat/components/chat-input/styles.ts
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
