Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-51: * categories to categoriesValue
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: - INVALID_ARRAY_INDEX
  mobile/src/screens/survey/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * survey schema name and filename to createSurveyForm
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-51: * maxLength moved to validation schema and used CreateSurveyValidationRule
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/libs/constants.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-51: - SPLICE_COUNT constant
  mobile/src/screens/survey/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + reset, fix debounced, remove ref
  mobile/src/libs/components/card/libs/constants.ts
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-70: * circular dependencies fix
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
  shared/src/packages/files/libs/types/s3-file-upload-request-dto.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-71: + page for meditation play list
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-tracks-list/meditation-track/meditation-track.tsx
  frontend/src/libs/components/meditation-tracks-list/meditation-track/styles.module.scss
  frontend/src/libs/components/meditation-tracks-list/meditation-tracks-list.tsx
  frontend/src/libs/components/meditation-tracks-list/styles.module.scss
  frontend/src/pages/meditation-play-list/meditation-play-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-131: * style name to focusedInput and logics improvements
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: * app slice redirect logic
  frontend/src/pages/auth/auth.tsx
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * Installing esbuild/win32-x64 as dependency
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * fixed missing slash in link
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - redundant comment
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-123: * fix conflicts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * Updating latest changes from development branch
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: - Removing esbuild/win32-x64 from Frontend
  frontend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * made icon component more versatile by using type and appropriate icons from assets
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/avatar.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/logo.svg
  frontend/src/assets/icons/meditation.svg
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/play.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/react.svg
  frontend/src/assets/icons/sign-out.svg
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  shared/src/index.ts
  shared/src/libs/types/icon-name.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-71: * fixed bug with wrong icons imports and missiong styles file for icon component
  frontend/package.json
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/icon/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-128: * auth action to check for token when app first load
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: * fix enum import
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: + comments solved
  frontend/package.json
  frontend/src/assets/icons/chat-icon.svg
  frontend/src/assets/icons/chat-logo.svg
  frontend/src/assets/icons/send-icon.svg
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/chat-layout/chat-layout.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/constants/blank.constant.ts
  frontend/src/libs/constants/chat-mock-data.constant.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-chat/use-app-chat.hook.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/types/chat-input-properties.type.ts
  frontend/src/libs/types/form/chat-state.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-input/chat-input.tsx
  frontend/src/pages/chat/components/chat-input/styles.module.scss
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chat/actions.ts
  frontend/src/slices/chat/chat.handler.ts
  frontend/src/slices/chat/chat.slice.ts
  frontend/src/slices/chat/chat.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  shared/src/packages/chat/libs/types/chat-message.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: + useState to useSearch Hook
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * fixing format
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fixing index in render
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey validation message
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * preferences step on change logic
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: - common constants
  frontend/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * fix categories on change logic
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * redundant input max length
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * fix create survey form validation schema
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey alidation rule export
  shared/src/index.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + shared to frontend survey enum export
  frontend/src/packages/survey/libs/enums/enums.ts
  frontend/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * implement input max length
  frontend/src/libs/components/input/input.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * move auth background from public to images
  frontend/src/assets/img/auth-background.png
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-128: * user action loadAll to check for a token
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * get rid of vh in components styles
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-32: - uninstall esbuild
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: - everything related to get all users
  mobile/src/packages/users/users-api.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-142: - label with the status at the top of the app
  mobile/src/screens/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
