Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-282: * mockedData to navigationItems
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: + added template and small changes
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chat-messages/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + check mark icon
  frontend/src/assets/icons/check.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + primary blue button style
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/types/button-style.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + subscription management dialog
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/styles.module.scss
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
  frontend/src/pages/profile-settings/components/subscription/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-276: * chats slice generate reply grouping
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-276: * chat message service imports
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-337: * changed layout of the header and set max-height for the plus icon
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-193: + draft OpenAi service implementation added
  backend/package.json
  backend/src/libs/packages/http/libs/types/http-load-method.type.ts
  backend/src/libs/packages/openAi/libs/constants/constants.ts
  backend/src/libs/packages/openAi/libs/enums/enums.ts
  backend/src/libs/packages/openAi/libs/types/types.ts
  backend/src/libs/packages/openAi/open-ai.package.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: + added Chatbot functionality
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chatbot.service.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: - axios module
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: + chatbot service
  backend/src/packages/chats/chatbot.service.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: - removed usage of presigned url and made bucket public
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: * template used + code updated
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: - axios
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-274: + task implementation added
  backend/src/db/migrations/20230918193715_add_image_url_column_to_chats_table.ts
  backend/src/libs/packages/http/libs/types/http-load-method.type.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.entity.ts
  backend/src/packages/chats/chat.model.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/types/chat-common-query-response.type.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-image-payload.type.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/update-chat-image-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: * changed openAi message generation
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-274: + updated code
  backend/src/db/migrations/20230918193715_add_image_url_column_to_chats_table.ts
  backend/src/libs/packages/s3/libs/constants/constants.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: + chatbot service
  backend/src/libs/packages/openAi/libs/constants/constants.ts
  backend/src/libs/packages/openAi/libs/enums/enums.ts
  backend/src/libs/packages/openAi/libs/types/types.ts
  backend/src/libs/packages/openAi/open-ai.package.ts
  backend/src/packages/chats/chatbot.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: * updated after rebase
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: + added small fixes
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chatbot.service.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: + draft OpenAi service implementation added
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-274: + resolved conflicts
  backend/src/libs/packages/s3/s3.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * renamed variables
  backend/src/packages/chats/chatbot.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: - sorting
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: - removed a blank
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: - removed trailing whitespace
  frontend/src/packages/chats/chats-api.ts
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + subscription page
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/subscription/components/components.ts
  frontend/src/pages/profile-settings/components/subscription/subscription.tsx
  frontend/src/pages/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-337: * changed nullification for plus buttons
  frontend/src/assets/css/scaffolding.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-274: * updated query and added unwrap
  backend/src/packages/chats/chat.repository.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-232: * updateJournalEntry to update
  mobile/src/packages/journal/journal-api.ts
  mobile/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * createJournalEntry to create
  mobile/src/packages/journal/journal-api.ts
  mobile/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: * create payment intent response
  backend/src/libs/packages/billing/billing.package.ts
  backend/src/packages/subscriptions/subscription.service.ts
  frontend/src/packages/subscriptions/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/subscriptions/libs/types/subscription-payment-intent-create-response-dto.type.ts
  shared/src/packages/subscriptions/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-232: * card onPass prop improvement
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-337: * replaced icon with button in chat sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + subscription api
  frontend/src/packages/subscriptions/libs/enums/enums.ts
  frontend/src/packages/subscriptions/subscription-api.ts
  frontend/src/packages/subscriptions/subscriptions.ts
  shared/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-347: + subscription checkout page
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/checkout-form.tsx
  frontend/src/pages/profile-settings/components/subscription-checkout/components/components.ts
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
  frontend/src/pages/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-337: - redundant with property
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + navigate user to checkout page when user clicks subscribe button
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: * cleaning some steps with custom props, implementing new comments of PR
  backend/src/db/migrations/20230923060705_add_surveys_steps_table.ts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/types/button-style.type.ts
  frontend/src/packages/survey/libs/types/steps.types.ts
  frontend/src/packages/survey/libs/types/types.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/steps/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/steps/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/steps/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/steps/render-steps.tsx
  frontend/src/pages/surveys/components/steps/worries-step/worries-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend
