Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-336: * card fonts
  mobile/src/libs/components/card/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-342: + swagger documentation responses for incorrect format and for file size over 10Mb
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: + header font
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + badge fonts
  mobile/src/libs/components/header/components/badge/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-342: + id to the response for 201 status code
  backend/src/packages/meditation/meditation.entity.ts
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: + input fonts
  mobile/src/libs/components/input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-342: * errorType
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: + input search style fonts
  mobile/src/libs/components/input-search/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + link fonts
  mobile/src/libs/components/link/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + progress bar fonts
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: + Created user controller to handle delete user
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/api/users-api.ts
  frontend/src/packages/users/libs/api/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-336: + notification fonts
  mobile/src/libs/components/toast/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + sign in fonts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + sign up fonts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + chat input styles
  mobile/src/screens/chat/components/chat-input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: - uppercase in InputFile component
  mobile/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * deleted chat state naming
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-342: * status 413 to 400
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: + preHandle checking query
  backend/src/libs/helpers/check-get-items-query.helper.ts
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-168: * Updated swagger documentation in user controller
  backend/src/packages/users/user.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-346: + UpdateChatPayload type
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * changed type to isDefaultStylesDisabled to aling with quality criteria
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-346: + update method in chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-346: * createMessage in chat service to update chat after creating a message
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-346: + useEffect to chat layout to update chat list after creating a new message
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed the input name to description in delete-acount-form
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  shared/src/packages/users/libs/types/delete-account-form-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-342: + security to post route
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: - Removed the property name from checkbox
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed checked to isChecked in checkbox
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-246: * Changed NORMAL to DEFAULT icon and added some custom sizes
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
  frontend/src/libs/components/navigation-menu/libs/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed NO_UPDATES to ZERO_UPDATED_ROWS_SOFT_DELETED
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: - Deleted error 500 from swagger in user controller
  backend/src/packages/users/user.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: + format relative locale enum
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/format-relative-locale.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: + date enums reexports
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/enums/enums.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: * get relative date helper with lib
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-168: - Removed unnecesary error catch
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changed one letter to capital letter
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: + Created a contant for the description option in the delete form
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-336: + message item fonts
  mobile/src/screens/chat/components/message-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
