Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * changed type unkown to number | null in user actions
  frontend/src/slices/users/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-283: - .ts in request-media-permissions
  mobile/src/libs/components/input-file/libs/helpers/helpers.ts
  mobile/src/libs/components/input-file/libs/helpers/request-media-permissions.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: * button primary blue style
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: * billing package
  backend/src/libs/packages/billing/billing.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: * updated response_format and removed redundant code
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/s3/libs/constants/constants.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/update-chat-image-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-283: - handlePress in input-file
  mobile/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + subscription payment cancel request dto type
  backend/src/packages/subscriptions/libs/types/types.ts
  frontend/src/packages/subscriptions/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/subscriptions/libs/types/subscription-payment-intent-cancel-request-dto.type.ts
  shared/src/packages/subscriptions/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-283: + number_of_lines constant
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: * subscription service
  backend/src/packages/subscriptions/subscription.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + cancel subscription payment route
  backend/src/packages/subscriptions/subscription.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: + added blank space
  backend/src/libs/packages/open-ai/open-ai.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: * reexport subscription payment cancel request dto type
  shared/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-347: * subscription payment create response dto type
  shared/src/packages/subscriptions/libs/types/subscription-payment-intent-create-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-347: + delete http method
  shared/src/libs/packages/http/libs/types/http-method.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-347: + subscription slice
  frontend/src/slices/subscription/actions.ts
  frontend/src/slices/subscription/libs/types/confirm-payment-payload.type.ts
  frontend/src/slices/subscription/libs/types/types.ts
  frontend/src/slices/subscription/subscription.slice.ts
  frontend/src/slices/subscription/subscription.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + checkout form
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/checkout-form.tsx
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/styles.module.scss
  frontend/src/pages/profile-settings/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + cancel payment method in subscription api
  frontend/src/packages/subscriptions/subscription-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + subscription checkout
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/subscription-checkout/components/components.ts
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
  frontend/src/pages/profile-settings/libs/constants.ts
  frontend/src/pages/profile-settings/libs/helpers/helpers.ts
  frontend/src/pages/profile-settings/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + subscriptions table enums
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/subscriptions-table-column.enum.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-369: + TimeFormat enum
  mobile/src/libs/enums/enums.ts
  mobile/src/screens/chat/libs/message-item-properties.ts
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/enums/enums.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-182: + timer button component and logics imporved
  mobile/src/libs/components/meditation-timer-modal/components/components.ts
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/styles.tsx
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/timer-button.tsx
  mobile/src/libs/components/meditation-timer-modal/libs/constants.ts
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
  mobile/src/screens/meditation-list/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * layout imporvements
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * meditation timer modal styles imporvement
  mobile/src/libs/components/meditation-timer-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * timer button styles
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/styles.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-358: * working verison for action due to docker feature
  .github/workflows/ci-db-migration.yml
  backend/Dockerfile.db-migrations
Due: npm run lint:editor && npm run lint:fs

cp-182: * layout
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/styles.tsx
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + user details and subscription tables relation
  backend/src/packages/subscriptions/libs/enums/enums.ts
  backend/src/packages/subscriptions/libs/enums/table-columns/subscriptions-table-column.enum.ts
  backend/src/packages/subscriptions/subscription.model.ts
  backend/src/packages/subscriptions/subscriptions.ts
  backend/src/packages/users/libs/enums/table-columns/user-details-table-column.enum.ts
  backend/src/packages/users/libs/enums/users-relation.enum.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/users.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-358: * revert migration name to previous one
  backend/src/db/migrations/20230924074610_modify_type_of_title_column_in_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: * user entities
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-358: * trigger on path for ci db migration github workflow
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-182: * styling for timer items
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/styles.tsx
  mobile/src/libs/components/meditation-timer-modal/components/timer-button/timer-button.tsx
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * layout imporveemnt
  mobile/src/screens/meditation-list/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: * minnor changes implemented
  frontend/src/libs/constants/constants.ts
  frontend/src/packages/survey/libs/types/steps.types.ts
  frontend/src/pages/surveys/components/steps/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/steps/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/steps/render-steps.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * add subscription id column migration
  backend/src/db/migrations/20230922101634_add_subscription_id_column_to_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-182: * function refactor
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * transparent
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: - comment
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * renderRightSwipeActions
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-388: * Update styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-338: * update styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
