Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-17: + period in the end of the exception message
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-17: * rename options type
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * jwt env config
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/auth/libs/helpers/token/verify-token/verify-token.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: * exlcude public folder from editorconfig
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * replace a new instance of config with an already existing one
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * white routes array with array of methods
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + createdAt and updatedAt field for user entity
  backend/src/packages/users/user.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: - default value for status in auth error exception
  backend/src/libs/exceptions/auth-error/auth-error.exception.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + helper for combining two objects
  backend/src/libs/helpers/map-two-object-into-one.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * attempt to fix the CI issue with UserSignUpResponseDto
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-14: + returning user object with user_details fields
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + password hash generation
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * modify config to include incryption algorithm
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: + font weight and color variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-13: * body font-family
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-13: + user sign in request dto
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: * variables for font weight and colors
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-13: + user detailt dto, sign in response dto
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: + user sign in validation schema
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: + dto for user details
  shared/src/packages/users/libs/types/user-details-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: * dto for request, response
  shared/src/index.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: + name in user sign-up validation schema
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: * sign in api path
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: * shared imports
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-16: * modified config.ts in shared directory
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-15: + in button and input class-name and style
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * app component markup
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: * app component markup
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * common components and styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * mock backend return
  backend/src/packages/users/user.service.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: * frontend exports from shared
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + redux logic for sign-up
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * store extra storage
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + api error handling
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + import user details dto
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * sign in auth api
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + field for name in sign-up form
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * auth slice sign in processing
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-23: + ability to add user to redux store, changed schema and types
  backend/src/packages/users/user.service.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-15: + styles for sign-up, auth pages
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend
