Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-190: * chat messages url paramater type
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameter.type.ts
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  backend/src/packages/chat-messages/libs/types/types.ts
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + create message action
  frontend/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + creatin message actions to the slice
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * changed type of create message payload
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * pushed changes
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chat-messages.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * icon color props
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation sidebar components props
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file display file naming
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * create meditation max file size message
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: + displaying messages from particular chat
  backend/src/packages/chat-messages/chat-message.service.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-160: * meditation adding notify success
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file icon styles
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * button icon widt and height props
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + saving and displaying typed messages
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + exception rule
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/exception-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-168: + implemented swagger documentation for the deleteAuthenticatedUser
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-159: + survey navigation parameter and survey screen enum
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + add pages with more steps to the survey
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/feelings-step/styles.ts
  mobile/src/screens/survey/components/goals-step/goals-step.tsx
  mobile/src/screens/survey/components/goals-step/styles.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/journaling-step/styles.ts
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/components/meditation-step/styles.ts
  mobile/src/screens/survey/components/worries-step/styles.ts
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/libs/constants.ts
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + fix bug of white background color in nested stack and fix page container style
  mobile/src/libs/components/app/app.tsx
  mobile/src/screens/survey/components/feelings-step/styles.ts
  mobile/src/screens/survey/components/goals-step/styles.ts
  mobile/src/screens/survey/components/journaling-step/styles.ts
  mobile/src/screens/survey/components/meditation-step/styles.ts
  mobile/src/screens/survey/components/worries-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + get the journaling step data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the feeling steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the goals steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/goals-step/goals-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the worries steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/goals-step/goals-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-159: + get the worries steps data and send it to the back-end
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + get the meditation steps data and send it to the back-end
  frontend/src/pages/surveys/survey.tsx
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/survey.tsx
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-168: * Changed form controll to useAppForm
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/libs/constants/constants.ts
  frontend/src/libs/components/modal/steps/delete-account/libs/types/delete-account-form-payload.ts
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-190: * fix create chat button
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-190: * fix back button sizes
  frontend/src/libs/components/backward-button/backward-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-165: + starting branch
  backend/package.json
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
  backend/tsconfig.json
  frontend/package.json
  frontend/tsconfig.json
  mobile/package.json
  package-lock.json
  package.json
  shared/package.json
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + use chat message validation rule in validation message
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: * change word in validation message
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: * change column name to enum
  backend/src/db/migrations/20230912094401_delete_name_column_from_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: - name column in chat messages table
  backend/src/libs/packages/database/libs/enums/chat-messages-table-column.enum.ts
  backend/src/packages/chat-messages/libs/enums/chat-messages-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * format code
  backend/src/packages/chat-messages/chat-message.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: * moved meditation player component to meditation folder
  frontend/src/libs/components/components.ts
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/pages/meditation/components/meditation-timer/libs/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-283: + basic modal layout
  mobile/src/assets/img/icons/close.svg
  mobile/src/assets/img/icons/download.svg
  mobile/src/assets/img/icons/upload.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
  mobile/src/libs/components/popup/popup.tsx
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/components/add-meditation-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * useEffect in journal.tsx to use await
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - userdId check in handlePlusButtonClick in journal-sidebar
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * JournalsEntriesTableColumn to JournalEntriesTableColumn
  backend/src/packages/journal-entries/journal-entry.model.ts
  backend/src/packages/journal-entries/libs/enums/enums.ts
  backend/src/packages/journal-entries/libs/enums/table-columns/journal-entries-table-column.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: - UsersError in service
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
