Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-160: * meditation validation messaged media url
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + meditation request validation shcema
  shared/src/index.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation request validation controller
  backend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + findByChatId endpoint in chat messages controller
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chat-messages.controller.ts
  backend/src/packages/chat-messages/libs/types/chat-message-create-data.type.ts
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  backend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + remove name unique constraint in chats table
  backend/src/db/migrations/20230914101723_remove_unique_constraint_in_chats_name_column.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * move getCursorposition to helpers
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/helpers/get-cursor-position.helper.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + add useHandleClickOutside hook
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * form type field name
  frontend/src/libs/types/form/form.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file error message output
  frontend/src/libs/components/input-file/input-file.tsx
  frontend/src/libs/components/input-file/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: - get deep error message helper
  frontend/src/libs/helpers/get-deep-error-message.helper.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + createChat method request body payload
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/types/types.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/libs/constants/constants.ts
  frontend/src/pages/chat/libs/types/chat-input-value.type.ts
  frontend/src/slices/chats/actions.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-create-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-189: + createChat payload validation
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: - redundant routes
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * handle new chat and chat with messages with one component
  frontend/src/index.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * sidebar shadow
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: * getCursorPosition to hadle if string reduced its length
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/helpers/get-cursor-position.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * move constant to shared
  frontend/src/pages/chat/libs/constants/constants.ts
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-223: - comments
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-291: + redirection to /sign-in on 401 error occurence
  frontend/src/libs/packages/api/base-http-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * handleOnPress to handlePress
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: - chat-messages component
  frontend/src/pages/chat/chat-messages.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: - unnecessary code
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * chat-layout component
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat sidebar card is active condition
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * onSend type
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + replaced button with radio in TimerButton component
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/meditation-timer/components/duration-button/timer-button.tsx
  frontend/src/libs/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/libs/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: * naming change
  frontend/src/libs/components/meditation-timer/components/timer-button/timer-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * move type casting to selector
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-291: - redirection to /sign-in from BaseHttpApi
  frontend/src/libs/packages/api/base-http-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * functions in player.tsx
  mobile/src/libs/components/player/player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-291: + signOut to the handleError middleware
  frontend/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - isFirstRender and moved handleSaveNoteWithDebounce into useCallback to fix eslint warning.
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + send message button hover
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: - sanitaze-html from frontend package.json
  frontend/package.json
  package-lock.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-246: * Changed the width and height to number and convert them to string px
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation validation schema ignore keys
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + handle click outside hoo
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * cast in appSelector
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * useSidebarState realization
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: + improvements to usePlayerEvents
  mobile/src/libs/components/player/player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
