Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-207: + styles for title question
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-207: * styles improvement
  mobile/src/screens/survey/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-207: * hide vertical scroll indicator in sign in for better layout
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: * rename chat types
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat request dto
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-124: * names for fields
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modal responsiveness
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/input-file/styles.module.scss
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: + shared constants
  shared/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * frontend common constants
  frontend/src/libs/constants/constants.ts
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-160: - redundant slice constants
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - date-fns from frontend package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: + screenConfig
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + repository method for finding messages by chat id
  backend/src/libs/constants/constants.ts
  backend/src/packages/messages/message.repository.ts
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * modal helper import
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * refactor meditation imports
  frontend/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * implement meditation imports
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/slices/meditation/actions.ts
  frontend/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditaiton modal import
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-138: * getScreenToRender as render part
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - unused view
  mobile/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * icon name to icon
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: - icon name to plain svg
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: * icon maps to components/icon/libs/maps/
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/icon/libs/maps/maps.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + message service with implemented create method
  backend/src/packages/messages/message.entity.ts
  backend/src/packages/messages/message.repository.ts
  backend/src/packages/messages/message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-138: + navigation item type
  mobile/src/libs/types/navigation/navigation-item.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/root/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: + meditation sidebar
  frontend/src/assets/img/meditation-image-placeholder.png
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditaion-sidebar/meditaion-sidebar.tsx
  frontend/src/libs/components/meditaion-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-188: + icon to card, media query
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * isSettingsVisible to isProfileVisible
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: * icon color optional
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-157: + shared types for journal func
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/enums/enums.ts
  shared/src/packages/journal/libs/enums/journal-api-path.enum.ts
  shared/src/packages/journal/libs/types/journal-entry-create-request-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-create-response-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-get-all-item-response-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-get-all-response-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-157: * text type changed
  backend/src/db/migrations/20230904063502_add_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-157: + backend part for journal func
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/journal-entries/journal-entries.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.entity.ts
  backend/src/packages/journal-entries/journal-entry.model.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/enums/enums.ts
  backend/src/packages/journal-entries/libs/types/journal-entry-common-query-response.ts
  backend/src/packages/journal-entries/libs/types/journal-entry-create-query-payload.ts
  backend/src/packages/journal-entries/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-157: + migrations
  backend/src/db/migrations/20230904063502_add_journal_entries_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/journal-entries-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-157: * readme db schema updated
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: + chat create method
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-188: + media to chat/profile sidebars, search
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-157: + frontend part for journal func
  frontend/src/assets/img/journal.svg
  frontend/src/index.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/journal.ts
  frontend/src/packages/journal/libs/enums/enums.ts
  frontend/src/packages/journal/libs/types/types.ts
  frontend/src/pages/journal/components/journal-card/journal-card.tsx
  frontend/src/pages/journal/components/journal-card/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
  frontend/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-157: * fixed arrow body style
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-157: + run prettier
  frontend/src/index.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-157: * imports and swagger updated
  backend/src/packages/journal-entries/journal-entry.controller.ts
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-157: * icon location changed
  frontend/src/assets/icons/journal.svg
Due: npm run lint:editor && npm run lint:fs
