Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-27: * to pass toast to extraArguments
  mobile/src/libs/notification.ts
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/libs/packages/notification/notification.ts
  mobile/src/libs/packages/store/libs/types/app-dispatch.ts
  mobile/src/libs/packages/store/libs/types/types.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/slices/app/actions.ts
  mobile/src/slices/app/notifications.slice.ts
  mobile/src/slices/app/notifications.ts
  mobile/src/slices/notifications/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * import to added to the same package
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * styles names
  mobile/src/libs/components/toast/styles.ts
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * ValueOf package
  mobile/src/libs/packages/notification/notification.package.ts
  mobile/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * constants, mokedData, structure
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/libs/constants/constants.ts
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants/constants.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/badge/badge.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * fix merge conflicts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * refactor debounce
  shared/src/libs/helpers/debounce/debounce.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-60: * onSubmit to handleFormSubmit
  mobile/src/screens/chat-layout/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * send-button.svg to send.svg
  mobile/src/assets/img/icons/send.svg
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-25: * user to authenticatedUser
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * fix linting in merge
  frontend/src/libs/components/components.ts
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fix linting in app.tsx
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-24: * some logics changes
  mobile/src/libs/components/app/app.tsx
  mobile/src/navigations/root/root.tsx
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: * prettify fix
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * prettify fix
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: + move default values to a separate file
  frontend/src/pages/profile-settings/libs/constants.ts
  frontend/src/pages/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-99: + app icon
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Due: npm run lint:editor && npm run lint:fs

cp-81: - name and id properties in labels
  frontend/src/libs/components/switch/switch.tsx
  frontend/src/pages/profile-settings/components/setting/setting.tsx
  frontend/src/pages/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-25: - ProtectedRoute component from root.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: * accomodate nginx config for ecs task containers communication
  nginx/nginx.development.conf
Due: npm run lint:editor && npm run lint:fs

cp-49: * user auth response dto
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * isSurveyCompleted implementation
  frontend/src/pages/surveys/survey.tsx
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * auth api create preferences hasAuth
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * protected route component
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-4: + local node env for handling sll mode for db connection in deployment
  backend/.env.example
  backend/src/libs/packages/database/base-database.package.ts
  frontend/.env.example
  mobile/.env.example
  shared/src/libs/enums/app-environment.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-4: + health check route for backend container
  backend/package.json
  backend/src/libs/packages/server-application/base-server-application.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * protected route in sign in and sign up
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-21: * fix lint errors
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * minor fixes
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: * auth slice blank lines
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: * move common form types to the hooks export file
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/switch/switch.tsx
  frontend/src/libs/hooks/hooks.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-4: + adapt separate postgres connection config variables to existing connection string
  backend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: + fill task definition and deploy in cd github workflow
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: - useless tips related to locally testing for cd development github workflow
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-101: * file location for background images
  mobile/src/assets/img/bottom-bubble.png
  mobile/src/assets/img/sign-background.png
  mobile/src/assets/img/top-bubble.png
Due: npm run lint:editor && npm run lint:fs

cp-49: * survey category styles
  frontend/src/libs/components/survey-category/styles.module.scss
  frontend/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * survey category styles
  frontend/src/libs/components/survey-category/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * styling and functionality in progress bar
  frontend/src/libs/components/meditation-player/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/audio-player/styles.module.scss
  frontend/src/libs/components/meditation-player/components/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/components/meditation-player/components/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/libs/constants.ts
  frontend/src/libs/components/meditation-player/libs/types.ts
  frontend/src/libs/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * meditation player component
  frontend/src/libs/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey category handle change
  frontend/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
