Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-70: - findAll method
  shared/src/packages/files/libs/types/file-get-all-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + getFileKey from file URL method
  backend/src/packages/files/aws.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * shared types
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: + requested changes
  backend/src/packages/files/libs/helpers/get-url.ts
  backend/src/packages/files/libs/helpers/helpers.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: + new imports
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-70: * rewrote faulty code
  backend/src/packages/files/aws.service.ts
  shared/src/libs/exceptions/file-error/file-error.exception.ts
  shared/src/libs/helpers/replace-template-with-value/replace-template-with-value.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: * generateUrl method updated
  backend/src/packages/files/libs/helpers/get-url.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: * constant name
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + requested changes
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-aws-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/packages/files/aws.service.ts
  backend/src/packages/files/libs/helpers/get-url.ts
  shared/src/index.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/exceptions/aws-error/aws-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-49: * survey selector destruction
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + another draft for active button logic
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * auth slice user assertion
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: * style to type in button
  mobile/src/libs/components/button/button.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-76: + styles to make the first splash screen transparent
  mobile/android/app/src/main/res/values/styles.xml
Due: npm run lint:editor && npm run lint:fs

cp-78: * icon component implementation
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-svg.map.ts
  frontend/src/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
  shared/src/libs/types/icon-names.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-78: - redundunt react fragment from index.tsx
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-129: + button load spinner
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-129: * move auth pages from app children
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * renamed svgr to viteSVGRPlugin in vite.config
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-129: + get auth loading state and pass it to buttons
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-129: + data status for authentication actions
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-129: + default value for isLoading prop
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + add logic for display shadow around active button
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-131: + mobile text input outline when error and focused
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * used one useAppSelector call instead of two
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * renamed to handleSubmit again from useAppForm
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: - JSX.Element type
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * auth slice user assertion
  mobile/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-70: * renamed and relocated S3 package
  backend/src/libs/packages/s3/libs/constants/constants.ts
  backend/src/libs/packages/s3/libs/types/types.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/libs/packages/s3/s3.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-129: - authenticatedUserDataStatus from sign-in and sign-up actions
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-129: * move auth routes back to app children
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-123: + app-slice, init in store
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/app.slice.ts
  frontend/src/slices/app/app.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: + handleGetAuthenticatedUser function to check if token exists
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-123: + useEffect redirect flow
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-70: * changed name to S3
  backend/src/libs/packages/s3/libs/types/types.ts
  backend/src/libs/packages/s3/s3.package.ts
  backend/src/libs/packages/s3/s3.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/s3-file-upload-request-dto.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-51: * logics for handleFieldChange
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * style to type in button
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * categoriesValue to categories
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-19: + check if token exists inside getAuthenticatedUser action
  frontend/src/libs/components/app/app.tsx
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
