Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-60: * styles for input
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-56: * solving lastest comments
  frontend/src/index.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/constants/chat-mock-data.constant.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/default-input.constant.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/bot-message/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/user-message/styles.module.scss
  frontend/src/pages/chat/components/user-message/user-message.tsx
  frontend/src/slices/chat/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-56: * solving types imports
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/typer.helper.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-101: + header and complete med navigation
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/badge/badge.tsx
  mobile/src/libs/components/header/components/badge/styles.ts
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/libs/constants.ts
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
  mobile/src/screens/meditation-topics/meditation-topics.tsx
  mobile/src/screens/meditation-topics/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * filtering and + gradient
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
  mobile/src/screens/meditation-topics/meditation-topics.tsx
  mobile/src/screens/meditation-topics/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * positions of user and bot messages
  mobile/src/libs/types/types.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * package.json new added
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + header and header export
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/badge/badge.tsx
  mobile/src/libs/components/header/components/badge/styles.ts
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/libs/constants.ts
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * grammatical correction
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + arrow svg
  mobile/src/assets/img/icons/back-arrow.svg
Due: npm run lint:editor && npm run lint:fs

cp-60: * fix imports
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/navigations/chat/chat.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + new logics to chat-list, chat screen name enum
  mobile/src/libs/enums/navigation/chat-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * fix imports
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-81: * make switcher work in firefox
  frontend/src/libs/components/switch/styles.module.scss
  frontend/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-60: * import ChatScreenName from libs/enums/enums
  mobile/src/navigations/chat/chat.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * moved badge component to header component
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/screens/chat-list/components/badge/badge.tsx
  mobile/src/screens/chat-list/components/badge/styles.ts
  mobile/src/screens/chat-list/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: - remove duplicate color variable
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * adjust styles for sidebar - removed vh and refined user class
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * correct type name and type-related imports and exports
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: + add logic for displaying the usersname from the auth slice
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + icon button layout with header layout styles changed
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/libs/components/icon-button/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * navigation for profile icon button
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * functions name and - inline functions
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/meditation-topics/meditation-topics.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * fix imports
  mobile/src/navigations/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - not useful previous component code
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-56: * fixing footer styles
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * layout profile page
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/profile/profile.tsx
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * style adjustments
  mobile/src/screens/profile/components/profile-category/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + layout for settings
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile-settings/styles.ts
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
  mobile/src/screens/profile/components/profile-category/styles.ts
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * notifications layout
  mobile/src/screens/profile/components/profile-category/styles.ts
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * hook import improvement
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * import adjustments
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * function naming
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: * loader component
  mobile/android/app/src/main/res/values/styles.xml
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/app/libs/constants.ts
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/components/loader/styles.ts
  mobile/src/navigations/root/root.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-143: + Added updated logos and favicons
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/src/assets/img/logos/logo-m.svg
  frontend/src/assets/img/logos/logo-xl.svg
  frontend/src/assets/img/logos/logos.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-143: * Updated latest changes and sidebar logo
  frontend/src/assets/img/logos/logo-s.svg
  frontend/src/assets/img/logos/logos.ts
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-56: * implementing new comments
  frontend/src/assets/icons/chat.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/constants/chat-mock-data.constant.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/typer.helper.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/types/form/chat-input-value.type.ts
  frontend/src/libs/types/form/input-message.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/user-message/user-message.tsx
  frontend/src/slices/chat/actions.ts
  frontend/src/slices/chat/chat.slice.ts
  shared/src/packages/chat/libs/types/chat-message.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-101: * using react.fc in every component
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/chat-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-topics/meditation-topics.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * color to 'currentColor' in svg
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/assets/img/icons/play.svg
  mobile/src/libs/components/header/header.tsx
  mobile/src/screens/meditation-list/components/meditation-list-item/meditation-list-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * components name and refactoring code
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/enums/navigation/meditation-screen-name.enum.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/components.tsx
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
