Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-13: * sign in action
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: + sign in constants
  frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-14: + error catching
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: * auth and sign in component
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: + sign in styles
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-14: + bcrypt package intalled
  backend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * refactore code in accordance to eslint rules
  backend/src/libs/helpers/map-two-object-into-one.helper.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-15: * minor styles fixes
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * style tag name fix
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-23: * colors in styles for input, button and label to colors from enum
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: + jwt algorithm config
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: - jose jwt payload extended interface
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: - verify token helper
  backend/src/packages/auth/libs/helpers/helpers.ts
  backend/src/packages/auth/libs/helpers/token/token.ts
  backend/src/packages/auth/libs/helpers/token/verify-token/verify-token.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: - verifyToken method
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - try catch block
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * styles for common components
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * move the instace of jwtservice to auth.ts, modify jwtservice to recieve alg as an argument
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/jwt.service.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + auth token payload type
  backend/src/packages/auth/libs/types/token/auth-token-payload.type.ts
  backend/src/packages/auth/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + jwt service
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/jwt.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * modify the jwtService instance for better readability
  backend/src/packages/auth/auth.ts
  backend/src/packages/auth/jwt.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * fixed lint error
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-17: + use jwt service in auth plugin
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: * Update mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: + export for Loader component
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: + user validation for password
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-23: - try/catch block in mobile/src/slices/auth/actions
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * fixed prettier warns
  backend/src/packages/users/user.entity.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-23: * import of useState hook from '#libs/hooks/hooks'
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * changed imports to sign-background
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * inline styles to styles from file styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: * extension of imported type
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * function body
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-38: + packages
  mobile/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-38: + svg icon
  mobile/src/assets/img/icons/home-icon/home-icon.tsx
  mobile/src/assets/img/icons/icons.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * button and input fixes
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-38: + home screen
  mobile/src/screens/main/home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * common components fix
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: + sign up password validation message
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-38: + bottom tab navigation
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/navigations/root/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * password validation
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared
