Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-71: * fixed wrong Navigate component importing
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * icon import path
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * renamed route for meditation list
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: + audio player and progress bar
  mobile/src/libs/helpers/get-formatted-time.helper.ts
  mobile/src/libs/helpers/helpers.ts
  mobile/src/screens/meditation/components/audio-player/audio-player.tsx
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/styles.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-82: * percent to padding
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * move progress-bar css variable to progress-bar styles.module.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * margin in meditation player to auto
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: + add the first draft of mobile responsivness
  frontend/src/index.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * removed profile-settings-sidebard after test runs
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * fix package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * blue-shadow css variable to blue-alpha-32
  frontend/src/assets/css/variables.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: + getValidClassNames to button component
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: - curly braces
  mobile/src/libs/components/header/header.tsx
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * component label naming change
  mobile/src/screens/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * getFormattedTime to use date-fns lib
  frontend/package.json
  frontend/src/libs/helpers/get-formatted-time.helper.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-150: * linter error
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * solving lastest comments
  frontend/src/index.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon-button/icon-button.tsx
  frontend/src/libs/components/icon-button/styles.module.scss
  frontend/src/libs/constants/chat-mock-data.constant.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
  frontend/src/slices/chat/chat.slice.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/types/chat-message.type.ts
  shared/src/packages/chat/libs/types/messages.type.ts
  shared/src/packages/chat/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * getFormattedTime to give 2 formats
  frontend/src/libs/helpers/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - blue-alpha-32 css variable
  frontend/src/assets/css/variables.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-143: * Removing fixed width
  frontend/src/assets/img/logo-xs.svg
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-159: + survey navigation parameter and survey screen enum
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-52: - type assertion from userRole
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-113: + icon button functionality to button component
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + styles of icon button
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * used button instead of icon button
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - icon button component
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/libs/components/icon-button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-52: * userRow to userRole
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-170: + control functionality
  mobile/index.js
  mobile/package.json
  mobile/service.js
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-track-player-controls/libs/constants.ts
  mobile/src/libs/hooks/use-track-player-controls/use-track-player-controls.hook.ts
  mobile/src/libs/hooks/use-track-player-progress/libs/constants.ts
  mobile/src/libs/hooks/use-track-player-progress/use-track-player-progress.hook.ts
  mobile/src/libs/types/meditation/meditation-track.type.ts
  mobile/src/libs/types/meditation/meditation.ts
  mobile/src/libs/types/types.ts
  mobile/src/screens/meditation/components/audio-player/audio-player.tsx
  mobile/src/screens/meditation/components/audio-player/components/components.tsx
  mobile/src/screens/meditation/components/audio-player/components/controls/controls.tsx
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation/components/audio-player/components/progress-bar/styles.ts
  mobile/src/screens/meditation/components/components.tsx
  mobile/src/screens/meditation/components/controls/components/button/button/button.tsx
  mobile/src/screens/meditation/components/controls/components/button/button/styles.ts
  mobile/src/screens/meditation/components/controls/components/components.tsx
  mobile/src/screens/meditation/components/controls/controls.tsx
  mobile/src/screens/meditation/components/controls/libs/constants.ts
  mobile/src/screens/meditation/components/controls/styles.ts
  mobile/src/screens/meditation/components/progress-bar/libs/constants.ts
  mobile/src/screens/meditation/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation/components/progress-bar/styles.ts
  mobile/src/screens/meditation/libs/constants.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: - comments
  mobile/service.js
Due: npm run lint:editor && npm run lint:fs

cp-61: * removed icon name type from shared, updated icon mapper naming
  frontend/src/libs/components/icon/icon-name-to-plain-svg.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/types/icon-name.type.ts
  shared/src/index.ts
  shared/src/libs/types/icon-name.type.ts
  shared/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-71: * renamed meditation list component folder
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-list/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * adjut icon name type, moved icon mapper
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-196: + user image and home screen improvements
  mobile/src/assets/img/user-placeholder.png
  mobile/src/screens/home/home.tsx
  mobile/src/screens/home/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: + styles for user profile in home
  mobile/src/screens/home/home.tsx
  mobile/src/screens/home/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: + authenticated user name from redux
  mobile/src/screens/home/home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: + styles for user name
  mobile/src/screens/home/home.tsx
  mobile/src/screens/home/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: * renamed Home to Dashboard
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/home/home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: * home to dashboard in navigation parameters
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
