Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * meditation components imports
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation constants imports
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation api imports
  frontend/src/packages/meditation/meditation-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation slice and actions imports
  frontend/src/slices/meditation/actions.ts
  frontend/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed mockup to real button + fixes
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
  frontend/src/assets/icons/delete.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/user-profile/user-profile.tsx
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * Uninstall @esbuild/win32-x64
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-198: * Changed the dashboard Heather from Profile to Home
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * restore https request type for android app
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editor && npm run lint:fs

cp-147: * survey page styles
  frontend/src/pages/surveys/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

development: * restore http request type for android app
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editor && npm run lint:fs

cp-161: * adjust button component to receive array of styles
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: - className from link in dropdown
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-173: * checkbox markup and styles
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: - comment removal
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: + meditation entries seed data
  backend/src/db/seed-data/meditation-entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: + seeds to the base package
  backend/package.json
  backend/src/libs/packages/database/base-database.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: + meditation entries seed
  backend/src/db/migrations/20230824185213_add_meditation_entries_table.ts
  backend/src/db/seeds/meditation-entries-seed.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * debounce function
  shared/src/index.ts
  shared/src/libs/helpers/debounce/custom-debounce.helper.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/debounce/debounce.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: + page reload listener to note component
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - redundant get findByTitle method in epository
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-203: * survey unprocessable entity swagger
  backend/src/packages/surveys/survey.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: - reverting back the Button changes
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/libs/components/user-profile/user-profile.tsx
  mobile/src/navigations/main/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-70: * fixed issues with http code and swagger
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-file-error-info.helper.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/files/file.service.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/types/types.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
  shared/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-161: * soft reset did not help, reverting manually
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-70: * return type
  backend/src/packages/files/file.controller.ts
  backend/src/packages/files/file.service.ts
  shared/src/packages/files/libs/types/file-get-all-item-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-70: - multipart check
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.controller.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + wrap add chat icon with link
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: - removed duplicate files
  frontend/src/pages/chat/styles.module 2.scss
  mobile/src/libs/components/back-button/back-button 2.tsx
  mobile/src/libs/components/player/components/progress-bar/progress-bar 2.tsx
  mobile/src/slices/meditation/meditation.slice 2.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-267: + icon styles
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: + add TimerButton component
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/meditation-timer/components/duration-button.tsx
  frontend/src/libs/components/meditation-timer/components/styles.module.scss
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/meditation-timer/styles.module.scss
  frontend/src/libs/types/button-style.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + added a dedicated folder for TimerButton
  frontend/src/libs/components/meditation-timer/components/duration-button/duration-button.tsx
  frontend/src/libs/components/meditation-timer/components/duration-button/styles.module.scss
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + added some additional styling to the timer button
  frontend/src/libs/components/meditation-timer/components/duration-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-189: + chat messages component
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/chat/chat-messages.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat messages route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + send user to chat page when pressing a chat card in sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-272: * button to link in journal and chat pages
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/components/controls/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-272: + chats slice and chats package
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/chats/chats-api.ts
  mobile/src/packages/chats/chats.ts
  mobile/src/packages/chats/libs/enums/enums.ts
  mobile/src/packages/chats/libs/types/types.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/data.json
  mobile/src/screens/chat-list/styles.ts
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/chat-request-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/user-to-chat-response-dto.type.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
  shared/src/packages/chats/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-272: + add chat functionality
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/styles.ts
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-197: * added bearerAuth to swagger and updated the path
  backend/src/libs/packages/server-application/base-server-application-api.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/files/file.controller.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/surveys/survey.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat-messages types
  frontend/src/packages/chat-messages/chat-messages.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-item-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
