Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * redundant chat constants
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * chat date prop type as date
  frontend/src/pages/chat/components/chat-date/chat-date.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * wrap debounced callback with useMemo to prevent re-render calls
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-debounce/use-debounce.hook.ts
  frontend/src/pages/journal/components/note/note.tsx
  mobile/android/keystore.properties
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - mobile build config file
  mobile/android/keystore.properties
Due: npm run lint:editor && npm run lint:fs

cp-161: + add a functionality of displaying default meditation duration in the timer
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-283: * modal styles
  mobile/src/libs/components/modal/styles.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: + findById methods in chat repository and service
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: * use migration for adding meditation entries data instead of seed one
  backend/package.json
  backend/src/db/migrations/20230921150647_add_meditation_entries_data.ts
  backend/src/db/seeds/meditation-entries-seed.ts
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: * pr improvements
  backend/src/db/migrations/20230921150647_add_meditation_entries_data.ts
  backend/src/libs/packages/database/base-database.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * chat messages find all order column
  backend/src/packages/chat-messages/chat-message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * delete method in service to trow ChatError when wrong userId
  backend/src/libs/constants/constants.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: - useSearch from imports
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * get relative date redundant else
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: * changed text placeholder to plain text
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + maxLength to title to swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-315: * journal controller create validation doc
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * chat messages controller find order
  backend/src/packages/chat-messages/chat-message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * fix card styles in chat sidebar
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: + trackPlayer register
  mobile/index.js
Due: npm run lint:editor && npm run lint:fs

development: * fix failed migration with adding notNullable column to not empty table
  backend/src/db/migrations/20230909153115_add_user_id_to_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-170: * shadow for play button
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + usesCleartextTraffic to androidManifest
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editor && npm run lint:fs

cp-270: + chat bot
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-270: * import for ContentType
  mobile/src/packages/chat-messages/chat-messages-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * trash icon position
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-295: + selected journal null after deleting
  frontend/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * url for meditations
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/src/libs/components/player/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: + find by id in delete
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-283: * svg icons names
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-276: + group chat message helper
  shared/src/index.ts
  shared/src/libs/helpers/group-chat-message/group-chat-message.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: * chat message get all response dto
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: * chats slice implement helper
  frontend/src/libs/helpers/helpers.ts
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-276: * chat message service grouping
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-246: * changed icon size in chat and profile
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
  frontend/src/libs/components/navigation-menu/libs/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/types/route/route.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed disabled? to isDisabled in Input.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-282: + meditation types
  mobile/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * meditation types imporvements
  mobile/src/packages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + stripe library
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + meditation enums
  mobile/src/packages/meditation/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + meditation api
  mobile/src/packages/meditation/meditation-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
