Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: * function to arrow function
  mobile/src/libs/hooks/use-track-player-progress/use-track-player-progress.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * mocked playlist instead of route navigation
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/screens/meditation-list/components/meditation-item/libs/constants.ts
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation/libs/constants.ts
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + added logic for displaying status icon, re-arranged Card component and styling
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: + made sure that the sign-out button cannot be 'active'
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * adjusted general styles for sidebar to visually match chat sidebar, to ensure consistent styling
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: + base implementation of Note component
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/components/note/styles.module.scss
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + create chat action
  frontend/src/packages/chats/chats.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * order chats by creation date
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: + adjusted mobile styles to match already existing proportions and breaking points of chat side bar
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: + add new type for Settings Buttons
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/types/settings-options.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + add boolean check for the Card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + add back the .no-image class to the card component
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-194: + plus button to journalSideBar and handlePlusButtonClick
  frontend/src/index.tsx
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/components/note/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * adjust the font weight to match other sidebars
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: - removed unused profile settings button (was used before the Card component)
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: + add a boolean check for hasNoImageOrIcon
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation components path
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * close icon file name
  frontend/src/assets/icons/close.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: - modal wrapper
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
  frontend/src/pages/meditation/components/modal-wrapper/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: - meditation enrty type
  frontend/src/pages/meditation/libs/types/meditation-entry.type.ts
  frontend/src/pages/meditation/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation components iports
  frontend/src/pages/meditation/components/components.ts
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: * icon color type
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-61: * import fix
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * audio control icons
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-106: * meditation modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + load chats in the sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + add_user_id_to_journals_entries_table migration
  backend/src/db/migrations/20230909153115_add_user_id_to_journals_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: + relationMappings to users and journal-entry models
  backend/src/packages/journal-entries/journal-entry.model.ts
  backend/src/packages/journal-entries/libs/enums/enums.ts
  backend/src/packages/journal-entries/libs/enums/table-columns/journal-entries-table-column.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: + readme db schema
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * modal box shadow
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: + userId to all journalEntry dto
  backend/src/packages/journal-entries/libs/types/journal-entry-common-query-response.ts
  backend/src/packages/journal-entries/libs/types/journal-entry-create-query-payload.ts
  shared/src/packages/journal/libs/types/journal-entry-create-request-dto.type.ts
  shared/src/packages/journal/libs/types/journal-entry-get-all-item-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-194: + userId to journal entry and model
  backend/src/packages/journal-entries/journal-entry.entity.ts
  backend/src/packages/journal-entries/journal-entry.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: + findByTitle , findByUserId and userId everuwhere
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * journal controller and service regarding adding userId
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: + journalEntryValidationSchema
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/enums/enums.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
  shared/src/packages/journal/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-194: * swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entry migration
  backend/src/db/migrations/20230903104334_change_meditation_entries_table.ts
  backend/src/db/migrations/20230909170408_change_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * create in meditation repository
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
