Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-160: + meditation entity
  backend/src/packages/meditation/meditation.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditatio repo
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation service
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation controller
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation exports
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation routes in serrver app
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-52: - readonly variables from user_roles
  backend/src/db/migrations/20230826083159_add_user_roles_table.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-183: + chats page
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-183: + link to chat page
  frontend/src/assets/img/chat-link.svg
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-183: * chat-sidebar location
  frontend/src/libs/components/components.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/chat/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-183: * icon location
  frontend/src/assets/icons/chat-link.svg
  frontend/src/assets/img/chat-link.svg
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-138: - loader container
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/loader-container/loader-container.tsx
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * meditation image placeholder to jpg
  frontend/src/assets/img/meditation-image-placeholder.jpg
  frontend/src/assets/img/meditation-image.svg
  frontend/src/libs/components/meditation-player/constants/constants.ts
  frontend/src/libs/components/meditation-player/meditation-player.tsx
  frontend/src/libs/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-183: * icon import
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fixed namings and imports
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon-name-to-plain-svg.ts
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fixed the sequence of styles in variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: * moved logo to img assent folder and removed it from iconToIconName mapper
  frontend/src/assets/img/logo.svg
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/icon/icon-name-to-icon.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * add white color to IconColor enum for profile settings buttons
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/enums/icon-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * meditation player background to png
  frontend/src/assets/img/meditation-player-background-mobile.png
  frontend/src/assets/img/meditation-player-background.png
  frontend/src/assets/img/meditation-player-background.svg
  frontend/src/libs/components/meditation-player/audio-player/controls/styles.module.scss
  frontend/src/libs/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: * replace 'track' with 'entry' in meditation naming
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/libs/types/entry.type.ts
  frontend/src/pages/meditation/libs/types/meditation-entry.type.ts
  frontend/src/pages/meditation/libs/types/types.ts
  frontend/src/pages/meditation/meditation-entries-list/meditation-entries-list.tsx
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * replaced pixels measurement with absolute values for line-height
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-183: * icon name
  frontend/src/assets/icons/chat.svg
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * renamed component for meditation list
  frontend/src/pages/meditation/meditation-entries-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * changed tag name for duration block
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-138: * crlf to lf
  .gitignore
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * changed alt name for image in meditation entry
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * changed breakpoint for media queries
  frontend/src/pages/meditation/meditation-entries-list/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/meditation-entries-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-101: * crlf to lf
  .gitignore
Due: npm run lint:editor && npm run lint:fs

cp-78: + isLabelVisuallyHidden flag to button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-101: * styles and naming in meditation-item
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * move meditation player to pages folder and audio-player to libs/components
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/styles.module.scss
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * rename constants in pages/meditation/constants
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * rename handleLoadedMetadata to handleLoadMetadata
  frontend/src/libs/components/audio-player/audio-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * user-profile to dashboard, dashboard path
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/pages/dashboard/dashboard.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * svg and placeholder name/location
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/profile.svg
  frontend/src/assets/img/avatar-placeholder.png
  frontend/src/assets/img/profile.svg
Due: npm run lint:editor && npm run lint:fs

cp-82: * user profile name, styles
  frontend/src/pages/dashboard/components/components.ts
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/user-profile/components/components.ts
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-181: * link padding
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-82: - profile route in enum
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * crlf to lf
  .gitignore
Due: npm run lint:editor && npm run lint:fs

cp-61: * fixed naming for iconNameToIcon
  frontend/src/libs/components/icon/icon-name-to-plain-svg.ts
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
