Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-60: * color to 'currentColor' for svg
  mobile/src/assets/img/icons/back-arrow.svg
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * using react.fc in every component
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: + comment to app.tsx
  mobile/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: * DELAY to SPLASH_SCREEN_HIDE_TIMEOUT
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/app/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * refactor header.tsx
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: + RouteParameters
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * color to 'currentColor' for send.svg
  mobile/src/assets/img/icons/send.svg
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * make 'title' property optional
  mobile/src/libs/components/header/header.tsx
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: - fixed and related width and height properties and replaced fill property with color property
  frontend/src/pages/meditation/meditation-tracks-list/meditation-track/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-60: - inline func and * onPress to handleSelectChat
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * fix imports
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * make 'title' property optional
  mobile/src/libs/components/header/header.tsx
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * fix import for NativeStackNavigationProp
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * onPress to handleSelectChat
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: + linear gradient component
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/linear-gradient/linear-gradient.tsx
  mobile/src/libs/components/linear-gradient/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: + linear gradient component
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/linear-gradient/linear-gradient.tsx
  mobile/src/libs/components/linear-gradient/styles.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * add color property to icon component, change svg strole and fill to be curentColor
  frontend/src/assets/icons/backward.svg
  frontend/src/assets/icons/forward.svg
  frontend/src/assets/icons/next.svg
  frontend/src/assets/icons/pause.svg
  frontend/src/assets/icons/play.svg
  frontend/src/assets/icons/previous.svg
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: * name of click card func
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: * height/width units, min height/width
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/chat-sidebar/styles.module.scss
  frontend/src/libs/components/search/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-55: - trash-box icon
  frontend/src/assets/icons/trash-box.svg
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  shared/src/libs/enums/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: - icon css file
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-55: * use-search return type location
  frontend/src/assets/img/card-image-placeholder.png
  frontend/src/libs/hooks/use-search/use-search.hook.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: - chat sidebar from root
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * route name
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + add a description for input and buttons according to A2 quality rule
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-150: * renamed chat list to chat
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * imports improvement
  mobile/src/libs/enums/enums.ts
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * import RNSwitch directly from react-native for switch component
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-148: - loader from button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * line-height
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/styles.module.scss
  frontend/src/libs/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-60: * imports in libs/navigation folder
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/navigations.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * handleOnPress to handlePress
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: * handleOnPress to handlePress
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-148: + prop is disabled to button, loader
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-52: + user role to users
  backend/src/db/migrations/20230826083159_add_user_roles_table.ts
  backend/src/db/migrations/20230826133720_add_role_id_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-113: * inline functions to regular function and removed unnecessary
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * constant name improvement
  mobile/src/screens/profile-settings/libs/constants.ts
  mobile/src/screens/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: + color property to icon
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + linear-gradient component
  mobile/src/libs/components/linear-gradient/linear-gradient.tsx
  mobile/src/libs/components/linear-gradient/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * components file
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
