Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-421: * progress bar timestamp color
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-421: - not used styles
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * function refactoring
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-404: + bottom element to reference it while scrolling
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-404: + scrolling functionality for messages block
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-404: + dispatch into scrilling useCallback hook
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: * function refactoring
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: + wrap card in meditation sidebar by Link
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * fix media bug in layout with meditation player
  frontend/src/libs/components/audio-player/components/audio-controls/styles.module.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * reduce progressBar and controls button width
  frontend/src/libs/components/audio-player/components/audio-controls/styles.module.scss
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/libs/components/audio-player/components/progress-bar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: + back button to meditation player
  frontend/src/libs/components/backward-button/backward-button.tsx
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: - unneccessary purpose style in meditation player
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-276: + day difference enum
  shared/src/libs/helpers/date/libs/enums/day-difference.enum.ts
  shared/src/libs/helpers/date/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: * get relative date helper
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: - format relative locale and single quote
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/format-relative-locale.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-276: * day difference yesterday name
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
  shared/src/libs/helpers/date/libs/enums/day-difference.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-414: * swagger changes in the meditation controller
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * chat layout messages length
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * journal loader condition
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-423: * fixex wrong view of home item when it is active
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-414: * swagger changes in the chat controller
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-432: + blank space
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: + duration route param
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-274: * adjusted prompt for the image generation
  backend/src/packages/chats/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-318: * refactor routes as separate config with mapping component elements
  frontend/src/index.tsx
  frontend/src/libs/components/router-provider/libs/constants/constants.tsx
  frontend/src/libs/components/router-provider/libs/helpers/helpers.ts
  frontend/src/libs/components/router-provider/libs/helpers/iterate-nested-route/iterate-nested-route.helper.tsx
  frontend/src/libs/components/router-provider/libs/maps/maps.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-444: + width/height to icon
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-431: * new routes for link with query
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-431: * move logic of selectedJournal to sidebar
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-413: * fix twice request chat
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-415: * width for topic cards
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-445: * meditation list container styles
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-446: * change data status to pending when reply is generating
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-446: + loader when chatbot response is loading
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-layout/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-446: * rename variable for cheking chatbot reply
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: + back button wrapper component
  frontend/src/libs/components/backward-button/back-button-wrapper.tsx
  frontend/src/libs/components/backward-button/backward-button.tsx
  frontend/src/libs/components/backward-button/components/backward-button.tsx
  frontend/src/libs/components/backward-button/components/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/query-string-parameters.constant.ts
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: - comments
  frontend/src/libs/components/backward-button/back-button-wrapper.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: - type assertion in user profile sidebar
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-446: + do not allow user to send message during chatbot response loading
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-446: + display a message when user cannot send a message
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-446: * notification message
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
