Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * style improvement message item
  mobile/src/screens/chat/components/message-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * branch update
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-199: * updates
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-199: * margin improvements for survey
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-199: - sign in link
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-199: - styles for sign in link
  mobile/src/screens/survey/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * onPress to handleOnPress
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * move getFormattedTime to shared
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/helpers/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/get-formatted-time/libs/constants/constants.ts
  shared/src/libs/helpers/get-formatted-time/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-78: - remove getFormattedDate from frontend/helpers
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/time-format.enum.ts
  frontend/src/libs/helpers/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file error output
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file set error
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-159: + add pages with more steps to the survey
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
  mobile/src/libs/types/navigation/survey-navigation-parameter-list.type.ts
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/feelings-step/styles.ts
  mobile/src/screens/survey/components/goal-step/goal-step.tsx
  mobile/src/screens/survey/components/goal-step/styles.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/journaling-step/styles.ts
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/components/meditation-step/styles.ts
  mobile/src/screens/survey/components/worries-step/styles.ts
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/libs/constants.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * jsx.element to reactNode
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - function handleOnPress
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * neat field destructuring
  mobile/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * PROFILE to MY_PROFILE
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-196: * dashboard to home in screen names
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + model class for message
  backend/src/packages/messages/libs/enums/chat-messages-table-column.enum.ts
  backend/src/packages/messages/libs/enums/enums.ts
  backend/src/packages/messages/message.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-78: * split getFormattedTime helper to getFormattedTime and getFormattedDate helpers in shared
  frontend/src/libs/components/button/styles.module.scss
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/helpers/date/get-formatted-date/get-formatted-date.helper.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend

cp-189: + init chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat model
  backend/src/packages/chats/chat.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat entity
  backend/src/packages/chats/chat.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + members column in chats table
  backend/src/db/migrations/20230906103635_add_members_column_to_chats_table.ts
  backend/src/libs/packages/database/libs/enums/chats-table-column.enum.ts
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + entity class for message
  backend/src/packages/messages/message.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + message repository with only create method
  backend/src/packages/messages/message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-78: + date.ts for reexport getFormattedDate and getFormattedTime
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: * changed sender_id to chat_id column in all layers
  backend/src/packages/messages/libs/enums/chat-messages-table-column.enum.ts
  backend/src/packages/messages/message.entity.ts
  backend/src/packages/messages/message.model.ts
  backend/src/packages/messages/message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + senderId column for message model and other layers
  backend/src/packages/messages/message.entity.ts
  backend/src/packages/messages/message.model.ts
  backend/src/packages/messages/message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * close icon name
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/maps/icon-name-to-plain-svg.map.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * noitifcation after creating meditation
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + chat response dtos
  backend/src/packages/chats/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chats-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/chats-get-all-response-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * constants meditation payload location
  frontend/src/pages/meditation/libs/constants.ts
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation modal is reseted flag
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/modal-wrapper/modal-wrapper.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + repository findAllByUserId method
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat service
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat api path
  backend/src/packages/chats/libs/enums/enums.ts
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
  shared/src/packages/chats/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-189: + chat controller
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat package root file
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: + chat routes in server api
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-207: + title question to survey
  mobile/src/screens/survey/styles.ts
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
