Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-17: + sign-in auth api path
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-22: + styles for link
  mobile/src/libs/components/link/link.tsx
  mobile/src/libs/components/link/styles.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: + jose package
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * changed dependencies
  backend/package-lock.json
  backend/package.json
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: * fixing styles notation and imports
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/helpers/get-valid-class-names.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * updating eslint config
  frontend/.eslintrc.yml
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-23: + label with title text and new styles for link
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/label/label.tsx
  mobile/src/libs/components/label/styles.ts
  mobile/src/libs/components/link/link.tsx
  mobile/src/libs/components/link/styles.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: * update .eslintrc.yml
  frontend/.eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-17: + find user by id logic
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + jwt secret env in config
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + verify token helper
  backend/src/packages/auth/libs/helpers/helpers.ts
  backend/src/packages/auth/libs/helpers/token/token.ts
  backend/src/packages/auth/libs/helpers/token/verify-token/verify-token.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * request user type
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + extend jose jwt payload interface
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + exception message enum
  backend/src/libs/enums/enums.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-17: + auth service verify token method
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + auth error exception
  backend/src/libs/exceptions/auth-error/auth-error.exception.ts
  backend/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + not provided token exception message
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-32: * update variables.scss
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-22: + basic layout
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/label/label.tsx
  mobile/src/libs/components/label/styles.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: + authorization plugin
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/plugins/plugins.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + init application plugins
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-18: * type definithion in redirectPath prop and add todo comment
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * fix editorconfig issue for windows
  .editorconfig
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: + name field for user response and request types and validation schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

development: * fix editorconfig issue for windows
  .editorconfig
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * changed View to ScrollView, new validation for name input and name inside type UserSignUpRequestDto
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/libs/components/components.tsx
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-17: * export files from module entry points
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/packages/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * rename function to start with a verb
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * change exception to unauthorized user
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-17: * create separate method for finding users by id
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * move onRequest hook name to a separate enum
  backend/src/libs/packages/controller/controller.ts
  backend/src/libs/packages/controller/libs/enums/controller-hook.enum.ts
  backend/src/libs/packages/controller/libs/enums/enums.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + user_details model with relation to users
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * checkIsWhiteRoute also checks the method
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + name field for user entity
  backend/src/packages/users/user.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * user_id column
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + saving data for user and user_details tables
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + createdAt and updatedAt fields for response
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-14: * replaced name with fullName
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-16: + add jwt service
  backend/src/packages/auth/jwt.service.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-17: * export from module root files
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
