Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: - getUserSurveyPreferences
  mobile/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * createUserSurveyPreferences to createUserSurvey
  mobile/src/packages/auth/auth-api.ts
  mobile/src/screens/survey/survey.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-125: + hover effect to link
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: + base meditation list component
  frontend/src/libs/components/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * refactored layout
  frontend/public/images/background-image.jpg
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-list/meditation-item/meditation-item.tsx
  frontend/src/libs/components/meditation-list/meditation-item/styles.module.scss
  frontend/src/libs/components/meditation-list/meditation-list.tsx
  frontend/src/libs/components/meditation-list/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-71: * deleted redundant images and mocked image sourse
  frontend/public/images/meditation-track-background.png
  frontend/public/images/meditation-track-bg.png
  frontend/public/images/track-background-336x480.jpg
  frontend/public/images/track-bg.png
  frontend/src/libs/components/meditation-list/meditation-item/meditation-item.tsx
  frontend/src/libs/components/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: + items in items list layout
  frontend/public/images/meditation-track-background.png
  frontend/public/images/meditation-track-bg.png
  frontend/public/images/track-bg.png
  frontend/public/play-button-60x60.png
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/meditation-list/meditation-item/meditation-item.tsx
  frontend/src/libs/components/meditation-list/meditation-item/styles.module.scss
  frontend/src/libs/components/meditation-list/meditation-list.tsx
  frontend/src/libs/components/meditation-list/styles.module.scss
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-71: + icon component
  frontend/package.json
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/icons/icon-map.tsx
  frontend/src/libs/components/icon/icons/play-solid.svg
  frontend/src/libs/components/meditation-list/meditation-item/meditation-item.tsx
  frontend/src/libs/components/meditation-list/meditation-item/styles.module.scss
  frontend/src/libs/components/meditation-list/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
  package.json
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * create user survey api naming
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + shared survey constants
  shared/src/packages/surveys/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey input dto and validation schema
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey categories helper file name
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey helpers export
  shared/src/packages/surveys/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: - survey textarea options
  shared/src/packages/surveys/libs/enums/survey-textarea-options.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey shared exports
  shared/src/index.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + preferences other category constant
  frontend/src/packages/survey/libs/constants/constants.ts
  frontend/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: - shared to frontend survey enums
  frontend/src/packages/survey/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * create user survey action name
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-121: + fullName property to swagger sign-up request body
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * survey coponents constants
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-121: * swagger sign-up response
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * categories field implementation
  frontend/src/libs/components/survey-category/survey-category.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * remove form hook watch
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * redundant blank lines in auth slice
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * auth api redundant get survey
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-50: * requested changes
  frontend/package.json
  package-lock.json
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * category to survey components folder
  frontend/src/libs/components/components.ts
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/survey-category/styles.module.scss
  frontend/src/pages/surveys/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * common button disabled naming
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-121: + swagger sign-up bad request response
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * preferences step handle submit naming
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-50: * requested changes
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-121: + error response schema
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-121: + swagger sign-in unauthorized response
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-121: + swagger sign-in not found response
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * survey loader from app
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * removeredundant assertion on button
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey redundant blank lines
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * preferences step change splice
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: * logics for field property
  mobile/src/packages/survey/libs/enums/enums.ts
  mobile/src/packages/survey/survey.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
  mobile/src/screens/survey/libs/constants.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/constants/constants.ts
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-textarea-options.enum.ts
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
  shared/src/packages/surveys/libs/helpers/helpers.ts
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-54: * folder structure and constants names
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/libs/constants.ts
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants.ts
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/hooks/use-search/libs/constants.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/components/badge/badge.tsx
  mobile/src/screens/chat-list/components/badge/styles.ts
  mobile/src/screens/chat-list/components/components.tsx
  mobile/src/screens/chat-list/libs/data.json
  mobile/src/screens/chat-list/styles.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/debounce/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
