Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-16: + add JWT issuing to user.service
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/package-lock.json
  frontend/package.json
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-32: * changed names in css variables
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/merge-styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-26: + add app colors
  mobile/src/libs/enums/ui/app-colors.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-26: + loader
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: + fixed suggestions
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/logo.svg
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-26: * fix enum name and structure
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/enums/ui/ui.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-26: + add styles for loader
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/components/loader/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * ignore react-native imports for windows
  mobile/.eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-17: + fastify-plugin package
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: + added styles for button and input components, changes on input field related to different types of input state
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: + installing montserrat fonts
  frontend/package.json
  frontend/public/fonts/montserrat/Montserrat-Black.woff2
  frontend/public/fonts/montserrat/Montserrat-BlackItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Bold.woff2
  frontend/public/fonts/montserrat/Montserrat-BoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBold.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLight.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Italic.woff2
  frontend/public/fonts/montserrat/Montserrat-Light.woff2
  frontend/public/fonts/montserrat/Montserrat-LightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Medium.woff2
  frontend/public/fonts/montserrat/Montserrat-MediumItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Regular.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBold.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Thin.woff2
  frontend/public/fonts/montserrat/Montserrat-ThinItalic.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/get-valid-class-names.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/merge-styles.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: * fixing style variables names
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-20: * fix white color name
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-21: + error-handling-middleware + styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/index.tsx
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/middlewares/errorHandling/error-handling-middleware.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-21: * Renamed Folder
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/middlewares/error-handling/error-handling-middleware.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: - removing extra fonts
  frontend/public/fonts/montserrat/Montserrat-Black.woff2
  frontend/public/fonts/montserrat/Montserrat-BlackItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Bold.woff2
  frontend/public/fonts/montserrat/Montserrat-BoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBold.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLight.woff2
  frontend/public/fonts/montserrat/Montserrat-ExtraLightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Italic.woff2
  frontend/public/fonts/montserrat/Montserrat-Light.woff2
  frontend/public/fonts/montserrat/Montserrat-LightItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-MediumItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBoldItalic.woff2
  frontend/public/fonts/montserrat/Montserrat-Thin.woff2
  frontend/public/fonts/montserrat/Montserrat-ThinItalic.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-32: * fixing header styles
  frontend/src/libs/components/header/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-32: * fixing header styles again
  frontend/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fixing link styles
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/get-valid-class-names.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * fixing styles
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: - change name of fonts
  frontend/public/fonts/montserrat/Montserrat-Medium.woff2
  frontend/public/fonts/montserrat/Montserrat-Regular.woff2
  frontend/public/fonts/montserrat/Montserrat-SemiBold.woff2
Due: npm run lint:editor && npm run lint:fs

cp-26: - unnecessary Text tag
  mobile/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: + add kebab case in font names
  frontend/public/fonts/montserrat/montserrat-medium.woff2
  frontend/public/fonts/montserrat/montserrat-regular.woff2
  frontend/public/fonts/montserrat/montserrat-semibold.woff2
Due: npm run lint:editor && npm run lint:fs

development: * disable eslint prop-types rule
  frontend/.eslintrc.yml
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-17: + declare fastify module with extended request interface
  backend/src/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + override eslint rules for index.d.ts file
  backend/.eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-17: + include index.d.ts in tsconfig
  backend/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: + unauthorized http code
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-18: + protected route wrapper component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-18: - root route content
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-18: + root route page
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-18: + protected route wrapper component to root component
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * disable dot notation eslint rule
  .eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-18: * protected route component by adding useSelector
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-23: + background image and placed inputs and buttons on required position. changes to input styles
  mobile/src/assets/bottom-bubble.png
  mobile/src/assets/sign-background.png
  mobile/src/assets/top-bubble.png
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/types/images.d.ts
  mobile/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-22: + bg and styles for button and input
  mobile/src/assets/bottom-bubble.png
  mobile/src/assets/sign-background.png
  mobile/src/assets/top-bubble.png
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/screens/auth/auth.tsx
  mobile/src/types/images.d.ts
  mobile/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: + saving token in the local storage
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-18: * protocted route component changing props
  frontend/src/index.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-17: + white-routing
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + isWhiteRoute helper
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
  backend/src/libs/packages/server-application/libs/helpers/is-white-route/is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
