Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-232: - comments
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * reducer for updateJournalEntries to move updated note to the beginning
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + subscription slice
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/subscription/actions.ts
  frontend/src/slices/subscription/subscription.slice.ts
  frontend/src/slices/subscription/subscription.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-370: * change colors for the home page
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-232: * array index imporvements
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: * hotfix with button styles
  frontend/src/libs/types/button-style.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-370: * changed colors for the meditation page
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-337: + file from merging
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-370: * changed add meditation modal colors
  frontend/src/libs/components/input-file/styles.module.scss
  frontend/src/pages/meditation/components/add-meditation-modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-232: + placeholders
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-370: * changed colors for the modal component
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-232: * note styles
  mobile/src/screens/note/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-370: * changed colors for chat component
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/components/chat-message/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-356: * height properties for sidebar component
  frontend/src/libs/components/sidebar/components/sidebar-header/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-370: * changed color for card component
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-370: * changed colors for Journal component
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-370: * changed colors for user profile component
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-232: * constants
  mobile/src/screens/note/libs/constants.ts
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: - comment
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: + placeholder style
  mobile/src/screens/note/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * applied placeholder color
  mobile/src/screens/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + padding bottom to chat and journal functionality to have possibility to see the last item
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-274: + response format option
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/packages/api/libs/types/http-api-options.type.ts
  backend/src/libs/packages/open-ai/libs/enums/enums.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-response-format.enum.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/types/update-chat-image-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-296: * noteId to id
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-274: + renamed openAi service
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-274: * moved image generation to actions
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-334: + scrollbar-width:none to hide scroll in firefox
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-395: - focus on input when keyboard is closed
  mobile/src/screens/chat/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-334: + padding bottom to chat and journal functionality to have possibility to see the last item
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-283: - unused props in modal componet
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * timer modal style
  mobile/src/libs/components/set-timer-modal/set-timer-modal.tsx
  mobile/src/libs/components/set-timer-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * modal type
  mobile/src/libs/components/set-timer-modal/set-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * transparency
  mobile/src/libs/components/set-timer-modal/set-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * permission helper to request-media-permissions
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/request-media-permissions.helper.ts.ts
  mobile/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * useAppRoute
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-270: * createMessage function
  mobile/src/screens/chat/chat.tsx
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * naming
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/meditation-timer-modal/libs/constants.ts
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
  mobile/src/libs/components/meditation-timer-modal/styles.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * constants
  mobile/src/libs/components/meditation-timer-modal/libs/constants.ts
  mobile/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * import requestMediaPermissions from helpers.ts
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/helpers/helpers.ts
  mobile/src/libs/components/input-file/libs/helpers/request-media-permissions.helper.ts.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
