Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-268: + delete route in chatController
  backend/src/packages/chats/chat.controller.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-268: + swagger documentation for delete route in chatController
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * fix path parameter and request payload in chat messages api
  frontend/src/packages/chat-messages/chat-messages-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * delete method in chat repository and all delete methods in all repositories
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * delete methods in chat controller and service to use userId in payload and throw ChatError
  backend/src/libs/types/service.type.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * changed delete() method in user repository
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + trash icon to mapiconNameToIcon and change card component according to this
  frontend/src/assets/icons/trash.svg
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * changed error HTTPCode in deleteAuthenticatedUser auth service
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + deleteChat action and slices
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + delete chat api
  frontend/src/packages/chats/chats-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed ZERO_ROWS_DELETED to NO_UPDATES
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + delete chat modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: + delete chat logic to chat sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/chat/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: + width and height to send icon in chat footer
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * back button position
  frontend/src/libs/components/backward-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: * Implemented getValidClassNames in checkbox
  frontend/src/libs/components/checkbox/checkbox.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Moved checkbox options to constants
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Moved steps to constants
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/libs/constants/constants.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * fix resetting note via useEffect isDirty form's change
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * missing joi dependency on backend package
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + request permissions
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package.json
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/styles.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * fix ci linter
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-283: + permissions helper
  mobile/android/app/src/main/AndroidManifest.xml
  mobile/package.json
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/helpers/permissions.helper.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * add meditation button styles
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * imports
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: - inline function in input-file
  mobile/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: * header styles
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: * header
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * imporvemetns to card to delete function
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * object to delete api
  frontend/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * modal isCrossShow prop name
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: * updated meditation entries data
  backend/src/db/seed-data/meditation-entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + add draft logic for retrieving meditation entry with id
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: + backend GET route and logic for meditation_entries
  backend/src/packages/meditation/libs/types/types.ts
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
  shared/src/index.ts
  shared/src/packages/meditation/libs/types/meditation-entry-get-all-item-response-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-get-all-response-dto.type.ts
  shared/src/packages/meditation/libs/types/types.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-194: * fix endless requests on server when changing input values
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + add logic to retrieve the meditation length from params
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - MINIMUM_TITLE_LENGTH rule in createJournalEntryValidationSchema
  shared/src/packages/journal/libs/enums/journal-entry-validation-rule.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-192: + getAllMeditationEntries slice
  frontend/src/packages/meditation/libs/types/types.ts
  frontend/src/packages/meditation/meditation-api.ts
  frontend/src/packages/meditation/meditation.ts
  frontend/src/slices/meditation/actions.ts
  frontend/src/slices/meditation/meditation.slice.ts
  frontend/src/slices/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: + calling for getAllMeditationEntries in the meditation sidebar
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + lexical library
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write
