Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-194: * TITLE_MUST_BE_LESS_THAN_255 to TITLE_MUST_BE_LESS_THAN in JournalEntryValidationMessage
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: * add_user_id_to_journals_entries_table name to add_user_id_to_journal_entries_table
  backend/src/db/migrations/20230909153115_add_user_id_to_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * fix import
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * journal delete func in repository
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * exception message
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-268: * return type in delete method in repository
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * input file file name destruction, event
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: - not nullable constraint for down in migration
  backend/src/db/migrations/20230912094401_delete_name_column_from_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + get megabytes helper and constants
  shared/src/libs/helpers/get-megabytes-rom-bytes/get-megabytes-from-bytes.helper.ts
  shared/src/libs/helpers/get-megabytes-rom-bytes/libs/constants.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + upload file content type to extensions
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/upload-file-content-type-to-extensions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * exception rule and message
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/exception-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * base server extensions
  backend/src/libs/enums/enums.ts
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + add useAppForm hook to the meditation timer component
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modals with forward ref
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: - form from modal
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modals references
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * delete journal modal title
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * forward ref in hooks
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modals handle close dependencies
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * updated the navigation functionality
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + redirecting to the created chat
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: - mocked messages constant
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-304: + overflow for the title
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-283: + meditation slice
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/meditation/meditation-api.ts
  mobile/src/packages/meditation/meditation.ts
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
  mobile/src/slices/meditation/meditation.ts
  shared/src/index.ts
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation sidebar handle select
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * file upload validation rule
  shared/src/packages/files/libs/enums/file-upload-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + file upload content type to extension
  shared/src/packages/files/libs/enums/file-upload-content-type-to-extension.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + file upload validation message
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/file-upload-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * file upload validation rule
  shared/src/packages/files/libs/enums/file-upload-validation-rule.enum.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: - exception rule and upload content type
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/exception-rule.enum.ts
  shared/src/libs/enums/upload-file-content-type-to-extensions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * redundtant exception messages
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * file message, rule instead of exeption
  backend/src/libs/enums/enums.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/files.ts
  backend/src/packages/files/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * create meditation entry validation name
  backend/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  backend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * note tsx to use react-contenteditable
  frontend/package.json
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/journal.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * rename chat-message-create-data type
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  backend/src/packages/chat-messages/libs/types/types.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entry response id
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-160: * meditation player default image
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * chats api path
  backend/src/packages/chats/chat.controller.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-160: * get megabytes helper folder name
  shared/src/libs/helpers/get-megabytes-from-bytes/get-megabytes-from-bytes.helper.ts
  shared/src/libs/helpers/get-megabytes-from-bytes/libs/constants.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-161: + applied new implementation of the modal window
  frontend/src/assets/icons/download.svg
  frontend/src/assets/icons/upload.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend
