Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-296: * button component
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: - deleting custom ts config
  backend/tsconfig.json
  frontend/tsconfig.json
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * delete journal service return logic
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: - icon-right:hover from card
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-295: * cross icon prop name
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changing the conditional rendering constants names
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: + icon color for trash box
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changing close method for the modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Simplifiying if statments in the checkbox component
  frontend/src/libs/components/checkbox/checkbox.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: - removing tsconfig inclide additional file
  frontend/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-369: + time near messages
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/helpers/message-item-properties.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * icon-right position
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * Fixing issue with handleclose in user profile
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-369: * message-item-properties helper
  mobile/src/libs/helpers/message-item-properties.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-264: * updated icons path 24px size
  frontend/src/assets/icons/chats.svg
  frontend/src/assets/icons/home.svg
  frontend/src/assets/icons/journal.svg
  frontend/src/assets/icons/meditation.svg
  frontend/src/assets/icons/user.svg
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants/constants.ts
  frontend/src/libs/components/navigation-menu-wrapper/navigation-menu-wrapper.tsx
  frontend/src/libs/components/navigation-menu/libs/constants/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/components/sidebar/components/sidebar-header/sidebar-header.tsx
  frontend/src/pages/surveys/survey.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-232: * function naming
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: - curly braces
  mobile/src/navigations/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: - unnecessary header
  mobile/src/navigations/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-379: * sign in styles
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-376: * sign up styles
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + meditation mocked data constants
  mobile/src/screens/meditation-home/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + mocked duration
  mobile/src/screens/meditation-list/libs/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * meditation list functionality
  mobile/src/screens/meditation-list/libs/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * imporvements
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: - constants
  mobile/src/screens/meditation-list/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * add button from meditation-home ti meditation-list
  mobile/src/screens/meditation-home/components/components.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/styles.ts
  mobile/src/screens/meditation-list/components/components.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * meditation home screen
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + migration to change chars limit for title from 255 to 300
  backend/src/db/migrations/20230924074610_modify_type_of_title_column_in_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * MAXIMUM_TITLE_LENGTH from 255 to 300 in JourneyEntryValidationRule
  shared/src/packages/journal/libs/enums/journal-entry-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-346: - await in update method and add execute()
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: - scale while hover on delete icon
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: * style for icon-right to use position absolute instead of relative
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: + deletedCount variable in update method in chat service
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: * header small fonts
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * rename isCloseIconShown to isCloseEnabled in modal
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * delete methods in all other repositories to return boolean
  backend/src/libs/types/repository.type.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-381: + textAlignVertical to top
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * repository to have await to return boolean everywhere
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-170: * fix time displaying
  mobile/src/libs/helpers/get-formatted-time/get-formatted-time.helper.ts
  mobile/src/libs/helpers/get-formatted-time/libs/constants.ts
  mobile/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * getFormattedTime helper
  mobile/src/libs/helpers/get-formatted-time/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
