Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * Changed the input element to input component
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Fix responsive problem in mobile screen
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: * Changed COLUMN_NAME to DELETED_AT
  backend/src/db/migrations/20230915120000_add_deleted_at_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: - Removed nullable from deleted_at migration
  backend/src/db/migrations/20230915120000_add_deleted_at_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + findById and delete methods in chatRepository
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + findById and delete methods in chatService
  backend/src/libs/types/service.type.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + delete route in chatController
  backend/src/packages/chats/chat.controller.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-268: + swagger documentation for delete route in chatController
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + ChatsError if chat with such id was not found
  backend/src/libs/exceptions/exceptions.ts
  backend/src/packages/chats/chat.service.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/chats-error/chats-error.exceptions.ts
  shared/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-268: + 404 error to swagger
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: + modal component
  frontend/src/assets/icons/close.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: + trash box to card
  frontend/src/assets/icons/trash-box.svg
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
  frontend/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: + journal api delete
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-delete-response-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-295: + action in slice for deleting journal
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
  frontend/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: + delete journal modal
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: + open modal logic
  frontend/src/pages/journal/components/delete-journal-modal/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: - usePress hook and +activeOpacity prop
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-press-state/libs/constants.ts
  mobile/src/libs/hooks/use-press-state/use-press-state.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: + shadow to IconButton component
  mobile/src/libs/components/icon-button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: + shadow to Card component
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: + shadow to meditation list
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: - shadow on Settings component
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/notification-settings/components/setting/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: + shadow to meditation player
  mobile/src/libs/components/button/styles.ts
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: + shadow to bot messages in chat
  mobile/src/screens/chat/components/message-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-299: + fixed color for input
  mobile/src/libs/components/input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-299: * style of title text
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-299: + margin to sign up bottom layout
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: + types, enums and validation schemas in shared
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/enums/content-type.enum.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/packages/files/files.ts
  shared/src/packages/files/libs/enums/enums.ts
  shared/src/packages/files/libs/enums/file-upload-validation-rule.enum.ts
  shared/src/packages/meditation/libs/enums/enums.ts
  shared/src/packages/meditation/libs/enums/meditation-api-path.enum.ts
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
  shared/src/packages/meditation/libs/types/types.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-168: * Changed deletedResult to deletedUser
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.service.ts
  shared/src/packages/users/libs/types/user-delete-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-168: * Changed delete in user repository to boolean
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * delete method in service by using userId
  backend/src/libs/types/service.type.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-268: + trash icon to chat card
  frontend/src/assets/icons/trash.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: + useHandleClickOutside hook
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + modal component
  frontend/src/assets/icons/close.svg
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/enums/icon-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-300: + query string enums
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/enums/query-strings/query-strings.ts
  frontend/src/libs/enums/query-strings/sidebar-mode-query-string-value.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: - query string in chat sidebar links
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: + get url with query string helper
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * sidebar show hook
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: + url with query string in sidebar routes
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * rename exporting file
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/query-strings/query-strings.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
