Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-189: + query non unique items and update their names with index
  backend/src/db/migrations/20230914101723_remove_unique_constraint_in_chats_name_column.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-223: * return hook naming
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * hook condition
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: + hide sidebar by pressing the link
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: - user to chat response type
  shared/src/packages/chats/libs/types/chat-get-all-item-response-dto.type.ts
  shared/src/packages/chats/libs/types/user-to-chat-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-189: * migration constant
  backend/src/db/migrations/20230914101723_remove_unique_constraint_in_chats_name_column.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * modal handle click outside
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed the name of the constant to ZERO_ROWS_DELETED
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Moved the Modal constants to their own file
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Modified the if onClose to onClose? inside the Modal
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Modified the if onClose to onClose? inside the confirmation step
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Changed all Modal and steps buttons to Button component
  frontend/src/assets/icons/close.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-confirmation.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: - Removing the font-family from the steps styles
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: * Changed the modal to dialog element
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * Changed checkbox to checkbox component in delete account form
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: + usePressState hook
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-press-state/libs/constants.ts
  mobile/src/libs/hooks/use-press-state/use-press-state.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: * clear input logic
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * define a variable for useParams id
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + draft logic of displaying medtiation player
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-194: * updatedAt in update method in journalEntry repository
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: + common handleNoteChange method in note.tsx
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - loader in note.tsx
  frontend/src/libs/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + type assertion in jornal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * refactored the TimerButton component
  frontend/src/libs/components/meditation-timer/components/timer-button/styles.module.scss
  frontend/src/libs/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-194: * full path creation in jornal-sidebar.tsx
  frontend/src/libs/components/card/card.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-285: - unnecessary meditation data
  mobile/src/screens/meditation-home/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * full path creation in jornalEntry actions.ts
  frontend/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + draft logic for displaying meditation player
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/navigation-menu/styles.module.scss
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-296: + delete dvg icon
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-296: + delete icon svg to maps and types
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + swipeable for card
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * type assertion
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * JSX.Element to ReactNode
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * currentColor and style of delete icon
  mobile/src/assets/img/icons/delete.svg
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * icon size
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-296: - inline styles
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * made icon pressable
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + modal component
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + modal styles
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * modal
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
