Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * components exports
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + survey and preferences step components
  frontend/src/pages/survey/components/components.tsx
  frontend/src/pages/survey/components/survey-option/styles.module.scss
  frontend/src/pages/survey/components/survey-option/survey-option.tsx
  frontend/src/pages/survey/styles.module.scss
  frontend/src/pages/survey/survey.tsx
  frontend/src/pages/surveys/components/components.tsx
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/preferences-step/styles.module.scss
  frontend/src/pages/surveys/libs/constants.ts
  frontend/src/pages/surveys/styles.module.scss
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * app component and route
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-60: * styles for input
  mobile/src/screens/chat-layout/chat.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
  mobile/src/screens/chat-layout/components/chat-input/styles.ts
  mobile/src/screens/chat-layout/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * several imports from react-hook-form into one
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * SendButton to SendIcon
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * onPress to onSend
  mobile/src/screens/chat-layout/chat.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * debounce
  mobile/package.json
  mobile/src/libs/components/header-title/header-title.tsx
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/types/index.d.ts
  package-lock.json
  shared/package.json
  shared/src/index.ts
  shared/src/libs/helpers/debounce-function/debounce-function.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + survey dtos
  shared/src/packages/surveys/libs/types/survey-get-all-item-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-get-all-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * api routes
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey shared imports
  frontend/src/packages/survey/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * auth api
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * imports from shared
  frontend/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + survey slice
  frontend/src/slices/survey/actions.ts
  frontend/src/slices/survey/survey.slice.ts
  frontend/src/slices/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey reducer in store
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * adapt survey components to slice
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * app component
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: - HeaderTitle from main
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header-title/header-title.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/badge/badge.tsx
  mobile/src/screens/chat/components/badge/styles.ts
  mobile/src/screens/chat/components/chat-link/chat-link.tsx
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: - arrow icon
  mobile/src/assets/img/icons/arrow-right.svg
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * rename debounce
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/helpers/helpers.ts
  mobile/src/screens/chat/components/chat-item/styles.ts
  shared/src/index.ts
  shared/src/libs/helpers/debounce-function/debounce-function.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-54: * organize images correctly
  mobile/src/assets/img/bottom-bubble.png
  mobile/src/assets/img/card-image-placeholder.png
  mobile/src/assets/img/sign-background.png
  mobile/src/assets/img/top-bubble.png
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix incorrect imports
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + custom color to plus icon
  mobile/src/assets/img/icons/plus.svg
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/libs/constants/constants.ts
  mobile/src/screens/chat/components/chat-link/chat-link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + state fo filtered chat
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants/data.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + card component
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * control instead of register
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/survey-category/survey-category.tsx
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: * fix properties for a card
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants/data.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * constants naming
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
  frontend/src/slices/survey/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: * fix naming
  mobile/src/libs/components/card/card.tsx
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-65: + add redux slices, animations and refactor
  frontend/src/libs/components/components.ts
  frontend/src/libs/constants/chat-mock-data.constants.ts
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-chat/use-app-chat.hook.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/hooks/use-message-reducer/use-message-reducer.hook.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/types/chat-input-properties.type.ts
  frontend/src/libs/types/message.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/bot-message/styles.module.scss
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-input/chat-input.tsx
  frontend/src/pages/chat/components/chat-input/styles.module.scss
  frontend/src/pages/chat/components/user-message/styles.module.scss
  frontend/src/slices/chat/actions.ts
  frontend/src/slices/chat/chat.slice.ts
  frontend/src/slices/chat/chat.ts
  shared/src/index.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/enums/chat-role.enum.ts
  shared/src/packages/chat/libs/enums/enums.ts
  shared/src/packages/chat/libs/types/chat-message.type.ts
  shared/src/packages/chat/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: * fixing styles
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/bot-message/styles.module.scss
  frontend/src/pages/chat/components/user-message/styles.module.scss
  frontend/src/pages/chat/components/user-message/user-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: * link component properties
  mobile/src/libs/components/link/link.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-link/chat-link.tsx
  mobile/src/screens/chat/components/chat-link/styles.ts
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * fix all requested changes
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toast/toast.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/notification/libs/types.ts/notification-payload.type.ts
  frontend/src/libs/packages/notification/libs/types.ts/types.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/services/notification.ts
  frontend/src/libs/packages/store/libs/types/app-dispatch.type.ts
  frontend/src/libs/packages/store/libs/types/types.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app-notification.ts
  frontend/src/slices/notifications/actions.ts
  frontend/src/slices/notifications/app.slice.ts
  frontend/src/slices/notifications/notification.ts
  mobile/metro.config.js
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-21: * fix foleder name type.ts and requested change in notifications.package.ts
  frontend/src/libs/packages/notification/libs/types/notification-payload.type.ts
  frontend/src/libs/packages/notification/libs/types/types.ts
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: + improving chat slice
  frontend/src/libs/types/chat-state.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/user-message/styles.module.scss
  frontend/src/slices/chat/chat.handler.ts
  frontend/src/slices/chat/chat.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-50: * createdAt and updatedAt in survey entity
  backend/src/packages/surveys/survey.entity.ts
  backend/src/packages/surveys/survey.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * updating isSurveyCompleted implementation
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: - findAll implementation in survey service
  backend/src/libs/types/service.type.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: - SurveyGetAllResponseDto
  backend/src/packages/surveys/libs/types/types.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/types/survey-get-all-response-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-14: + bad request http status code
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
