Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: + add chat bg-color
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-19: + final functionality added
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/packages/users/users-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-27: * type error's type and update enum for success and info
  mobile/src/libs/enums/notification/notification-type.enum.ts
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/slices/notifications/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-19: - redundant code
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-54: * routing
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-72: - served page path const export
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-15: * delete unused variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-15: * font weight value
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-15: * minor fixes sign-up
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * user sign in fix import
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: + backgound image
  frontend/public/images/auth-720x512.png
Due: npm run lint:editor && npm run lint:fs

cp-13: * event naming
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * implement background
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * remove redundant variables
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-54: + LinearGradient for gradient BG
  mobile/package.json
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/styles.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * organize imports correctly
  mobile/src/libs/components/components.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
  mobile/src/screens/chat/components/header/header.tsx
  mobile/src/screens/chat/components/header/styles.ts
  mobile/src/screens/home/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix types
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/tab-navigation-options.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/chat/components/chat-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * button class name
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-12: + swagger documentation for sign in
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-52: + user_roles table
  backend/src/db/migrations/20230826083159_add_user_roles_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/user-roles-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * change to using ExceptionMessage
  backend/src/packages/auth/auth.service.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-12: * variable name from pswrdCompare to isSamePassword
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * from UserNotFoundError & IncorrectPasswordError to UsersError
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-incorrect-password-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-users-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  backend/src/packages/auth/auth.service.ts
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/incorrect-password-error/incorrect-password-error.exception.ts
  shared/src/libs/exceptions/user-not-found-error/user-not-found-error.exception.ts
  shared/src/libs/exceptions/users-error/users-error.exception.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-24: + logics fr getting authenticated user
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/packages/api/base-http-api.ts
  mobile/src/libs/packages/http/libs/types/http-api-options.type.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/users-api.ts
  mobile/src/packages/users/users.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  mobile/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-55: + icon component
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/enums/enums.ts
  shared/src/index.ts
  shared/src/libs/enums/enums.ts
  shared/src/libs/enums/icon-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-55: + debounce hook
  frontend/src/libs/components/components.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-debounce/libs/constants/constants.ts
  frontend/src/libs/hooks/use-debounce/use-debounce.hook.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: * mocked for future redux selected chat
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/search/search.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: * button props
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-55: * fix imports
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: * button props
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * text in auth page
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-21: * Fixing enums in notification
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/packages/services/libs/enums/enums.ts
  frontend/src/libs/packages/services/libs/enums/notification-type.enum.ts
  frontend/src/libs/packages/services/notification-service.ts
  frontend/src/libs/packages/services/notification.ts
  frontend/src/libs/packages/store/middlewares/middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/packages/store/store.ts
  frontend/src/slices/notifications/actions.ts
  frontend/src/slices/notifications/app.slice.ts
  frontend/src/slices/notifications/notification.slice.ts
  frontend/src/slices/notifications/notification.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: * fix global colors
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/loader/loader.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/chat/components/chat-item/styles.ts
  mobile/src/screens/chat/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * change colors order
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-72: * swagger ui route prefix
  backend/src/libs/packages/server-application/base-server-application.ts
  shared/src/libs/enums/api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-72: * white routes path as regex
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-21: * Update middlewares ci error
  frontend/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-72: * served page path regex
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-54: * typos, imports, comments
  mobile/src/assets/img/icons/arrow-right.svg
  mobile/src/libs/hooks/hooks.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
  mobile/src/screens/chat/components/chat-item/styles.ts
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * transparent variable
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
