Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-23: * FC to React.FC, minor file name change
  mobile/src/index.d.ts
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/sign-background/sign-background.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-38: * rename navigation component
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: + password requred messages
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

development: * fix shared build for mobile
  package-lock.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * isSecure improved
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: + dots for user validation messages
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * styles variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-49: * font body styles
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-14: - returnung statement
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-49: * common button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: + survey and options
  frontend/src/pages/survey/components/components.tsx
  frontend/src/pages/survey/components/survey-option/styles.module.scss
  frontend/src/pages/survey/components/survey-option/survey-option.tsx
  frontend/src/pages/survey/styles.module.scss
  frontend/src/pages/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * clear app component
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * fix shared build
  package-lock.json
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * background for sign-up
  frontend/public/images/auth-720x512.png
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * variables for colors
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-15: * dot to validation schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

production: * fix lint errors
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-http-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-42: * sidebar styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-42: * useLocation hook moved
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-42: + sidebar
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-42: + new color added
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-42: + requested changes
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-42: + sidebar
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/img/home.svg
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-42: * sidebar styles
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/styles.module.scss
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-42: + getValidClassNames helper usage
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * validation message with dots
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: * button imports
  frontend/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-23: + modules from npm install
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * styles colors to var
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-60: + ability to send messages
  mobile/src/libs/components/components.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
  mobile/src/screens/chat-layout/components/chat-input/styles.ts
  mobile/src/screens/chat-layout/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: + add dto types to shared
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/surveys/surveys.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/surveys/libs/types/survey-get-all-item-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-get-all-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-51: + styles for other category
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/survey-category/styles.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/preferences-step/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * is_survey_completed column from users to user_details table in db schema
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * change table to alterTable
  backend/src/db/migrations/20230823072025_add_is_survey_completed_column_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * onDelete to cascade rule in surveys table migration
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-15: * button class name
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-60: + bottom tab navigation and send button svg
  mobile/src/assets/img/icons/send-button.svg
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
  mobile/src/screens/chat-layout/components/chat-input/styles.ts
  mobile/src/screens/chat-layout/styles.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: * requested changes
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/users/user.repository.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-67: + meditation tables added
  backend/src/db/migrations/20230824184415_add_meditation_topics_table.ts
  backend/src/db/migrations/20230824185213_add_meditation_entries_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/meditation-entries-table-column.enum.ts
  backend/src/libs/packages/database/libs/enums/meditation-topics-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
