Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-356: + nullification for border for plus buttons
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-338: * Update styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-356: * added width value and deleted justify-content
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: + subscription entity
  backend/src/packages/subscriptions/subscription.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + update subscription method
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: * subscription entity
  backend/src/packages/subscriptions/subscription.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + subscription repository
  backend/src/packages/subscriptions/subscription.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * date divider color
  frontend/src/assets/css/variables.scss
  frontend/src/pages/chat/components/chat-date/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-276: * chat divider component naming
  frontend/src/pages/chat/components/chat-date/chat-divider.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * user common query response type
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * relative locale constants, time format
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/format-relative-locale.enum.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-347: + subscription common query response type
  backend/src/packages/subscriptions/libs/types/subscription-common-query-response.type.ts
  backend/src/packages/subscriptions/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + user update subscription method
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + subscription subscribe method
  backend/src/packages/subscriptions/subscription.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + create subscription route
  backend/src/packages/subscriptions/subscription.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + subscription repository in subscription service
  backend/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + subscribe method in subscription api
  frontend/src/packages/subscriptions/subscription-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + send subscribe request and navigate user to subscription page on success
  frontend/src/slices/subscription/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * change subscription icon
  frontend/src/assets/icons/subscription.svg
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * env example file
  backend/.env.example
Due: npm run lint:editor && npm run lint:fs

cp-168: - Removing unused styles from delete account form
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: * Fixing a typo in delete account form
  frontend/src/libs/components/modal/steps/delete-account/delete-account-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + subscription swagger documentation
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/subscriptions/subscription.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Renaming constant in user service
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * fixing space before the button in delete from
  frontend/src/libs/components/modal/steps/delete-account/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: + subscription validation schemas
  backend/src/packages/subscriptions/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/subscriptions/subscription.controller.ts
  shared/src/index.ts
  shared/src/packages/subscriptions/libs/enums/enums.ts
  shared/src/packages/subscriptions/libs/enums/subscription-validation-message.enum.ts
  shared/src/packages/subscriptions/libs/enums/subscription-validation-rule.enum.ts
  shared/src/packages/subscriptions/libs/validation-schemas/cancel-payment-intent.validation-schema.ts
  shared/src/packages/subscriptions/libs/validation-schemas/create-payment-intent.validation-schema.ts
  shared/src/packages/subscriptions/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-168: * Changed response from plural to singular in user repository
  backend/src/packages/users/libs/constants/constants.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Refactor hasNexStep const and HasCloseButton
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-account-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Previous preparation to pull development branch
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  frontend/src/assets/icons/trash-box.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-257: * Fixing responsive height in the side menu
  frontend/src/libs/components/dropdown-menu/styles.module.scss
  frontend/src/libs/components/navigation-menu-wrapper/styles.module.scss
  frontend/src/libs/components/navigation-menu/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-159: + add a component for reuse in screens and move the stack survey to navigation
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/survey-navigation-item.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/navigations.tsx
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/survey/libs/constants.ts
  mobile/src/navigations/survey/survey.tsx
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/preferences-step/styles.ts
  mobile/src/screens/survey/components/survey-step/styles.ts
  mobile/src/screens/survey/components/survey-step/survey-step.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-156: * restore package-lock after reverting npm update
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * function imporvement
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * function inprovement
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: * file imports
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
  frontend/src/slices/subscription/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + validation rule as value in the validation message
  shared/src/packages/subscriptions/libs/enums/subscription-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-182: + button timer styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + color
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * button improvement
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: - props
  mobile/src/libs/components/meditation-timer-modal/meditation-timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
