Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * calmpal naming
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-76: + splash screen
  mobile/android/app/src/main/java/com/calmpal/MainActivity.java
  mobile/android/app/src/main/res/drawable-hdpi/splash.png
  mobile/android/app/src/main/res/drawable-mdpi/splash.png
  mobile/android/app/src/main/res/drawable-xhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/splash.png
  mobile/android/app/src/main/res/layout/launch_screen.xml
  mobile/android/app/src/main/res/values/colors.xml
  mobile/android/app/src/main/res/values/styles.xml
  mobile/package.json
  mobile/src/libs/components/app/app.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * resolving merge conflicts
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-76: * SplashScreen.hide to useEffect
  mobile/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-76: * fix import for useEffect
  mobile/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * reverted commit to fix merge problems, ci fix v1
  frontend/src/libs/packages/services/notification.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-21: * fix trailing white space v1
  frontend/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: + chat layout
  frontend/src/assets/img/chat-logo.svg
  frontend/src/assets/img/chat.svg
  frontend/src/assets/img/send-icon.svg
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/chat-role.enum.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-message-reducer/use-message-reducer.hook.ts
  frontend/src/libs/types/message.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/bot-message/styles.module.scss
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/chat-body/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-header/chat-header.tsx
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/user-message/styles.module.scss
  frontend/src/pages/chat/components/user-message/user-message.tsx
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

development: - unnecessary constant
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-auth-error-info.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-54: - redundant headers
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header-title/header-title.tsx
  mobile/src/libs/components/header-title/styles.ts
  mobile/src/libs/types/navigation/tab-navigation-options.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * move tabBarIcon to Screen options
  mobile/src/libs/types/navigation/tab-navigation-options.type.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: - unnessesary types, files, folder
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/tab-navigation-options.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/chat/components/header/header.tsx
  mobile/src/screens/chat/components/header/styles.ts
  mobile/src/screens/home/components/components.tsx
  mobile/src/screens/home/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + search component and restore shared input
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + lodash
  mobile/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + debounce logic
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/types/index.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix colors conflict
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix colors
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: * fix naming
  mobile/src/libs/components/header-title/header-title.tsx
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * password placeholder
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * sign in action response destruct
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-60: + new colors for AppColor enum
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/chat-layout/components/message-item/styles.ts
  mobile/src/screens/chat-layout/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-24: + logics for getting current route
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * disable unicorn/no-thenable eslint rule
  .eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-24: * hasAuth value to false
  mobile/src/packages/users/users-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-49: + survey background image
  frontend/public/images/survey-1440x1024.png
Due: npm run lint:editor && npm run lint:fs

cp-49: * survey validation
  shared/src/packages/surveys/libs/validation-schemas/survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey validation mesages
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + survey imput dto
  shared/src/packages/surveys/libs/types/survey-input-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + survey textarea options
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-textarea-options.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: + survey shared exports
  shared/src/index.ts
  shared/src/packages/surveys/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-60: * default values and mocked data to libs/constants.ts
  mobile/src/screens/chat-layout/chat-layout.tsx
  mobile/src/screens/chat-layout/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * value to hasValue
  mobile/src/screens/chat-layout/components/chat-input/chat-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-60: * ChatLayout to Chat
  mobile/src/screens/chat-layout/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * survey app route
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + shared to frontend imports
  frontend/src/packages/survey/libs/enums/enums.ts
  frontend/src/packages/survey/libs/types/types.ts
  frontend/src/packages/survey/libs/validation-shemas/validation-schemas.ts
  frontend/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * common button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * use app form
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: + common textarea
  frontend/src/libs/components/textarea/styles.module.scss
  frontend/src/libs/components/textarea/textarea.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: + survey category component
  frontend/src/libs/components/survey-category/styles.module.scss
  frontend/src/libs/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
