Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: * refactor chat message component
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/components/chat-message/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: - redundant styles
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-65: * type reset method in app form hook
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat header styles
  frontend/src/pages/chat/components/chat-header/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-65: * import-exports of files
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  shared/src/packages/chat/chat.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-61: + added functionality to display default active option
  frontend/src/libs/components/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * APP_URL var for cd action workflow
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-209: * sidebar items on focus
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-209: * sidebar icon container styles
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: * boolean to mode in search params
  frontend/src/libs/components/sidebar/components/sidebar/sidebar.tsx
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + applied latest modal changes from cp-160
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + add Button props
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: - removed unused classes
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * adjusted styling
  frontend/src/libs/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-161: + added type for Button component's style
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/types/button-style.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat layout styles
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/components/chat-layout/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * adjusted functionality to display default active option
  frontend/src/libs/components/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * chat constants
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/libs/constants/chat-mock-messages.constant.ts
  frontend/src/pages/chat/libs/constants/constants.ts
  frontend/src/pages/chat/libs/constants/default-input.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-189: * export enums from chats package
  shared/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-170: * PLayer to Player
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + trackArtwork constant
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-223: + hook for checking sidebar mode
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * backButton component name
  frontend/src/libs/components/backward-button/backward-button.tsx
  frontend/src/libs/components/components.ts
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * backButton position absolute
  frontend/src/libs/components/backward-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: * margin to padding in list component
  frontend/src/pages/chat/styles.module.scss
  frontend/src/pages/journal/styles.module.scss
  frontend/src/pages/meditation/meditation-list/styles.module.scss
  frontend/src/pages/user-profile/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: * fix IconColor import
  frontend/src/libs/components/backward-button/backward-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * export SetURLSearchParams from types
  frontend/src/libs/types/types.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + max size to title in validation schema
  shared/src/packages/journal/libs/enums/enums.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-rule.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-170: * usePlayerEvents
  mobile/src/libs/components/player/player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * style in notes
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/components/note/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/journal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-194: - borders in notes
  frontend/src/libs/components/note/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-190: + controller with chat message creation endpoint
  backend/src/packages/chat-messages/chat-messages.controller.ts
  backend/src/packages/chat-messages/libs/enums/enums.ts
  backend/src/packages/chat-messages/libs/types/types.ts
  shared/src/libs/enums/api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-190: * replaced adding chat messages table migration to deleting name column migration
  backend/src/db/migrations/20230912094401_add_chat_messages_table.ts
  backend/src/db/migrations/20230912094401_delete_name_column_from_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: + meditation entry validation rule
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-rule.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * shared meditation types renaming
  shared/src/packages/meditation/libs/types/meditation-create-payload.type.ts.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-payload.type.ts.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation entry validation renaming
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry.validation-schema.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation validation message renaming
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * shared types, enums, validtions imports
  shared/src/index.ts
  shared/src/packages/meditation/libs/enums/enums.ts
  shared/src/packages/meditation/libs/types/types.ts
  shared/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * backend meditation response, request
  backend/src/packages/meditation/libs/types/types.ts
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.service.ts
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * shared to frontend reexports
  frontend/src/packages/meditation/libs/types/types.ts
  frontend/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
