Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-190: - chat-messages-url-parameter type
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameter.type.ts
  backend/src/packages/chat-messages/libs/types/types.ts
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: - form tag from modal component
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * chat message create payload
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-299: * padding in sign in and sign up for better layout on different phones, font size of bottom text
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-in-form/styles.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * modal.tsx
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-299: * imporvements to search input color
  mobile/src/libs/components/input-search/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * title align-self position in card to center
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: * meditation topic model rename
  backend/src/packages/meditation/meditation-topic.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entry model name
  backend/src/packages/meditation/meditation-entry.model.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-302: * padding placement for the hamburger menu item
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-302: * gap between icon and text
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

Revert "cp-194: * note tsx to use react-contenteditable"
  frontend/package.json
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/journal.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * fix merge conflict bugs
  backend/src/packages/meditation/meditation.repository.ts
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-190: * type of returning value in update method
  backend/src/packages/chat-messages/chat-message.repository.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-283: + file uploading
  mobile/package.json
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/constants.ts
  mobile/src/libs/components/input-file/styles.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: * delete_name_from_chat_messages_table migration
  backend/src/db/migrations/20230912094401_delete_name_column_from_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-272: - nullish coalescing operator in button.tsx
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: * fixed import~ in chat messages model
  backend/src/packages/chat-messages/chat-message.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * card title position
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-295: * return cross icon width/height
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * moved distraction in params in create method
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + adding back the previously added logic to meditation entry
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-272: * color of icon in button component
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: + check if chat with purpose to change styles
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: + styles for chat header
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: * style ternary operator
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: + isChat to header in chat
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * left value in media
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-316: * header styles for chat
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * fix bugs in styling after merging
  frontend/src/assets/icons/trash.svg
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-316: * imporvements to header width for chat
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * fix icon styling in card and chat footer component
  frontend/src/assets/icons/trash.svg
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: - comment in card styles
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-269: * imporvements to style
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-295: * todo to delete chat-message service
  backend/src/packages/chat-messages/chat-message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + icon for removement
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-304: * max-width for desktop
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: + findById and delete methods in chatRepository
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + findById and delete methods in chatService
  backend/src/libs/types/service.type.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
