Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-15: + getValidClassNames for class-names
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: * separate sign-up and auth form styles
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/pages/auth/components/sign-up-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-13: * reject with value
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * separate to sign in styles
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-13: * sign in page input and button implemantation, classes combining
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-22: + api types
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/libs/validation-schemas/validation-schemas.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-in-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-12: * user model & user entity
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: + sign in response/request dto & validation schema
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-23: * chaged isDirty from react-hook-form approach to tracking focused state instead
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-12: * re-exports, enums,types and other variables
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/users.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  shared/src/index.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-12: + findByEmail & findById methods to the user repository & user service
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: + verifyLoginCredentials and signIn methods to the auth service
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: * storagekey token
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-12: + signIn route & method to the auth ctrl
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: * sign in api response processing
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-15: * app, auth-api, action fixes
  frontend/src/libs/components/app/app.tsx
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-12: * sign in & sign up dto responses
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: * handleFormSubmit minor changes
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * sign in form handle event
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-16: * use storage service for saving the token
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-14: * set up ColumnName object as const
  backend/src/db/migrations/20230215152530_add_users_table.ts
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * user entity & user repository
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * to null return in the findById/findByEmail methods
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-38: * split stack and bottom tabs navigation
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/main/main.tsx
  mobile/src/navigations/root/main/styles.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-41: + adding pwa
  frontend/index.html
  frontend/package.json
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/browserconfig.xml
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/mstile-144x144.png
  frontend/public/mstile-150x150.png
  frontend/public/mstile-310x150.png
  frontend/public/mstile-310x310.png
  frontend/public/mstile-70x70.png
  frontend/public/safari-pinned-tab.svg
  frontend/public/site.webmanifest
  frontend/public/vite.svg
  frontend/vite.config.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-41: * solving comments
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-32: * update frontend/vite.config.ts
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: + react-native-toast-message package
  mobile/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-38: + add separete enum for the main stack
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/main-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/tab-navigation-parameter-list.type.ts
  mobile/src/navigations/root/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-38: * main stack moved from the root
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/main/styles.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-17: * auth error constructor
  backend/src/libs/exceptions/auth-error/auth-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + server auth error response type
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-17: + auth server error type
  shared/src/libs/enums/server-error-type.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-17: - auth error status
  backend/src/libs/plugins/authorization/authorization.plugin.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + create error response helper
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/create-error-response.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + use error response helper
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: - async keyword
  backend/src/packages/auth/jwt.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-56: + adding migrations - db tested
  backend/src/db/helpers/migration-helper.ts
  backend/src/db/migrations/20230822120000_add_chats_table.ts
  backend/src/db/migrations/20230822123000_add_chat_messages_table.ts
  backend/src/libs/enums/common-columns.ts
  backend/src/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-13: * get valid class names import
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-38: + package for svg transformation
  mobile/metro.config.js
  mobile/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write
