Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-157: * deleted journal card and updated types
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/journal.ts
  frontend/src/packages/journal/libs/types/types.ts
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-card/journal-card.tsx
  frontend/src/pages/journal/components/journal-card/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-create-response-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-157: + hover effect on item
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-188: + hover to card
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-138: + useMemo
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: * card icon prop name, type import
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-188: * folder, file name
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/libs/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-189: + chat swagger doc
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-207: * show vertical scroll bar
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-188: * media query signs
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/search/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-189: + create chat controller method
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation constants
  frontend/src/pages/meditation/constants/constants.ts
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * implement meditation constants
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modal icon class name
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + created icon button component
  mobile/src/libs/components/icon-button/icon-button.tsx
  mobile/src/libs/components/icon-button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + styles to icon button
  mobile/src/libs/components/icon-button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * redundant modal container
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * icon button logics implementation
  mobile/src/libs/components/icon-button/icon-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * imports imporvement
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/icon-button/icon-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * icon button instead of button
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/icon-button/icon-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - not useful styles for button
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * button component clean up
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * MY_PROFILE to PROFILE
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: + separate navigation component for profile and profile settings
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/enums/navigation/profile-screen-name.enum.ts
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/navigation.ts
  mobile/src/libs/types/navigation/profile-navigation-parameter-list.type.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/libs/types/types.ts
  mobile/src/navigations/navigations.tsx
  mobile/src/navigations/root/root.tsx
  mobile/src/navigations/user-profile/user-profile.tsx
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + navigation to player
  mobile/index.js
  mobile/src/assets/img/icons/play.svg
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/libs/enums/navigation/meditation-screen-name.enum.ts
  mobile/src/libs/helpers/get-formatted-time.helper.ts
  mobile/src/libs/helpers/helpers.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/meditation/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/libs/constants.ts
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation/libs/constants.ts
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/screens/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-216: + onFocus and onBlur
  mobile/src/libs/components/input-search/input-search.tsx
  mobile/src/libs/components/input-search/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-138: * conditionToRender to checkShouldBeRendered
  mobile/src/libs/types/navigation/navigation-item.type.ts
  mobile/src/navigations/root/libs/constants.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * profile-settings to notification-settings
  mobile/src/navigations/user-profile/user-profile.tsx
  mobile/src/screens/notification-settings/components/components.ts
  mobile/src/screens/notification-settings/components/setting/setting.tsx
  mobile/src/screens/notification-settings/components/setting/styles.ts
  mobile/src/screens/notification-settings/libs/constants.ts
  mobile/src/screens/notification-settings/notification-settings.tsx
  mobile/src/screens/notification-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: - block conditional rendering
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-216: + spaces between header and input
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-216: * color for meditation duration
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * improvements to card component, added icon name and icon color
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-216: * search field width
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-216: * play button position
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-218: * paddings for meditation pages
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-218: * color for meditation duration
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-218: * play button position
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-218: * meditation item position
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: + fix bug of white background color in nested stack
  mobile/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * store
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation topic message
  shared/src/packages/meditation/libs/enums/meditation-validation-message.enum.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
