Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-314: - search from meditation sidebar
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-314: * chat sidebar filter logic
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: + query to findItems chat/journal action
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * update package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: + fontsize property
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * convert id param to number in controller
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-316: + ternary operator to fontSize
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: * style names
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * alt attribute in card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-316: * improvement
  mobile/src/libs/components/header/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * rename showCrossIcon prop to isCloseIconShown in modal component
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-316: + fontSize to components
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/user-profile/user-profile.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-316: - isChat
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: + unwrap to dispatch in handleDeleteChatEntry
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + added mocked meditation entries for the time being
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-list/mocked-meditation-entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + custom on-change plugin for lexical editor
  frontend/src/pages/journal/libs/plugins/on-change.plugin.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + icon to types and maps
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + new types for button
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: + icon-right style to button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-269: + styles for button
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * add button component for delete icon and remove icon-right style in card component
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-269: + labes types
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + card styles
  mobile/src/libs/components/card/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: + id path parameter to delete route in swagger documentation
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: - custom convertion helpers
  frontend/src/pages/journal/libs/helpers/convert-text-to-node.helper.ts
  frontend/src/pages/journal/libs/helpers/get-text-content-from-editor-state.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + card logics for deletion
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + currentColor for delete
  mobile/src/assets/img/icons/delete.svg
Due: npm run lint:editor && npm run lint:fs

cp-194: + export custom on-change plugin
  frontend/src/pages/journal/libs/plugins/plugins.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + modal styles
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + modal component
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + modal type
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + note sanitizer options
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/constants/constants.ts
  frontend/src/pages/journal/libs/constants/constants.ts
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-268: - async await in delete methos in chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: * modal imports
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * default text value
  frontend/src/pages/journal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: - findById methods in chat service and repository
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * reexport lexical utils
  frontend/src/pages/journal/libs/helpers/helpers.ts
  frontend/src/pages/journal/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * parse nodes from html instead of lexical json structure
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: * modal functionality to chat list
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
