Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-160: + get deep error messages
  frontend/src/libs/helpers/get-deep-error-message.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * implement get deep errors
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation post swagger documentation
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditatino repository create
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * modal portal
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * modal not render redundant components
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * sidebar logic to modal
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation modal dependencies
  frontend/src/pages/meditation/components/meditation-modal/meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-10: + codemagic config with accomodating building android configuration
  codemagic.yaml
  mobile/android/app/build.gradle
Due: npm run lint:editor && npm run lint:fs

cp-170: + player package
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-player-controls/use-player-controls.hook.ts
  mobile/src/libs/hooks/use-player-progress/libs/constants.ts
  mobile/src/libs/hooks/use-player-progress/use-player-progress.hook.ts
  mobile/src/libs/hooks/use-track-player-controls/use-track-player-controls.hook.ts
  mobile/src/libs/packages/player/libs/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation/components/controls/controls.tsx
  mobile/src/screens/meditation/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
  mobile/src/slices/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: * modify condition and build extra args for ci docker build github workflow
  .github/workflows/ci-docker-build.yml
Due: npm run lint:editor && npm run lint:fs

cp-234: - comments
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-234: * journal header
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-234: - inline function in journal.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: * adjusted naming
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * adjusted class names in card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * changed type of senderId and chatId fields from string to number
  backend/src/packages/chat-messages/chat-message.entity.ts
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + error error messages for chat erorrs
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/chat-error/chat-error.exception.ts
  shared/src/libs/exceptions/exceptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-234: - createJournal
  mobile/src/packages/journal/journal-api.ts
  mobile/src/packages/journal/journal.ts
  mobile/src/packages/journal/libs/types/types.ts
  mobile/src/slices/journal/actions.ts
  mobile/src/slices/journal/journal.slice.ts
  mobile/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + error for chat in backend part
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-chat-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  shared/src/libs/enums/server-error-type.enum.ts
  shared/src/libs/types/server-error-response.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-190: + throwing error when user doesn't exists when creating a message
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + pulled the modal component from cp-160
  frontend/src/assets/icons/close.svg
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/components/modal/test-parent-component.tsx
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: * adjust button component to pass the icon color
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/modal/test-parent-component.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * change meditation entries migration
  backend/src/db/migrations/20230909170408_change_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * file upload response content type
  shared/src/packages/files/libs/types/file-upload-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * file service upload response
  backend/src/packages/files/file.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entry request and response
  shared/src/packages/meditation/libs/types/meditation-entry-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation create query paylods
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation ntries model
  backend/src/packages/meditation/meditation-entries.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entity
  backend/src/packages/meditation/meditation.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation repository create
  backend/src/packages/meditation/meditation.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation service create
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * create meditation entry action
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + add update journal entry controller, service and repository methods
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/journal/libs/enums/journal-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-9: + application schema
  docs/application-architecture/application-schema.drawio.svg
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + add get journal entry by id controller, service and repository methods
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-9: * application schema svg
  docs/application-architecture/application-schema.drawio.svg
Due: npm run lint:editor && npm run lint:fs

cp-61: + add boolean check to the card component
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * modified retrieval of user's name from the slice
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * modified settingsOptions
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/types/settings-options.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend
