Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, cd shared && npm run lint:js, cd backend && npm run lint:js, cd frontend && npm run lint:css, cd frontend && npm run lint:js

sn-1: + codeowners
  .github/CODEOWNERS
Due: npm run lint:editor && npm run lint:fs

sn-1: * move label steps above pr linting in ci-pr action
  .github/workflows/ci-pr.yml
Due: npm run lint:editor && npm run lint:fs

cp-1: * rename project
  backend/src/libs/packages/server-application/server-application.ts
  docker-compose.yml
  package.json
  project.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, cd backend && npm run lint:js

cp-1: * update dependencies
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-1: * move labels steps above commit linting in ci-pr action
  .github/workflows/ci-pr.yml
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: - remove redundant files
  mobile/.prettierignore
  mobile/README.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: * fix folder structure, + user api and slices
  mobile/metro.config.js
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/users/libs/enums/enums.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/libs/validation-schemas/validation-schemas.ts
  mobile/src/packages/users/users-api.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
  mobile/src/validation-schemas/validation-schemas.ts
  readme.md
  shared/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: + docker files for backend and frontend with updating postgres container configuration
  .dockerignore
  backend/Dockerfile.development
  docker-compose.services.yml
  docker-compose.yml
  frontend/Dockerfile.development
Due: npm run lint:editor && npm run lint:fs

cp-4: + prepare ci and cd configs for deployment
  .github/workflows/cd-development.yml
  .github/workflows/ci.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: + nginx config
  nginx/nginx.development.conf
Due: npm run lint:editor && npm run lint:fs

cp-2: * fix mobile imports
  backend/package.json
  frontend/package.json
  mobile/babel.config.js
  mobile/metro.config.js
  mobile/package.json
  mobile/tsconfig.json
  package-lock.json
  package.json
  shared/package.json
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: * fix import extensions, * fix small issues
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  mobile/src/slices/users/actions.ts
  mobile/src/slices/users/users.slice.ts
  mobile/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: + users load all call
  mobile/src/libs/hooks/hooks.ts
  mobile/src/screens/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: * update eslint config, * update readme
  mobile/.eslintrc.yml
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: * update readme, - redundant comment
  mobile/index.js
  mobile/package.json
  mobile/src/libs/components/components.tsx
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-7: + database mermaid schema into readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-7: * improve database schema
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-7: * fix typo naming in database schema
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: * secure configuration of aws credentials via assuming the role
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * temporary change trigger for cd action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * temporary add permissions to cd action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * extend overritive permissions for cd action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

development: * validation-schema
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, cd shared && npm run lint:js

cp-4: * accomodate with some changes ci development action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * temporary provide debugging the env variables
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * temporary attempt to log aws session token var
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * hcange version of configure-aws-credentials action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * exclude login ecr from actions
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * temporary include sts get caller identity
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * increase version of docker-build-with-cache-action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * hide sts get caller identity
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * attempt to manually build and push to ecr
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * path to backend doocker file
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * accomodate registry for docker backend image
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * output registry to next action job
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * correct version for action
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * restore approach of using access keys of aws iam user as temporary solution instead of assuming iam role
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  cd shared && npm run lint:js: any of: shared/src/**/*.ts
  cd backend && npm run lint:js: any of: backend/src/**/*.ts
  cd frontend && npm run lint:css: any of: frontend/src/**/*.scss
  cd frontend && npm run lint:js: any of: frontend/src/**/*.{ts,tsx}
