Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-455: * styles
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-465: * ffmpeg packages
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-465: * change ubuntu image version for ci db migration in test purpose
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-462: * TimeFormat enum by adding new format HH:mm
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/helpers/helpers.ts
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-462: + time to chat message component
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
  frontend/src/pages/chat/components/chat-message/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-455: * dark styles
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-465: * ffmpeg installation in docker image
  backend/Dockerfile.db-migrations
Due: npm run lint:editor && npm run lint:fs

cp-296: + onIconPress
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-446: * loader component
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-446: - custom chat loader
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-layout/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-446: * update existing loaders according to changes
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-296: * iconRigth
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-354: - hover effect on disabled btn
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-342: * description for status code 400
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: * onIconPress
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * button modal styles
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * pass modal button colors
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * button modal
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * button styles
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-451: * gap between loader and text
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-269: * modal
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * card refactoring
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * title to name for better consistency
  mobile/src/screens/meditation-home/libs/constants/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * swipeable
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * iconName type
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * iconName
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * swipeable
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-455: - styles for dark mode
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * rename folder and file from backward-buton to back-button
  frontend/src/libs/components/back-button/back-button-wrapper.tsx
  frontend/src/libs/components/back-button/back-button.tsx
  frontend/src/libs/components/back-button/styles.module.scss
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * add sufix .hook to useMediaQuery hook file
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: * MeditationList structure
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: * rename matches and setMatches to isMatched and setIsMatched
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-445: * meditation list bottom space in media
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-446: * isChatReplyLoading check
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: - usePlayerProgress hook
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-player-progress/libs/constants.ts
  mobile/src/libs/hooks/use-player-progress/use-player-progress.hook.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + correct duration
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-462: * fix typo
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-message/chat-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
