Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-314: * useless media
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-156: * implementing new comments of PR
  frontend/src/slices/survey/survey.slice.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/validation-schemas/create-preference-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-358: + ci db migration github workflow
  .github/workflows/ci-db-migration.yml
  backend/Dockerfile.db-migrations
Due: npm run lint:editor && npm run lint:fs

cp-358: * ci db migration github workflow
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-358: * change ref_name to base_ref in db migration github action
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-358: * attempt to update DB_HOST host.docker.internal to localhost
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-358: * revert DB_PORT to previous one
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-358: * move docker run command to docker compose for db migration checking
  .github/workflows/ci-db-migration.yml
  docker-compose.services.yml
Due: npm run lint:editor && npm run lint:fs

cp-337: + nullification of button paddings
  frontend/src/assets/css/scaffolding.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-337: * changed sized of plus icons
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-283: * import in frontend
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-283: * import for AppRoute in frontend
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-337: * fixed layout of info block
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-337: - redundant icon container
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-296: + selectedJournalEntry
  mobile/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + type JournalEntryDeleteResponseDto
  mobile/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + delete method for journal api
  mobile/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + journal delete action
  mobile/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + import export all actions
  mobile/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: + journal slice
  mobile/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + subscription icon
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * add relatedQuery to delete method in chat repository and delete findById methods
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-356: + max-height property for info block in sidebar headers
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: + subscription route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + path property to settings options
  frontend/src/libs/types/settings-option.type.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-337: + sizes props to a plus icon
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + wrap sidebar card into link
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: * setFilter to onSetFilter
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-358: * working approach of running docker container of db migration
  .github/workflows/ci-db-migration.yml
  backend/Dockerfile.db-migrations
  docker-compose.services.yml
Due: npm run lint:editor && npm run lint:fs

cp-347: + sidebar settings options
  frontend/src/pages/user-profile/components/user-profile-sidebar/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + profile settings in user profile component
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-358: * temporary change existing migration name
  backend/src/db/migrations/20230924074619_modify_type_of_title_column_in_journal_entries_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-356: * made journanl header height identical to others
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + notification settings component
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/notifications/notifications.tsx
  frontend/src/pages/profile-settings/components/notifications/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: * change profile settings component to show different setting screens
  frontend/src/pages/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-296: + note delete functionality
  mobile/src/libs/components/card/card.tsx
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-314: * small fixes
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-269: + method delete chat api
  mobile/src/packages/chats/chats-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: * changed the syling of the modal and meditation timer
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-269: + chat actions redux
  mobile/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write
