Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * revert changes
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * integrational conflicts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-32: * updated code base
  frontend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: + useNavigate
  frontend/src/libs/components/app/app.tsx
  frontend/src/pages/auth/auth.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + adjust icon component to add background for svgs
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/sign-out.svg
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-78: * wrap progress bar component with forwardRef
  frontend/package.json
  frontend/src/libs/components/meditation-player/audio-player/audio-player.tsx
  frontend/src/libs/components/meditation-player/audio-player/progress-bar/progress-bar.tsx
  frontend/src/libs/hooks/hooks.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-103: * resolved conflicts
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/types/route/route.type.ts
  frontend/src/libs/types/sidebar-route.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/libs/types/values-of.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-103: + Dropdown menu
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/sidebar/styles.module.scss
  frontend/src/libs/types/route/route.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-103: + requested changes
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/types/route/route.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/libs/types/value-of.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-103: * renamed handler function
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-103: * renamed property
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: + checkbox component
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-49: * checkbox export
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * category implement checkbox
  frontend/src/pages/surveys/components/survey-category/styles.module.scss
  frontend/src/pages/surveys/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-101: * folder structure
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/components/card/libs/constants.ts
  mobile/src/libs/components/card/styles.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/screens/meditation-list/components/components.tsx
  mobile/src/screens/meditation-list/components/meditation-list-item/meditation-list-item.tsx
  mobile/src/screens/meditation-list/components/meditation-list-item/styles.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
  mobile/src/screens/meditation-topics/libs/constants.ts
  mobile/src/screens/meditation-topics/meditation-topics.tsx
  mobile/src/screens/meditation-topics/styles.ts
  mobile/src/screens/meditation/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * preferences step use checkbox directly
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: - survey category component
  frontend/src/pages/surveys/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: - unnecessary logics
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: - not used type
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: - not used logics
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-78: - html tags in style
  frontend/src/index.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/controls.tsx
  frontend/src/libs/components/meditation-player/audio-player/controls/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: * button styles split
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/input/styles.ts
  mobile/src/screens/survey/components/survey-category/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: + routes for meditation list page
  frontend/src/assets/img/meditation.svg
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-list/meditation-item/styles.module.scss
  frontend/src/libs/components/meditation-list/styles.module.scss
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-103: + requested changes
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: + conditional loader rendering to survey
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * sign up survey route
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-51: * surveyPreferencesDataStatus to survey
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/survey/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * background image path
  frontend/src/pages/auth/styles.module.scss
  frontend/src/pages/surveys/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-51: * loader color
  mobile/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: + common constants
  frontend/src/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-70: + file types
  backend/src/packages/files/libs/types/file-common-query-response.ts
  backend/src/packages/files/libs/types/file-create-query-payload.ts
  backend/src/packages/files/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + file repository
  backend/src/packages/files/file.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + file entity
  backend/src/packages/files/file.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + file model
  backend/src/packages/files/file.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + files table
  backend/src/db/migrations/20230825192010_add_files_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/files-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + new dependencies
  backend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-70: * shared enums
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/enums/content-type.enum.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/enums/server-error-type.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-70: * libs packages
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/controller/base-controller.package.ts
  backend/src/libs/packages/controller/libs/enums/controller-hook.enum.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-file-error-info.helper.ts
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-70: + file service
  backend/src/packages/files/file.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
