Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-369: * constants to separate folder
  mobile/src/libs/helpers/helpers.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/libs/message-item-properties.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-314: * validSchema/queryType naming/location
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/libs/types/types.ts
  backend/src/packages/journal-entries/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/libs/types/entities-filtering-dto.type.ts
  shared/src/libs/types/get-items-by-query-dto.type.ts
  shared/src/libs/types/types.ts
  shared/src/libs/validation-schemas/find-by-query-entries.validation-schema.ts
  shared/src/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/common-validation-schemas/entities-filtering-query.validation-schema.ts
  shared/src/packages/common-validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-268: * return type to number in all repositories
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * mocked repositories delete
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: * accomodate meditation timer to current flow
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/libs/constants/constants.ts
  frontend/src/libs/components/audio-player/libs/enums/audio-option-key.enum.ts
  frontend/src/libs/components/audio-player/libs/enums/enums.ts
  frontend/src/libs/components/audio-player/libs/types/types.ts
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/meditation/components/meditation-list/components/components.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/libs/helpers/generate-meditation-entry-link/generate-meditation-entry-link.helper.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/libs/helpers/helpers.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/pages/meditation/components/meditation-timer/libs/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-346: - updateChatPayload type
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-346: + new relations to ChatModel and ChatMessageModel
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chats/chat.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-346: * findAllByUserId to sort by updatetAt in messages
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-338: * reduced margin-top
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: * rename deletedId to deletedCount in repositories
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * unicorn/no-array-reduce off
  .eslintrc.yml
Due: npm run lint:editor && npm run lint:fs

cp-268: - contentType and payload in deleteChat in ChatApi
  frontend/src/packages/chats/chats-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-276: * chat message service grouping via reduce
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: - div wrapper in chat sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: - playing on app exit and phone closure
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/player.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: * pr improvements
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/libs/constants/constants.ts
  frontend/src/libs/components/audio-player/libs/enums/audio-option-key.enum.ts
  frontend/src/libs/components/audio-player/libs/types/types.ts
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/libs/helpers/generate-meditation-entry-link/generate-meditation-entry-link.helper.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-354: + add disabled to the send btn
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-246: - Deleted iconWidth from route type and DEFAULT_WIDTH from const
  frontend/src/libs/components/navigation-menu/libs/constants/constants.ts
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/types/route/route.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * exception message
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-315: * fix typos with routes and status codes in swagger documentation
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: * name of setSidebar mode func
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-355: * chat repository find by user condition
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: * pr small improvements
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/components/audio-player/libs/types/types.ts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/types/button-style.type.ts
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-timer/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-276: * get relative date helper locale import
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-295: * icon right to button style type
  frontend/src/libs/types/button-style.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * setIsSidebarShown to setIsSidebarShow
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * move filter logic from deleteChat action to slice
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * filter to chat layout
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: * filter to useEffect
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * setIsSidebarShow to onSetIsSidebarShow
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/delete-journal-modal/delete-journal-modal.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: + implementing comments of PR
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
  backend/src/db/migrations/20230923060705_add_surveys_steps_table.ts
  backend/src/packages/surveys/libs/types/types.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/surveys/surveys.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/radio/radio.tsx
  frontend/src/libs/components/radio/styles.module.scss
  frontend/src/libs/helpers/create-react-element.helper.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/packages/survey/libs/constants/constants.ts
  frontend/src/packages/survey/libs/constants/steps-default-order.constant.ts
  frontend/src/packages/survey/libs/enums/enums.ts
  frontend/src/packages/survey/libs/enums/steps.enum.ts
  frontend/src/packages/survey/libs/types/steps.types.ts
  frontend/src/packages/survey/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/steps/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/steps/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/steps/journaling-experience-step/journaling-experience-step.tsx
  frontend/src/pages/surveys/components/steps/meditation-experience-step/meditation-experience-step.tsx
  frontend/src/pages/surveys/components/steps/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/steps/render-steps.tsx
  frontend/src/pages/surveys/components/steps/worries-step/worries-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
  frontend/src/pages/surveys/survey.tsx
  shared/src/index.ts
  shared/src/packages/surveys/libs/validation-schemas/create-goals-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-journaling-experience-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-meditation-experience-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-one-answer-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-with-other-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-worries-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-355: + user to chat relation
  backend/src/packages/chats/libs/enums/enums.ts
  backend/src/packages/chats/libs/enums/user-to-chat-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-338: * paddings to same values
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-361: * flex-basis of the content
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-355: * user to chat model relation mappings
  backend/src/packages/chats/user-to-chat.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * chat repository find by user query
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-355: * chat repository find by user for query
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/libs/enums/chats-relation.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-168: * Changend isDefaultStylesDisabled to isDefaultStyleDisabled
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * deletedId to deleteCount
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-156: + implementing all comments of PR
  frontend/src/pages/surveys/components/components.ts
  frontend/src/pages/surveys/components/steps/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/steps/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/steps/journaling-experience-step/journaling-experience-step.tsx
  frontend/src/pages/surveys/components/steps/meditation-experience-step/meditation-experience-step.tsx
  frontend/src/pages/surveys/components/steps/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/steps/render-steps.tsx
  frontend/src/pages/surveys/components/steps/steps.tsx
  frontend/src/pages/surveys/components/steps/worries-step/worries-step.tsx
  frontend/src/pages/surveys/libs/hooks/survey.hooks.ts
  frontend/src/pages/surveys/libs/utils.ts
  frontend/src/pages/surveys/survey.tsx
  shared/src/packages/surveys/libs/validation-schemas/create-one-answer-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-with-other-survey-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend
