Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-65: * Update chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-65: * fixing names
  frontend/src/libs/helpers/generate-uuid.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/chat/components/bot-message/bot-message.tsx
  frontend/src/pages/chat/components/chat-body/chat-body.tsx
  frontend/src/pages/chat/components/user-message/user-message.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-56: * fixing scss in sidebar
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-65: * fix actions.ts
  frontend/src/slices/chat/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: + imported esbuild dev dependency to fix a bug
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: - redundant div
  frontend/src/pages/meditation-play-list/meditation-play-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * replaced <= sign to < in media queries
  frontend/src/libs/components/meditation-tracks-list/meditation-track/styles.module.scss
  frontend/src/libs/components/meditation-tracks-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: - redundant <></>
  frontend/src/libs/components/meditation-tracks-list/meditation-tracks-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * moved mocked track to a separate folder
  frontend/src/libs/components/meditation-tracks-list/meditation-tracks-list.tsx
  frontend/src/libs/components/meditation-tracks-list/mock/mocked-tracks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - redundant play button image
  frontend/public/play-button-60x60.png
Due: npm run lint:editor && npm run lint:fs

cp-71: * moved exporting IconName type to the approtriate file
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * merged package json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-71: * fixed image import
  frontend/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: + separate forled for images instead of holding it in icons folder
  frontend/src/assets/img/auth-background.png
Due: npm run lint:editor && npm run lint:fs

cp-61: * resolving conflicts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-101: + stack navigator for meditation
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/enums/navigation/meditation-screen-name.enum.ts
  mobile/src/libs/enums/navigation/navigation.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/meditation/styles.ts
  mobile/src/navigations/navigations.tsx
  mobile/src/screens/meditation-list/libs/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
  mobile/src/screens/meditation-topics/meditation-topics.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: * fix redirection after reload page
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-145: * splash screen
  mobile/android/app/src/main/res/drawable-hdpi/splash.png
  mobile/android/app/src/main/res/drawable-mdpi/splash.png
  mobile/android/app/src/main/res/drawable-xhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxhdpi/splash.png
  mobile/android/app/src/main/res/drawable-xxxhdpi/splash.png
Due: npm run lint:editor && npm run lint:fs

cp-145: * app icon
  mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_monochrome.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_monochrome.png
Due: npm run lint:editor && npm run lint:fs

cp-49: * common checkbox
  frontend/src/libs/components/checkbox/checkbox.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * create survey form validation schema
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-49: * survey name to calmpal
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + profile screen, profile category properties
  mobile/src/assets/img/icons/bell.svg
  mobile/src/libs/components/components.tsx
  mobile/src/screens/profile-settings/components/profile-options/profile-options.tsx
  mobile/src/screens/profile-settings/components/profile-options/styles.ts
  mobile/src/screens/profile/components/components.ts
  mobile/src/screens/profile/components/profile-category/profile-category.tsx
  mobile/src/screens/profile/components/profile-category/styles.ts
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: + to loader check data status idle
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-145: * logo on auth screens
  mobile/src/assets/img/logo.png
  mobile/src/libs/components/components.tsx
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-123: * remove navigate from user effect
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-49: * survey background image
  frontend/public/images/survey-1440x1024.png
  frontend/src/pages/surveys/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-71: * implemented using nullish coalescing
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + fix imports
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fix name props on each ProfileSettingsButton component
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * fix name props for icon component
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * implemented using nullish coalescing
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-123: * fix linter problems
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: * fix export lining
  shared/src/index.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-71: * changed, colation and import of placeholder for background for track card
  frontend/src/assets/img/meditation-list-placeholder.jpg
  frontend/src/libs/components/meditation-tracks-list/meditation-track/meditation-track.tsx
  frontend/src/libs/components/meditation-tracks-list/mock/mocked-tracks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * sort frontend index imports
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-123: * change imports in app slice
  frontend/src/slices/app/app.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: - redundant icons
  frontend/src/assets/icons/arrow.svg
  frontend/src/assets/icons/avatar.svg
  frontend/src/assets/icons/notification.svg
  frontend/src/assets/icons/plus.svg
  frontend/src/assets/icons/react.svg
  frontend/src/assets/icons/sign-out.svg
  frontend/src/assets/icons/subscription.svg
Due: npm run lint:editor && npm run lint:fs

cp-61: * eliminated div wrapper around the svg in Icon component
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-71: * updated type for icons
  frontend/src/libs/maps/icon-name-to-plain-svg.tsx
  shared/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
