Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-38: + icon in svg format
  mobile/src/assets/img/icons/home-icon/home-icon.tsx
  mobile/src/assets/img/icons/home.svg
  mobile/src/assets/img/icons/icons.ts
  mobile/src/libs/types/index.d.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-56: + magic strings avoided
  backend/src/db/helpers/migration-helper.ts
  backend/src/db/migrations/20230215152530_add_users_table.ts
  backend/src/db/migrations/20230822120000_add_chats_table.ts
  backend/src/db/migrations/20230822123000_add_chat_messages_table.ts
  backend/src/libs/enums/chat-messages-table-columns.ts
  backend/src/libs/enums/chats-table-columns.ts
  backend/src/libs/enums/common-table-columns.ts
  backend/src/libs/enums/enums.ts
  backend/src/libs/enums/table-names.ts
  backend/src/libs/enums/user-table-columns.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-38: * rename d.ts file and fix export in it
  mobile/src/assets/img/icons/home.svg
  mobile/src/libs/types/index.d.ts
  mobile/src/navigations/main/main.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: + ToastComponent
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-38: * fix package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * fix requested changes
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/toaster/toaster.tsx
  frontend/src/libs/helpers/notification-service.ts
  frontend/src/libs/packages/store/middlewares/handle-error.middleware.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/middlewares/error-handling/error-handling-middleware.ts
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-14: * chanded bcrypt to bcryptjs and deleted from root package json
  backend/package.json
  backend/src/packages/users/user.service.ts
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - databaseName enum import
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-21: * fixing white space in variables.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-14: + enums for column names
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/table-columns/common-table-columns.enum.ts
  backend/src/libs/packages/database/libs/enums/table-columns/user-details-table-columns.enum.ts
  backend/src/libs/packages/database/libs/enums/table-columns/users-table-columns.enum.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * using insertGraph instead of insert
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-insert-data.type.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: + skipLibCheck to shared tsconfig, inlclude public in editorconfig
  frontend/src/assets/css/fonts.scss
  frontend/src/libs/components/link/styles.module.scss
  package.json
  shared/tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-22: + sign in flow
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/auth/auth-api.ts
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: + new migration file for creating surveys table
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + new migration file for adding is_survey_completed column in users table
  backend/src/db/migrations/20230823072025_add_is_survey_completed_column_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * move jwt to libs/packages to solve circular dependencies
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * move jwt.service to jwt package in libs/packages
  backend/src/libs/packages/jwt/jwt.service.ts
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * modify UserSignUpResponseDto
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-23: * colors to AppColor
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-13: * app component
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-13: * sign in page props
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-16: * fix the issue with UserSignUpResponseDto not having user property
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: * moved label to screen/auth/components folder
  mobile/src/libs/components/components.tsx
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-22: * btn styles and changed location for label
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/screens/auth/components/label/label.tsx
  mobile/src/screens/auth/components/label/styles.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-23: * renamed onFocusHandler to handleFocus
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * modify user service to except one param
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * inline styles to styles from styles.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-22: * get token from enum instead of string
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * change naming from jwt to token
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * input behavior
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-16: * modify BaseHttpApi to have protected storage instead of private
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-16: * changed signJWT method from async to sync
  backend/src/libs/packages/jwt/jwt.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: + 'secureTextEntry' for password field
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-15: * imports
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-16: * move UserAuthResponseDto to a separate file
  shared/src/packages/users/libs/types/user-auth-response-dto.types.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-50: * databaseTableName const
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + survey model
  backend/src/packages/surveys/survey.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + relation mapping to user model
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - helper for combining two objects
  backend/src/libs/helpers/map-two-object-into-one.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: types for user join and user columns
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-columns.type.ts
  backend/src/packages/users/libs/types/user-insert-data.type.ts
  backend/src/packages/users/libs/types/user-with-user-details-join.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
