Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-4: * fix indent ci development config
  .github/workflows/cd-development.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * split ci workflow with ci and docker build ones
  .github/workflows/ci-docker-build.yml
  .github/workflows/ci.yml
Due: npm run lint:editor && npm run lint:fs

cp-4: * accomodate readme with new command of launching the docker
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-2: * fix input issue
  mobile/src/libs/components/input/input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-20: + added loader component
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-20: + added loader component
  frontend/src/assets/css/loader.scss
  frontend/src/assets/css/styles.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-2: * fix sign-up on mobile
  mobile/.env.example
  mobile/.eslintrc.yml
  mobile/android/app/build.gradle
  mobile/package.json
  mobile/src/screens/auth/auth.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: + Toastify installation
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-20: + updating component index
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-20: * avoided useless prop in loader
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-20: * updating scss with variables
  frontend/src/assets/css/loader.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-20: * updating component to solve comments
  frontend/src/assets/css/loader.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: + added Header
  frontend/src/assets/css/header.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * updating padding
  frontend/src/assets/css/header.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-32: + add header logo
  frontend/src/assets/css/header.scss
  frontend/src/assets/img/header-logo.svg
  frontend/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: + adding scss modules
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: * fixed styles and app.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: + completing comments
  frontend/src/libs/components/header/header.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/link.module.scss
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: + fixing file names
  frontend/src/libs/components/loader/loader.module.scss
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-14: + user_details and files table names
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + creating user_details table migration
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

development: + noUncheckedIndexedAccess, exactOptionalPropertyTypes, noPropertyAccessFromIndexSignature to tsconfig
  backend/src/libs/packages/server-application/base-server-application.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/packages/config/base-config.package.ts
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/libs/packages/config/base-config.package.ts
  tsconfig.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

development: + eslint self-closing-components rule to frontend and mobile
  frontend/.eslintrc.yml
  mobile/.eslintrc.yml
  mobile/package.json
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * fixed wrong foreign columns creation
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - files database name
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - survey and avatar_id columns
  backend/src/db/migrations/20230820083309_create_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-20: * fixing css imports and html semantic
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/loader/loader.module.scss
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: + fixing name in styles files
  frontend/src/libs/components/loader/loader.tsx
  frontend/src/libs/components/loader/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-20: * using deconstruction
  frontend/src/libs/components/loader/loader.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-14: * changed migrations files names
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-32: + solving css issues and mergeStyles helper was created
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/merge-styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * fix ci error
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fixing types in link component
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * solving types issues
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fixing ci errors
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fix types in merge-styles helper
  frontend/src/libs/helpers/merge-styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fixing styles and link component
  frontend/src/libs/components/link/link.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-32: * fix vertical alignment in logo
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/link/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-32: * fix vertical alignments
  frontend/src/libs/components/link/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

development: + typescript-eslint parser
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
