Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-15: * sign-up validation schema
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-17: * move jwt service to separate package
  backend/src/libs/packages/jwt/jwt.service.ts
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/libs/packages/server-application/base-server-application.ts
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  backend/src/packages/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: + separate type for function params
  backend/src/libs/packages/server-application/libs/helpers/check-is-white-route/check-is-white-route.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-16: * move saving token to the signUp action
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * fix typo of vite pwa plugin
  frontend/vite.config.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: + function to get user and user_details join flattened
  backend/src/packages/users/libs/types/user-with-user-details-join.type.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + returning joined user with user_details in findAll method
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: + secure input for password
  mobile/src/libs/components/input/input.tsx
  mobile/src/screens/auth/components/sign-up-form/sign-up-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: + constant for relation rules
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * replaced custom RelationMappings type to the built in one
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-columns.type.ts
  backend/src/packages/users/libs/types/user-with-user-details-join.type.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-50: * survey model adding userId
  backend/src/packages/surveys/survey.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + survey entity
  backend/src/packages/surveys/survey.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * put dots in validation messages
  shared/src/packages/users/libs/enums/user-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-50: + survey repository
  backend/src/packages/surveys/survey.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: - avatar_id and survey columns from enum
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: * renamed titleUserDetailsDto to UserAuthResponseDto
  shared/src/packages/users/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-13: - user details dto
  shared/src/packages/users/libs/types/user-details-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-15: * types for response fixes
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-13: * replace with user auth response dto
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-15: * minor fixes
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: + common fields for user auth validation schemas
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-50: + survey libs folder and types file
  backend/src/packages/surveys/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + survey service
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: + survey controller and survey.ts file
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-23: * "token" to StorageKey.Token
  mobile/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-14: * resolved conflicts and errors
  backend/src/db/migrations/20230820083309_add_user_details_table.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-17: * refactor create error response helper
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/create-error-response.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-auth-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-default-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-http-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-validation-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handlers.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/types/error-handler.type.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/types/error-parameter.type.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/types/error-response.type.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: + background and some neccesary changes to start work
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/assets/bottom-bubble.png
  mobile/src/assets/sign-background.png
  mobile/src/assets/top-bubble.png
  mobile/src/libs/components/sign-background/sign-background.tsx
  mobile/src/libs/components/sign-background/styles.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  mobile/src/types/images.d.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-17: + use new create error response helper
  backend/src/libs/packages/server-application/base-server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-22: * UserDetailsDto to UserAuthResponseDto
  mobile/src/packages/users/libs/types/types.ts
  mobile/src/packages/users/users.ts
  mobile/src/screens/auth/components/sign-in-form/sign-in-form.tsx
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/auth.slice.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts.ts
  shared/src/packages/users/libs/types/user-details-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-50: * fix types after merging development
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.service.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-12: + common fields for user auth validation schemas
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-12: * http code from UNAUTHORIZED to NOT_FOUND
  backend/src/packages/auth/auth.controller.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-12: - unnecessary methods in the user entity
  backend/src/packages/users/user.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: * to the findByEmail/findById methods in the user repository
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-14: * fixed prettier issues
  backend/src/packages/users/libs/types/user-columns.type.ts
  backend/src/packages/users/libs/types/user-insert-data.type.ts
  backend/src/packages/users/libs/types/user-with-user-details-join.type.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-17: + error info label mapper
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-auth-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-http-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-validation-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/error-info-label-mapper/error-info-label-mapper.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * error info label map
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-auth-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-http-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/handlers/handle-validation-error-response.ts
  backend/src/libs/packages/server-application/libs/helpers/error-info-label-map/error-info-label-map.ts
  backend/src/libs/packages/server-application/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-17: * handler item name
  backend/src/libs/packages/server-application/libs/helpers/create-error-response/create-error-response.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: + notification service and error middleware
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/handle-error.middleware.ts
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
