Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-282: + getAllMeditationEntries in meditation api
  mobile/src/packages/meditation/meditation-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + meditation file
  mobile/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + export dto for all meditations
  mobile/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + stripe secret key env
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-282: + meditation api to store
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + getAllMeditationEntries to slices
  mobile/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + getAllMeditationEntries to extraReducers
  mobile/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * improts for all actions
  mobile/src/slices/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: + dispatch and get all meditations
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: - removed mocked meditation entries
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-list/mocked-meditation-entries.ts
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * fixed dependencies issue
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-282: + meditation entries
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: - mockedData for meditation entries
  mobile/src/screens/meditation-home/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: * updated consts for the meditation timer
  frontend/src/pages/meditation/components/meditation-timer/libs/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-316: * font size large by default
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: - fontsize property from usage of component where large
  mobile/src/navigations/main/main.tsx
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/user-profile/user-profile.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: - create meditation
  mobile/src/packages/meditation/meditation-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-161: * updated the meditation timer component to improve the path readability
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + create subscriptions table migration
  backend/src/db/migrations/20230922100152_add_subscriptions_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: + Montserrat font
  mobile/android/app/src/main/assets/fonts/Montserrat-SemiBold.ttf
Due: npm run lint:editor && npm run lint:fs

cp-347: + add subscription id column to user details table migration
  backend/src/db/migrations/20230922101634_add_subscription_id_column_to_user_details_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + update timer button component
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-336: * moved fonts
  mobile/android/app/src/main/assets/fonts/Montserrat-SemiBold.ttf
  mobile/src/libs/components/app/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + fonts
  mobile/src/assets/fonts/Montserrat-Regular.ttf
  mobile/src/assets/fonts/Montserrat-SemiBold.ttf
Due: npm run lint:editor && npm run lint:fs

cp-336: + react native config
  mobile/react-native.config.js
Due: npm run lint:editor && npm run lint:fs

cp-336: + fonts
  mobile/android/app/src/main/assets/fonts/Montserrat-Regular.ttf
  mobile/android/app/src/main/assets/fonts/Montserrat-SemiBold.ttf
  mobile/android/link-assets-manifest.json
  mobile/ios/CalmPal.xcodeproj/project.pbxproj
  mobile/ios/CalmPal/Info.plist
  mobile/ios/link-assets-manifest.json
  mobile/react-native.config.js
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * styles
  mobile/src/libs/components/app/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + use font
  mobile/src/screens/notification-settings/components/setting/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-318: * isRouteSelected to getSelectedRoute
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/helpers/get-selected-route.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + chatError when chat with such id was not found and changed status to 404 when user has no permission for delete this chat
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * renamed deletedChat and setDeletedChat to chatToDelete and setChatToDelete in chat sidebar
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-304: * pr improvements based om comments
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: + useEffect to close modal when deleteChatDataStatus is fulfilled
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: * whereILike to where
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-336: + sign up style font
  mobile/src/screens/auth/components/sign-up-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + sign in fonts
  mobile/src/screens/auth/components/sign-in-form/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + font enum
  mobile/src/libs/components/button/styles.ts
  mobile/src/libs/enums/ui/font-family.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * imporved import for enum
  mobile/src/libs/enums/ui/ui.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: * export enum
  mobile/src/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-336: + styles font to button
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
