Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * component layout
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/navigations/root/root.tsx
  mobile/src/screens/profile-settings/profile-settings.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-86: * app component and its styles
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-113: * switch style colors
  mobile/src/libs/components/switch/styles.ts
  mobile/src/libs/components/switch/switch.tsx
  mobile/src/screens/profile-settings/components/setting/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-113: * switch component
  mobile/src/libs/components/switch/styles.ts
  mobile/src/libs/components/switch/switch.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: * pr improvements
  backend/.env.example
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-86: + sidebar wrapper component
  frontend/src/libs/components/sidebar-wrapper/sidebar-wrapper.tsx
  frontend/src/libs/components/sidebar-wrapper/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-86: * sidebar wrapper export
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-86: * app component and styles
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/app/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-86: * sidebar wrapper in root route
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-4: + ci workflow requested permissions
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs

cp-113: * setting component
  mobile/src/screens/profile-settings/components/setting/styles.ts
  mobile/src/screens/profile-settings/profile-settings.tsx
  mobile/src/screens/profile-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: + surveyValidationSchema
  backend/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/surveys/survey.controller.ts
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/surveys-error/surveys-error.exception.ts
  shared/src/packages/surveys/libs/enums/enums.ts
  shared/src/packages/surveys/libs/enums/survey-validation-message.enum.ts
  shared/src/packages/surveys/libs/validation-schemas/survey-request.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-54: * useSearch useState to useAppForm
  mobile/src/libs/hooks/use-app-form/use-app-form.hook.ts
  mobile/src/libs/hooks/use-search/constants.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-4: * pr improvements
  backend/.env.example
Due: npm run lint:editor && npm run lint:fs

cp-113: + settings screen in navigation
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-86: + sidebar routes
  frontend/src/libs/types/sidebar-route.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-86: + sidebar routes constant
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-86: * implement routes constant
  frontend/src/libs/components/sidebar-wrapper/sidebar-wrapper.tsx
  frontend/src/libs/components/sidebar/sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-113: + profile screen template, profile to root navigation
  mobile/src/libs/enums/navigation/root-screen-name.enum.ts
  mobile/src/libs/types/navigation/root-navigation-parameter-list.type.ts
  mobile/src/screens/profile-settings/components/profile-options/profile-options.tsx
  mobile/src/screens/profile-settings/components/profile-options/styles.ts
  mobile/src/screens/profile/profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-112: * user auth response dto
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-112: * user sign in response dto
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-112: * return user without password data after creation
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: + add arrow for identifying active option in ProfileSettingsButton
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/profile-settings-button.tsx
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-51: + get survery categories helper
  shared/src/packages/surveys/libs/helpers/get-survey-categories.ts
  shared/src/packages/surveys/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-112: + auth sign-in method
  backend/src/libs/packages/jwt/jwt.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-51: * shared survey to surveys
  shared/src/index.ts
  shared/src/packages/surveys/survey.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-51: + get survey categories helper
  mobile/src/packages/survey/libs/helpers/helpers.ts
  mobile/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * form types
  mobile/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + add new global color variable and replaced hexes and rgbs with closes alternatives
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-51: * has no survey in root coponent
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * input has rows
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-51: * constant to separate file
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-112: * import of types
  shared/src/packages/users/libs/types/user-get-all-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-up-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-61: + adding scalability to ProfileSettingsButton
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-button/styles.module.scss
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-86: + values of type
  frontend/src/libs/types/values-of.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-86: * values of type imports
  frontend/src/libs/types/sidebar-route.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: * prevent cancelling ci on incorrect concurrency of ci-docker-build
  .github/workflows/ci-docker-build.yml
Due: npm run lint:editor && npm run lint:fs

cp-115: + try catch to authorization token decode
  backend/src/libs/plugins/authorization/authorization.plugin.ts
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-86: * @esbuild as dev dependency
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-86: * revert last
  package-lock.json
  package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
