Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-268: * import JourneyEntryValidationRule into JournalEntryValidationMessage
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-283: + modal component
  mobile/src/assets/img/icons/close.svg
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/popup/popup.tsx
  mobile/src/libs/components/popup/styles.ts
  mobile/src/libs/enums/ui/app-color.enum.ts
  mobile/src/libs/types/icon-name.type.ts
  mobile/src/packages/meditation/libs/enums/enums.ts
  mobile/src/packages/meditation/libs/types/types.ts
  mobile/src/packages/meditation/libs/validation-schemas/validation-schemas.ts
  mobile/src/packages/meditation/meditation-api.ts
  mobile/src/packages/meditation/meditation.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/components/add-meditation-modal/libs/constants.ts
  mobile/src/screens/meditation-home/components/components.ts
  mobile/src/screens/meditation-home/libs/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
  mobile/src/screens/meditation-home/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: * navigation in journal sidebar and journal tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: - unneccessary assertion in journal service
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-272: * renderIcon function in button.tsx
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-306: * background on the settings page
  mobile/src/screens/notification-settings/notification-settings.tsx
  mobile/src/screens/notification-settings/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-268: + scaling for delete button on hover
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-268: + ChatError in chat controller
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: + execute() to delete method in chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: - senderId field from chat message creation request type
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-268: + forwardRef to modal.tsx
  frontend/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * deleteChatModal according to new modal component
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + redirection to /chats after deleting one
  frontend/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + creation method for chat messages api
  frontend/src/packages/chat-messages/chat-messages-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * changed api path for chat messages
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-194: + JournalError and throw it when note was not found
  backend/src/libs/exceptions/exceptions.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/journal-error/journal-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-272: * badgeCount to chatsLength
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: - list class in journal sidebar styles
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-272: * passing first message and + ChatInputValue type
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/chat/libs/types/chat-input-value.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + added chat messages api to extra arguments in store
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * make text is not required for update note
  backend/src/packages/journal-entries/journal-entry.service.ts
  frontend/src/pages/journal/components/note/note.tsx
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
  shared/src/packages/journal/libs/types/journal-entry-update-payload-dto.type.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-190: + action for getting messages by chat id
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * create chat payload type
  backend/src/packages/chats/libs/types/create-chat-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * chat message url parameter
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-190: + added getting all current messages action to the slice
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + export types from chat-messages
  backend/src/packages/chat-messages/chat-messages.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * hasNoteId to hasSelectedNote in journal.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: - replaceAll logic in sanitizeInput helper
  shared/src/libs/helpers/sanitize-input/sanitize-input.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: + type for creating messages in frontend
  frontend/src/packages/chat-messages/chat-messages.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: * typos in swagger documentation
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * findAllByChatId method
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: - chat messages controller
  backend/src/packages/chat-messages/chat-messages.controller.ts
  backend/src/packages/chat-messages/chat-messages.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-268: * import path in icon.tsx
  frontend/src/libs/components/icon/icon.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * create chat payload in chat repository
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * chat message url param type
  backend/src/packages/chat-messages/libs/types/chat-messages-url-parameters.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * chat message create data type
  backend/src/packages/chat-messages/libs/types/chat-message-create-data.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + chat messages routes in chat conroller
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + swagger documentation for routes
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * import path
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: * update method return type
  backend/src/packages/chat-messages/chat-message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
