Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-192: * width for meditation entries on desktop
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-283: - type prop in modal component
  mobile/src/libs/components/modal/modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * imports for empty array constant
  mobile/src/libs/components/input-file/input-file.tsx
  mobile/src/libs/components/input-file/libs/constants.ts
  mobile/src/libs/constants/constants.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/libs/constants.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/components/add-meditation-modal/libs/constants.ts
  mobile/src/slices/auth/actions.ts
  mobile/src/slices/auth/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-192: * AUDIO_MIME to AUDIO_CONTENT_TYPE
  backend/src/db/seed-data/meditation-entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-192: - topic_id from the meditation_entries_seed
  backend/src/db/seeds/meditation-entries-seed.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-283: * import for MeditationEntryCreateForm
  mobile/src/screens/meditation-home/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * hasValue to hasFile
  mobile/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-283: * naming for constants and functions
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/helpers/permissions.helper.ts
  mobile/src/screens/meditation-home/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * note styles
  frontend/src/pages/journal/components/note/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: + debounce hook
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-debounce/use-debounce.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + rexport lexical types
  frontend/src/pages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + rexport lexical plugins
  frontend/src/pages/journal/libs/plugins/plugins.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + rexport lexical components
  frontend/src/pages/journal/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + helpers for converting data
  frontend/src/pages/journal/libs/helpers/convert-text-to-node.helper.ts
  frontend/src/pages/journal/libs/helpers/get-text-content-from-editor-state.ts
  frontend/src/pages/journal/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + rerender note on param change
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * note logic
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * default text value
  frontend/src/pages/journal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * handlePlusButtonClick name to handleCreateJournalEntry
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-270: + chat-messages package and slice
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/packages/chat-messages/chat-messages.ts
  mobile/src/packages/chat-messages/libs/enums/enum.ts
  mobile/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  mobile/src/packages/chat-messages/libs/types/types.ts
  mobile/src/slices/chats/actions.ts
  mobile/src/slices/chats/chats.slice.ts
  mobile/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * JOURNAL_ENTRY_ path name to JOURNAL_
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/slices/journal/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + SortType enum for sorting journal entries
  backend/src/libs/enums/enums.ts
  backend/src/libs/enums/sort-type.enum.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: * path in documentation for getById and update methods in controller
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-270: + loading chat messages
  mobile/src/libs/components/card/card.tsx
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-335: + forceDarkallowed to false
  mobile/android/app/src/main/res/values/styles.xml
Due: npm run lint:editor && npm run lint:fs

cp-168: * Changed modal to the current merged modal
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  frontend/src/libs/components/modal/steps/delete-account/libs/constants/constants.ts
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * Changed user service to non nullable object
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-182: + timer to playing process
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/components/set-timer-modal/libs/constants.ts
  mobile/src/libs/components/set-timer-modal/set-timer-modal.tsx
  mobile/src/libs/components/set-timer-modal/styles.ts
  mobile/src/libs/hooks/use-player-controls/use-player-controls.hook.ts
  mobile/src/libs/packages/player/libs/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/types/navigation/meditation-navigation-parameter-list.type.ts
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/libs/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: * Moved DeleteAccountFormPayload to shared
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/tsconfig.json
  shared/src/packages/users/libs/types/delete-account-form-payload.type.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-168: * changed the handleCheckboxChange in delete-account-form
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/modal/steps/delete-account/delete-acount-form.tsx
  shared/src/packages/users/libs/types/delete-account-form-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-168: * Changes on delete in user service to fix error
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-194: - setCursorPosition helper
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/set-cursor-position.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: + finishing frist frontend approach
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/packages/survey/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/survey/libs/validation-shemas/validation-schemas.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/feelings-step/styles.module.scss
  frontend/src/pages/surveys/components/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/goals-step/styles.module.scss
  frontend/src/pages/surveys/components/journaling-experience-step/journaling-experience-step.tsx
  frontend/src/pages/surveys/components/journaling-experience-step/styles.module.scss
  frontend/src/pages/surveys/components/meditation-experience-step/meditation-experience-step.tsx
  frontend/src/pages/surveys/components/meditation-experience-step/styles.module.scss
  frontend/src/pages/surveys/components/worries-step/styles.module.scss
  frontend/src/pages/surveys/components/worries-step/worries-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
  frontend/src/pages/surveys/libs/survey-steps.map.ts
  frontend/src/pages/surveys/survey.tsx
  shared/src/index.ts
  shared/src/packages/surveys/libs/validation-schemas/create-feelings-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-goals-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-journaling-experience-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-meditation-experience-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-preference-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-worries-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-314: * repository, service find all type
  backend/src/libs/types/repository.type.ts
  backend/src/libs/types/service.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: + type for query request
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/chat-get-chats-by-query-dto.type.ts
  shared/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-314: + backend logic for finding chat by query
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: + type for search journal by query
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-get-items-by-query-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-314: + backend logic for search journal query
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: * search, useSearch logic for url query
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: + query param to chat/journal api
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: + search to journal sidebar
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend
