Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-61: - removed status icon from SettingsOption
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/types/settings-options.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * adjusted the logic of tracking the active item
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: * getAllJournalEntriers to getAllJournalEntries
  mobile/src/packages/journal/journal-api.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/slices/journal/actions.ts
  mobile/src/slices/journal/journal.slice.ts
  mobile/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * header
  mobile/src/libs/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-223: * sidebar to navigation menu
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
  frontend/src/libs/components/navigation-menu-wrapper/navigation-menu-wrapper.tsx
  frontend/src/libs/components/navigation-menu-wrapper/styles.module.scss
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/components/navigation-menu/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * headers style
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-223: + sidebar, header and body components
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/sidebar/components/components.ts
  frontend/src/libs/components/sidebar/components/sidebar-body/body.tsx
  frontend/src/libs/components/sidebar/components/sidebar-body/styles.module.scss
  frontend/src/libs/components/sidebar/components/sidebar-header/header.tsx
  frontend/src/libs/components/sidebar/components/sidebar-header/styles.module.scss
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/style.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * sidebar component to all sidebars
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * dropdown menu clicking
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * header/body to sidebar-header/body
  frontend/src/libs/components/sidebar/components/components.ts
  frontend/src/libs/components/sidebar/components/sidebar-body/sidebar-body.tsx
  frontend/src/libs/components/sidebar/components/sidebar-header/header.tsx
  frontend/src/libs/components/sidebar/components/sidebar-header/sidebar-header.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * modal styles
  frontend/src/libs/components/modal/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: * meditation entries migrations
  backend/src/db/migrations/20230909170408_change_meditation_entries.ts
  backend/src/db/migrations/20230909170408_change_topic_id_of_meditation_entries.ts
  backend/src/db/migrations/20230910205051_add_media_data_to_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-234: * mockedCount to real one
  mobile/android/app/versionCode
  mobile/android/app/versionName
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-234: * fix paddings
  mobile/src/libs/components/card/styles.ts
  mobile/src/libs/components/input-search/styles.ts
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
  mobile/src/screens/meditation-home/styles.ts
  mobile/src/screens/meditation-list/components/meditation-item/styles.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  mobile/src/screens/meditation-list/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-189: + empty string validation message
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-61: * moved settingsOptions to a diffrent file
  frontend/src/libs/components/profile-settings-sidebar/libs/constants.ts
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: + player component
  mobile/android/app/versionCode
  mobile/android/app/versionName
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/player/components/components.tsx
  mobile/src/libs/components/player/components/controls/controls.tsx
  mobile/src/libs/components/player/components/controls/styles.ts
  mobile/src/libs/components/player/components/progress-bar/libs/constants.ts
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/components/progress-bar/styles.ts
  mobile/src/libs/components/player/libs/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/screens/meditation/components/controls/libs/constants.ts
  mobile/src/screens/meditation/libs/constants.ts
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + added signOut action
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + customDebounce and journalEntryUpdateRequestDto
  shared/src/index.ts
  shared/src/libs/helpers/debounce/custom-debounce.helper.ts
  shared/src/libs/helpers/debounce/debounce.helper.ts
  shared/src/libs/helpers/debounce/debounce.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/types/journal-entry-update-request-dto.type.ts
  shared/src/packages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-61: - removed redirection to sign-in page since it is handled by the protected route
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + updateJournalEntry action and slice
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/packages/journal/journal-api.ts
  frontend/src/packages/journal/journal.ts
  frontend/src/packages/journal/libs/types/types.ts
  frontend/src/slices/journal/actions.ts
  frontend/src/slices/journal/journal.slice.ts
  frontend/src/slices/journal/journal.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + Note component with crete and update base functionality
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/note/libs/constants.ts
  frontend/src/libs/components/note/libs/types.ts
  frontend/src/libs/components/note/note.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: + updated auth slice
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-170: * transparent header
  mobile/src/libs/components/back-button/back-button.tsx
  mobile/src/libs/components/back-button/styles.ts
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/header/components/components.tsx
  mobile/src/libs/components/header/header.tsx
  mobile/src/libs/components/header/styles.ts
  mobile/src/navigations/meditation/meditation.tsx
  mobile/src/navigations/meditation/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-184: + default payload to note when creating new one
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: - margin in card component
  mobile/src/libs/components/card/styles.ts
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/styles.ts
  mobile/src/screens/meditation-home/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-234: + badgeCount variable
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-61: + add signOut action
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: * add note button title
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * make topic id migration
  backend/src/db/migrations/20230909170408_make_topic_id_of_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-189: - members column in chats table
  backend/src/db/migrations/20230906103635_add_members_column_to_chats_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * add media migration records handling
  backend/src/db/migrations/20230910205051_add_media_data_to_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: + add Profile route
  frontend/src/index.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * input file error message
  frontend/src/libs/components/input-file/input-file.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * helper suffix in helpers
  frontend/src/libs/helpers/get-deep-error-message.helper.ts
  frontend/src/libs/helpers/get-valid-class-names.helper.ts
  frontend/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: * renamed avatar to user
  frontend/src/assets/icons/user.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/components/profile-settings-sidebar/profile-settings-sidebar.tsx
  frontend/src/libs/components/sidebar-wrapper/libs/constants.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-61: - removed unused subscription icon
  frontend/src/assets/icons/subscription.svg
  frontend/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
  frontend/src/libs/types/icon-name.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * meditation validation schema import
  shared/src/packages/meditation/libs/validation-schemas/create-meditation.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * readme meditation entries
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write
