Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-84: * root in index component
  frontend/src/index.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: * store reducers
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: - user slice
  frontend/src/slices/users/actions.ts
  frontend/src/slices/users/users.slice.ts
  frontend/src/slices/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: - user api
  frontend/src/packages/users/users-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: * frontend user dto imports
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Merge branch 'development' of https://github.com/BinaryStudioAcademy/bsa-2023-calmpal into task/cp-12-add-sign-in-flow p.2
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * remove user controller in server app
  backend/src/libs/packages/server-application/server-application.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: - user controller
  backend/src/packages/users/user.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * find all in user repository
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * find all in user service
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * backend user dto imports
  backend/src/packages/users/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-84: * backend user exports
  backend/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * findAll methods implementation
  backend/src/libs/types/service.type.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: * Type properties
  mobile/src/libs/components/toast/toast.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-25: + protected route
  mobile/src/libs/components/app/app.tsx
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/protected-route/protected-route.tsx
  mobile/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * location of notification service and rename Class
  mobile/src/libs/notification.ts
  mobile/src/slices/notifications/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-82: + user profile sidebar component
  frontend/src/libs/components/user-profile-sidebar/styles.module.scss
  frontend/src/libs/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-82: + user profile page, route
  frontend/public/images/avatar.png
  frontend/src/assets/img/user.svg
  frontend/src/index.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/user-profile/user-profile.tsx
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-25: * 'Sign In' to RootScreenName.SIGN_IN
  mobile/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-49: * categories names to constants
  frontend/src/pages/surveys/components/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-25: * route protection for specific routes
  mobile/src/libs/components/app/app.tsx
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-25: * user existence check to use Boolean(user)
  mobile/src/libs/components/protected-route/protected-route.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-82: * avatar class-name
  frontend/public/images/avatar.png
  frontend/src/libs/components/user-profile-sidebar/styles.module.scss
  frontend/src/libs/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: + add use search hook
  mobile/src/libs/hooks/hooks.ts
  mobile/src/libs/hooks/use-search/use-search.hook.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants/data.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * Destructuring extra arguments
  frontend/src/slices/app/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: + setting component
  frontend/src/pages/profile-settings/components/components.tsx
  frontend/src/pages/profile-settings/components/setting/setting.tsx
  frontend/src/pages/profile-settings/components/setting/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-81: * file extension
  frontend/src/pages/profile-settings/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-81: + export switch component
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-84: * merge conflicts
  backend/src/db/migrations/20230823060705_create_surveys_table.ts
  backend/src/db/migrations/20230823072025_add_is_survey_completed_column_to_users_table.ts
  backend/src/libs/packages/database/libs/enums/database-table-name.enum.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/surveys/libs/enums/enums.ts
  backend/src/packages/surveys/libs/enums/table-columns/survey-table-column.enum.ts
  backend/src/packages/surveys/libs/types/types.ts
  backend/src/packages/surveys/survey.controller.ts
  backend/src/packages/surveys/survey.entity.ts
  backend/src/packages/surveys/survey.model.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/surveys/surveys.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/libs/types/user-create-query-payload.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/surveys/libs/types/survey-get-all-item-response-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-81: + profile settings page
  frontend/src/pages/profile-settings/profile-settings.tsx
  frontend/src/pages/profile-settings/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-84: * return readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-24: + ability to see the main screen when reopening the app for signed up user
  mobile/src/navigations/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-12: + UserWithPasswordEntity
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/users-error/users-error.exception.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-24: * minor changes
  mobile/src/packages/users/users-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-21: * fix imports and final requests
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/variables.scss
  frontend/src/libs/packages/notification/notification.package.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/slices/app/actions.ts
  frontend/src/slices/app/app-notification.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-84: + root component
  frontend/src/index.tsx
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-82: * move user profile sidebar to its page
  frontend/src/libs/components/components.ts
  frontend/src/pages/user-profile/components/components.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-54: * fix debounce
  shared/src/libs/helpers/debounce/debounce.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-21: * fix conditional in middlewares.ts
  frontend/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
