Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-269: + chat slice
  mobile/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: + imports and export for all chat actions
  mobile/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: + inline padding on user profile page
  frontend/src/pages/user-profile/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-193: + chatbot user migrations
  backend/src/db/migrations/20230907100034_add_chatbot_user.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: + draft OpenAi service implementation added
  backend/package.json
  backend/src/libs/packages/http/http-service.ts
  backend/src/libs/packages/http/http.ts
  backend/src/libs/packages/http/libs/types/http-load-method.type.ts
  backend/src/libs/packages/http/libs/types/types.ts
  backend/src/libs/packages/openAi/libs/constants/constants.ts
  backend/src/libs/packages/openAi/libs/enums/enums.ts
  backend/src/libs/packages/openAi/libs/types/types.ts
  backend/src/libs/packages/openAi/open-ai.package.ts
  package-lock.json
  shared/src/index.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/enums/enums.ts
  shared/src/packages/chat/libs/enums/open-ai-image-size.enum.ts
  shared/src/packages/chat/libs/types/open-ai-image-generate-request-dto.type.ts
  shared/src/packages/chat/libs/types/open-ai-image-generate-response-dto.type.ts
  shared/src/packages/chat/libs/types/open-ai-message-generate-request-dto.type.ts
  shared/src/packages/chat/libs/types/open-ai-message-generate-response-dto.type.ts
  shared/src/packages/chat/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-193: * service renamed
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/libs/enums/enums.ts
  backend/src/libs/packages/open-ai/libs/types/types.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * env schema changed
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: + chatbot service
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
  backend/src/libs/packages/openAi/libs/constants/constants.ts
  backend/src/libs/packages/openAi/libs/enums/enums.ts
  backend/src/libs/packages/openAi/libs/types/types.ts
  backend/src/libs/packages/openAi/open-ai.package.ts
  backend/src/packages/chats/chatbot.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/constants/constants.ts
  backend/src/packages/chats/libs/types/types.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: * card props
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: - axios module
  backend/package.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: * type name updated
  backend/src/libs/packages/http/http-service.ts
  backend/src/libs/packages/http/libs/types/http-load-parameters.type.ts
  backend/src/libs/packages/http/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * open Ai package return types
  backend/src/libs/packages/open-ai/open-ai.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * BASE_URL moved to the .env
  backend/.env.example
  backend/src/libs/packages/config/base-config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * updated imports
  shared/src/packages/chat/libs/types/open-ai-image-generate-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-193: * updated error display
  backend/src/libs/packages/http/http-service.ts
  backend/src/libs/packages/http/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * load method updated
  backend/src/libs/packages/http/http-service.ts
  backend/src/libs/packages/http/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * property renamed
  backend/src/libs/packages/open-ai/open-ai.package.ts
  shared/src/packages/chat/libs/types/open-ai-image-generate-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-193: * renamed variables
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chats/chatbot.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/chats/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * migration updated
  backend/src/db/migrations/20230907100034_add_chatbot_user.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: - redundant constant
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: + added Chatbot functionality
  backend/src/db/migrations/20230907100034_add_chatbot_user.ts
  backend/src/libs/packages/http/libs/types/http-load-parameters.type.ts
  backend/src/libs/packages/open-ai/libs/constants/constants.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chat-messages.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/chats/chatbot.service.ts
  backend/src/packages/chats/chats.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  backend/src/packages/users/users.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
  shared/src/packages/chat/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: + added reply to a first message
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: - remove chaining
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-193: * changed openAi message generation
  backend/src/db/migrations/20230907100034_add_chatbot_user.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/packages/chat-messages/libs/types/chat-message-create-payload.type.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
  shared/src/packages/chat/libs/types/open-ai-message-generate-request-dto.type.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: + improved code quality and connected user-roles to users
  backend/src/libs/packages/database/libs/enums/user-roles-table-column.enum.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/users/libs/enums/enums.ts
  backend/src/packages/users/libs/enums/table-columns/users-table-column.enum.ts
  backend/src/packages/users/libs/enums/users-relation.enum.ts
  backend/src/packages/users/user-roles.model.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: + added base-api and base-http
  backend/src/libs/helpers/helpers.ts
  backend/src/libs/packages/api/api.ts
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/packages/api/libs/types/http-api-options.type.ts
  backend/src/libs/packages/api/libs/types/http-api.type.ts
  backend/src/libs/packages/api/libs/types/types.ts
  backend/src/libs/packages/http/base-http.package.ts
  backend/src/libs/packages/http/http-service.ts
  backend/src/libs/packages/http/http.ts
  backend/src/libs/packages/http/libs/enums/enums.ts
  backend/src/libs/packages/http/libs/types/http-load-parameters.type.ts
  backend/src/libs/packages/http/libs/types/types.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/libs/packages/open-ai/open-ai.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * updated prompt
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-193: * rearranged openAi types and cleaned up the code
  backend/src/libs/packages/api/base-http-api.ts
  backend/src/libs/packages/open-ai/libs/enums/enums.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-chat-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-image-size.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-images-api-path.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/open-ai-role-key.enum.ts
  backend/src/libs/packages/open-ai/libs/enums/user-role-key.enum.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-image-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-message-generate-request-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/open-ai-message-generate-response-dto.type.ts
  backend/src/libs/packages/open-ai/libs/types/types.ts
  backend/src/libs/packages/open-ai/open-ai.package.ts
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chat-messages/chatbot.service.ts
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/actions.ts
  shared/src/index.ts
  shared/src/packages/chat/chat.ts
  shared/src/packages/chat/libs/enums/enums.ts
  shared/src/packages/chat/libs/types/open-ai-message-generate-request-dto.type.ts
  shared/src/packages/chat/libs/types/types.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-193: * updated prompt and removed import
  backend/src/packages/chat-messages/chat-message.service.ts
  backend/src/packages/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: + chat delete functionality
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-359: + add user column to meditation migration
  backend/src/db/migrations/20230925102151_add_user_id_column_to_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-359: * meditation entity user id field
  backend/src/packages/meditation/meditation.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: + modal fonts
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-359: * meditation query response and payload
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-359: * find all to find user by id
  backend/src/packages/meditation/meditation.controller.ts
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-269: * icon names
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * icon names
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-296: * button label style
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-193: * updated path
  backend/src/packages/chats/chat.controller.ts
  frontend/src/packages/chat-messages/chat-messages-api.ts
  shared/src/packages/chats/libs/enums/chats-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-269: * label button style
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
