Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-300: * navigate to chats page on back button
  frontend/src/pages/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * rename sidebar mode query enum
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/query-strings/query-strings.enum.ts
  frontend/src/libs/enums/query-strings/sidebar-mode-query-string-value.enum.ts
  frontend/src/libs/enums/query-strings/sidebar-mode.enum.ts
  frontend/src/libs/hooks/use-sidebar-show/use-sidebar-show.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * adjusted namings for the meditation route to match the chat route
  frontend/src/index.tsx
  frontend/src/libs/enums/app-route.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * get url with query string function return
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * sidebar routes path
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * chatLink type assertion
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-300: * rename function argument
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation migrations and order
  backend/src/db/migrations/20230918091309_make_topic_id_of_meditation_entries.ts
  backend/src/db/migrations/20230918091330_add_media_data_to_meditation_entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * readme meditation entries table
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * content type text
  shared/src/libs/enums/content-type.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-161: * removed duplicate files
  backend/src/packages/chats/libs/enums/table-columns/chats-table-column.enums 2.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-item-response-dto.type 2.ts
  shared/src/packages/chats/libs/enums/chat-validation-message.enum 2.ts
  shared/src/packages/chats/libs/types/chat-create-request-dto.type 2.ts
  shared/src/packages/chats/libs/validation-schemas/create-chat.validation-schema 2.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-160: * meditation entry validation messages
  shared/src/packages/meditation/libs/enums/meditation-entry-validation-message.enum.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation create form title to name
  shared/src/packages/meditation/libs/types/meditation-entry-create-form.type.ts
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-form.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: + meditation create form data dto
  shared/src/packages/meditation/libs/types/meditation-entry-create-form-data-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * create meditation request validation
  shared/src/packages/meditation/libs/validation-schemas/create-meditation-entry-request.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation entry dtos name
  shared/src/packages/meditation/libs/types/meditation-entry-create-request-dto.type.ts
  shared/src/packages/meditation/libs/types/meditation-entry-create-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * shared types exports
  shared/src/index.ts
  shared/src/packages/meditation/libs/types/types.ts
  shared/src/packages/meditation/meditation.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * meditation entries model
  backend/src/packages/meditation/meditation-entries.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation entity name
  backend/src/packages/meditation/meditation.entity.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation query resonse, payload
  backend/src/packages/meditation/libs/types/meditation-common-query-response.ts
  backend/src/packages/meditation/libs/types/meditation-create-query-payload.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation service, repository with name
  backend/src/packages/meditation/meditation.repository.ts
  backend/src/packages/meditation/meditation.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * shared to backend types imports
  backend/src/packages/meditation/libs/types/types.ts
  backend/src/packages/meditation/meditations.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation controller create body, doc
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * default meditation payload name
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation modal title to name
  frontend/src/pages/meditation/components/add-meditation-modal/add-meditation-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * create meditation api and action name
  frontend/src/packages/meditation/meditation-api.ts
  frontend/src/slices/meditation/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * meditation sidebar dispatch
  frontend/src/pages/meditation/components/meditation-sidebar/meditation-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + deleteChat action and slices
  frontend/src/packages/chats/chats-api.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: + deleteChatModal and delete logic in chat Sidebar
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/link/styles.module.scss
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/enums/icon-color.enum.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/chat/components/components.ts
  frontend/src/pages/chat/components/delete-chat-modal/delete-chat-modal.tsx
  frontend/src/pages/chat/components/delete-chat-modal/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: * adjusted player display logic
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * audio player and control generic props
  frontend/src/libs/components/audio-player/audio-player.tsx
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-268: - redundant delete-icon style in button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-296: * modal component more reusable
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-160: * implement meditation entries in player
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: - meditation frontend type
  frontend/src/libs/types/meditation-player/meditation-player.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: + journal not found msg, journal exception
  backend/src/libs/exceptions/exceptions.ts
  shared/src/index.ts
  shared/src/libs/enums/exception-message.enum.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/journal-error/journal-error.exception.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-295: * delete return number
  backend/src/libs/types/repository.type.ts
  backend/src/packages/chats/chat.repository.ts
  backend/src/packages/files/file.repository.ts
  backend/src/packages/journal-entries/journal-entry.repository.ts
  backend/src/packages/surveys/survey.repository.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * meditation playlist constant
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-295: * delete service return boolean
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-295: + not found error
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend
