Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-269: * function rename
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * improvements to type
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-304: * media rule for desktop
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-161: + mocked meditation entries in the plyaer component
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: * underscore to camelCase in the meditation-entries seed data
  backend/src/db/seed-data/meditation-entries.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-161: + adjusted mobile styles for player component
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-317: + width/height to the Icon in the dropdown menu
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-317: + width/height to the Icon in the chat footer
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-314: * update swagger
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-314: + getUrlQueryString to chat/journal api
  frontend/src/libs/enums/query-strings/app-query-string-key.enum.ts
  frontend/src/libs/helpers/get-url-with-query-string.helper.ts
  frontend/src/packages/chats/chats-api.ts
  frontend/src/packages/journal/journal-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * fixed the bug with audio control buttons not displaying
  frontend/src/libs/components/audio-player/components/audio-controls/audio-controls.tsx
  frontend/src/libs/enums/icon-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * refactor logic of notes
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/pages/journal/components/components.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/note/components/components.ts
  frontend/src/pages/journal/components/note/components/note-input/components/components.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/helpers.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/hooks/hooks.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/on-change/on-change.plugin.tsx
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/plugins.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/types/types.ts
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
  frontend/src/pages/journal/components/note/components/note-input/styles.module.scss
  frontend/src/pages/journal/components/note/note.tsx
  frontend/src/pages/journal/components/note/styles.module.scss
  frontend/src/pages/journal/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + added logic for calculating the actual duration of meditation
  frontend/src/pages/meditation/components/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-318: * highlighted selected route
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-270: + loader while loading messages
  mobile/src/libs/types/navigation/chat-navigation-parameter-list.type.ts
  mobile/src/navigations/root/root.tsx
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/libs/constants.ts
  mobile/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * on change editor hook instead of plugin
  frontend/src/pages/journal/components/note/components/note-input/libs/hooks/hooks.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/hooks/use-on-change-editor/use-on-change-editor.hook.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/plugins.ts
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * rename lexical helpers without jquery style
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/helpers.ts
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * move helper outside the render jsx
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: + seed command to backend package.json
  backend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-331: + color for selected item
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: * revert on change editor hook instead of plugin
  frontend/src/pages/journal/components/note/components/note-input/libs/hooks/hooks.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/on-change/on-change.plugin.tsx
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/plugins.ts
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * rename lexical helpers without jquery style
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/helpers.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/plugins/on-change/on-change.plugin.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: + seeding step to manual setup instructions in the readme
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-318: * highlighted selected route for dropdown menu
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-192: * prestart command of the backend package.json
  backend/package.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: - update package-lock.json
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: * decompose logic of update editor state from note input component
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/get-dom-parsed-value-from-string/get-dom-parsed-value-from-string.helper.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/helpers.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/update-editor-state/update-editor-state.helper.ts
  frontend/src/pages/journal/components/note/components/note-input/note-input.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + chat messages groups type
  shared/src/index.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/types/chat-messages-groups.type.ts
  shared/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * chat messages repo find with order
  backend/src/packages/chat-messages/chat-message.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * chats slice current chat messages store
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * shared to frontend chat messages imports
  frontend/src/packages/chat-messages/chat-messages.ts
  frontend/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * variables
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-160: * chats constants day difference
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: + chat date component and styles
  frontend/src/pages/chat/components/chat-date/chat-date.tsx
  frontend/src/pages/chat/components/chat-date/styles.module.scss
  frontend/src/pages/chat/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-160: * chat layout messages display
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-318: + isRouteSelected helper function
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/navigation-menu/navigation-menu.tsx
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/is-route-selected.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * fix rendering html oriented note text
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/helpers/update-editor-state/update-editor-state.helper.ts
  frontend/src/pages/journal/components/note/note.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-160: * chat messages groups with array
  shared/src/packages/chat-messages/libs/types/chat-messages-groups.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * get relative date helper
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
  shared/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-160: * implement helper in chat date component
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/chat/components/chat-date/chat-date.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
