Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-182: - SECONDS_IN_MINUTE import in both mobile and frontend
  frontend/src/libs/helpers/helpers.ts
  mobile/src/libs/helpers/helpers.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * Common modal component
  frontend/src/libs/components/modal/steps/delete-account/delete-account.ts
  frontend/src/pages/profile-settings/components/components.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/components.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/delete-account-confirmation.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/delete-account-form.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/delete-account-message.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/styles.module.scss
  frontend/src/pages/profile-settings/components/delete-account-modal/delete-account-modal.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/contants.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-170: * getFormattedTime in shared folder
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/helpers/get-formatted-time/get-formatted-time.helper.ts
  mobile/src/libs/helpers/get-formatted-time/libs/constants.ts
  mobile/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-170: + setIsPlaying depency in useCalback
  mobile/src/libs/components/player/components/controls/controls.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: + AppStatus enum
  mobile/src/libs/components/player/libs/constants/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/libs/constants/constants.ts
  mobile/src/libs/packages/player/libs/enums/app-status.enum.ts
  mobile/src/libs/packages/player/libs/enums/enums.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: * Changed Checkbox styles
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/styles.module.scss
  frontend/src/libs/types/checkbox-style.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/delete-account-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-479: * provide file name in file upload plugin
  backend/src/index.d.ts
  backend/src/libs/plugins/file-upload/file-upload.plugin.ts
  backend/src/packages/files/file.service.ts
  shared/src/packages/files/libs/types/file-upload-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

development: * * ci postman test github workflow
  .github/workflows/ci-postman-tests.yml
Due: npm run lint:editor && npm run lint:fs

cp-269: - margin
  mobile/src/libs/components/button/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * chatIdToDelete
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-170: * startPlayling to startPlaying
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/player.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * modal functions and useState is renamed
  mobile/src/screens/chat-list/chat-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * card
  mobile/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * meditation home functions
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * navigation items renamed
  mobile/src/screens/meditation-home/libs/constants/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * modal styles
  mobile/src/libs/components/modal/modal.tsx
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-269: * layout
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-427: + pattern to validation schema to allow only string with tags for title
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
  backend/src/packages/journal-entries/libs/constants/constants.ts
  backend/src/packages/journal-entries/libs/constants/default-note-text.constant.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-427: * add variable for text pattern regex and name
  shared/src/packages/journal/libs/constants/constants.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-431: * fix merge errors
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: + more constants to shared
  frontend/src/pages/meditation/components/meditation-timer/libs/constants/constants.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
  mobile/src/libs/components/player/components/progress-bar/libs/constants.ts
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/libs/components/player/libs/constants/constants.ts
  mobile/src/libs/components/player/player.tsx
  mobile/src/libs/packages/player/libs/constants/constants.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/constants/meditation-player/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-182: + false param to getFormattedTime
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/timer-button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * meditation-home structure
  mobile/src/screens/meditation-home/libs/constants/constants.ts
  mobile/src/screens/meditation-list/components/add-meditation-modal/add-meditation-modal.tsx
  mobile/src/screens/meditation-list/components/add-meditation-modal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-481: * change hover effect on button according to main design
  frontend/src/assets/css/variables.scss
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-427: + check if id in path can convert to number
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-409: * apply quality criteria
  frontend/src/pages/journal/journal.tsx
  mobile/src/packages/survey/libs/constants/constants.ts
  mobile/src/packages/survey/survey.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-481: + use actual subscription end date
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-481: * subscription management dialog
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/styles.module.scss
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-481: + subscription plan component
  frontend/src/pages/profile-settings/components/subscription/components/components.ts
  frontend/src/pages/profile-settings/components/subscription/components/subscription-plan/styles.module.scss
  frontend/src/pages/profile-settings/components/subscription/components/subscription-plan/subscription-plan.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-481: + render subscription dialog or plan depending on whether the user has a subscription
  frontend/src/pages/profile-settings/components/subscription/subscription.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-481: * rename component properties
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
  frontend/src/pages/profile-settings/components/subscription/components/subscription-plan/subscription-plan.tsx
  frontend/src/pages/profile-settings/components/subscription/subscription.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-419: * updated pull of hours
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-446: * disable button when chatbot reply is loading
  frontend/src/pages/chat/components/chat-footer/chat-footer.tsx
  frontend/src/pages/chat/components/chat-footer/styles.module.scss
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-182: + composing imports from react
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-343: + tooltip styles to the Card
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-427: * postman collection
  .postman/Calmpal.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-419: * hours naming
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-182: * imports in frontend
  frontend/src/pages/meditation/components/meditation-timer/components/components.ts
  frontend/src/pages/meditation/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: + small improvements
  mobile/src/libs/components/button/button.tsx
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * setDuration to onSetDuration
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/timer-button.tsx
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
