Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-23: * minor changes
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  mobile/src/screens/auth/components/sign-up-form/libs/constants.ts
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-29: * rename method for getting authenticated user in auth service
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: * rename method for getting authenticated user in auth controller
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: + comment for swagger documentation
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-29: * fastify request user object type
  backend/src/index.d.ts
  backend/src/libs/packages/controller/libs/types/api-handler-options.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * is_survey_completed column from users to user_details table
  backend/src/db/migrations/20230823072025_add_is_survey_completed_column_to_users_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: * change relation mappings in user, userDetails and Survey models
  backend/src/packages/surveys/libs/enums/enums.ts
  backend/src/packages/surveys/libs/enums/table-columns/survey-table-column.enum.ts
  backend/src/packages/surveys/survey.model.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.model.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-55: + svg for layout
  frontend/public/arrow.svg
  frontend/public/chat-logo.svg
  frontend/public/plus.svg
Due: npm run lint:editor && npm run lint:fs

cp-55: + color variables for layout
  frontend/src/assets/css/variables.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-55: + custom hook for search
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-search/use-search.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-55: + chat sidebar component
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/chat-sidebar/chat-element/chat-element.tsx
  frontend/src/libs/components/chat-sidebar/chat-element/styles.module.scss
  frontend/src/libs/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/libs/components/chat-sidebar/styles.module.scss
  frontend/src/libs/components/components.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-55: + search component
  frontend/src/libs/components/search/search.tsx
  frontend/src/libs/components/search/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-50: * isSurveyCompleted flag to be when getting user
  backend/src/packages/users/libs/types/user-common-query-response.ts
  backend/src/packages/users/user-details.model.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-27: * notification enum file name
  mobile/src/libs/enums/notification/notification-type.enum.ts
  mobile/src/libs/enums/notification/notification.ts
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/middlewares/middlewares.ts
  mobile/src/slices/notifications/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * import path for notification enums
  mobile/src/libs/enums/enums.ts
  mobile/src/libs/packages/services/notification-service.ts
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-50: + updateIsSurveyCompleted methods
  backend/src/packages/surveys/survey.service.ts
  backend/src/packages/users/libs/types/user-create-query-payload.ts
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-12: + password verification in the auth.service
  backend/src/libs/packages/encrypt/base-encrypt.package.ts
  backend/src/libs/packages/encrypt/libs/types/encrypt.type.ts
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user.entity.ts
  shared/src/packages/users/libs/validation-schemas/common-auth-fields.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-50: + swagger documentation
  backend/src/packages/surveys/survey.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-50: - text survey from user_details in db schema
  readme.md
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: * store.package import notification and add cases in notification service to handle more notification
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/libs/packages/store/store.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-19: + useNavigate hook
  frontend/src/libs/hooks/hooks.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: + get user data by token method
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: + on page refresh token check
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: + missing dependencies
  frontend/src/libs/components/app/app.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: + requested changes
  frontend/src/libs/components/app/app.tsx
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-19: + requested changes v2.0
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/packages/api/base-http-api.ts
  frontend/src/libs/packages/api/libs/types/http-api-options.type.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-19: * auth api path
  frontend/src/packages/auth/auth-api.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-27: * notification service to show Toast depending on type of message
  mobile/src/libs/packages/services/notification-service.ts
  mobile/src/slices/notifications/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-27: - message initial state
  mobile/src/slices/notifications/notifications.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-19: * user type
  frontend/src/slices/auth/auth.slice.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-auth-response-dto.types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-27: * handleError middleware
  mobile/src/libs/packages/store/middlewares/middlewares.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-12: + IncorrectPasswordError & UserNotFoundError
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-incorrect-password-error-info.helper.ts
  backend/src/libs/packages/server-application/libs/helpers/get-error-info/get-user-not-found-info.helper.ts
  backend/src/libs/packages/server-application/libs/types/api-error.type.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  shared/src/index.ts
  shared/src/libs/exceptions/exceptions.ts
  shared/src/libs/exceptions/incorrect-password-error/incorrect-password-error.exception.ts
  shared/src/libs/exceptions/user-not-found-error/user-not-found-error.exception.ts
  shared/src/libs/packages/http/libs/enums/http-code.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-54: + colors
  mobile/src/libs/enums/ui/app-color.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + custom chat link
  mobile/src/screens/chat/components/chat-link/chat-link.tsx
  mobile/src/screens/chat/components/chat-link/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + custom headers for screens
  mobile/src/screens/chat/components/header/header.tsx
  mobile/src/screens/chat/components/header/styles.ts
  mobile/src/screens/home/components/header/header.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-72: + all unregistered routes as white routes
  backend/src/libs/packages/server-application/libs/constants/api.constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-54: * restructure folders
  mobile/src/screens/chat/components/chat-item/chat-item.tsx
  mobile/src/screens/chat/components/chat-item/styles.ts
  mobile/src/screens/chat/components/components.tsx
  mobile/src/screens/home/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + icon for the custom link
  mobile/src/assets/img/icons/plus.svg
Due: npm run lint:editor && npm run lint:fs

cp-54: * change shared input
  mobile/src/libs/components/input/input.tsx
  mobile/src/libs/components/input/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-54: + scrolling for the list
  mobile/src/screens/chat/chat.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write
