Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-182: * type for selectedMeditationEntry
  mobile/src/screens/meditation/meditation.tsx
  mobile/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-427: * postman collection for put journal request
  .postman/Calmpal.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-427: * postman collection body text for put journal request
  .postman/Calmpal.postman_collection.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + constant for default value
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: * setDuration to onSetDuration and startMeditation to onStartMeditation
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + constants folder
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-427: * move check for id path to service for chat and journal
  backend/src/packages/chats/chat.controller.ts
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-427: * INVALID_TEXT_FORMAT in JournalEntryValidationMessage
  shared/src/packages/journal/libs/enums/journal-entry-validation-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-427: * move TEXT_PATTERN to JourneyEntryValidationRule and delete TEXT_PATTERN_NAME variable
  shared/src/packages/journal/libs/constants/constants.ts
  shared/src/packages/journal/libs/enums/journal-entry-validation-rule.enum.ts
  shared/src/packages/journal/libs/validation-schemas/create-journal-entry.validation-schema.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-427: - converting id to a number in chat and journal services
  backend/src/packages/chats/chat.service.ts
  backend/src/packages/journal-entries/journal-entry.controller.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-156: * fixing new comments
  backend/src/db/migrations/20230923060705_add_more steps_in_survey_table..ts
  backend/src/packages/surveys/libs/types/create-response.type.ts
  backend/src/packages/surveys/libs/types/types.ts
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/radio/radio.tsx
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
  frontend/src/packages/survey/libs/constants/constants.ts
  frontend/src/packages/survey/libs/constants/steps-default-order.constant.ts
  frontend/src/packages/survey/libs/enums/enums.ts
  frontend/src/packages/survey/libs/enums/steps.enum.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/step/render-steps.tsx
  frontend/src/pages/surveys/components/step/step.tsx
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend, npm run lint:js -w frontend

cp-156: * quick fix
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-368: * note input styles
  frontend/src/pages/journal/components/note/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-445: * meditation list bttom space for tablets
  frontend/src/pages/meditation/components/meditation-list/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-159: * merge conflicts
  mobile/src/libs/components/modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-497: * journal note loading
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-423: - constant for second index
  frontend/src/libs/constants/index.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-502: + generateReply() when chat is created
  mobile/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

development: - header from survey
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/pages/surveys/styles.module.scss
  frontend/src/pages/surveys/survey.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

development: * hide home page for the demo
  frontend/src/libs/components/navigation-menu-wrapper/libs/constants/constants.ts
  frontend/src/pages/dashboard/dashboard.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

development: - root page
  frontend/src/pages/root/root.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * delete user functionality improvements
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/packages/users/libs/api/users-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/components.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-confirmation/delete-account-confirmation.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-confirmation/styles.module.scss
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-final/delete-account-final.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-final/styles.module.scss
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/delete-account-form.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/libs/constants/constants.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/libs/enums/enums.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/styles.module.scss
  frontend/src/pages/profile-settings/components/delete-account-modal/components/steps/delete-account-form.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/delete-account-modal.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/constants/contants.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/contants.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/types/delete-accound-modal-handler.type.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/types/types.ts
  frontend/src/pages/profile-settings/components/delete-account-modal/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
  frontend/src/slices/users/actions.ts
  shared/src/index.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-delete-request-dto.type.ts
  shared/src/packages/users/libs/types/user-delete-response-dto.type.ts
  shared/src/packages/users/users.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * fix checkbox checked styles
  frontend/src/libs/components/checkbox/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: - useless type importing
  frontend/src/packages/users/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * fix modal passing reference into user delete functionality
  frontend/src/pages/profile-settings/components/delete-account-modal/components/delete-account-form/delete-account-form.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/delete-account-modal.tsx
  frontend/src/pages/profile-settings/components/delete-account-modal/libs/types/delete-accound-modal-handler.type.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-168: * handle sign up for deleted user
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/users/user-with-password.entity.ts
  backend/src/packages/users/user.entity.ts
  backend/src/packages/users/user.model.ts
  backend/src/packages/users/user.repository.ts
  shared/src/libs/enums/exception-message.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend

cp-232: + rich editor for mobile
  mobile/package.json
  mobile/src/libs/components/components.tsx
  mobile/src/libs/components/rich-text-editor/rich-text-editor.tsx
  mobile/src/libs/components/rich-text-editor/styles.ts
  mobile/src/screens/journal/libs/constants/constants.ts
  mobile/src/screens/note/libs/constants/constants.ts
  mobile/src/screens/note/note.tsx
  package-lock.json
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-418: * size for chat message
  mobile/src/screens/chat/components/message-item/styles.ts
  mobile/src/screens/chat/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-168: * nove checkbox style local type
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/checkbox/libs/types/types.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-232: * move payload to shared, - redundant fragment
  frontend/src/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/components/note-input/libs/constants/constants.ts
  frontend/src/pages/journal/components/note/note.tsx
  mobile/src/libs/components/rich-text-editor/rich-text-editor.tsx
  mobile/src/libs/constants/constants.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/libs/constants/constants.ts
  mobile/src/screens/note/note.tsx
  shared/src/index.ts
  shared/src/packages/journal/journal.ts
  shared/src/packages/journal/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-342: + tooltip for journal and chat topics
  frontend/src/libs/components/card/card.tsx
  frontend/src/libs/components/card/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-168: * delete auth user in auth package
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/users.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/api/users-api.ts
  frontend/src/packages/users/libs/api/users.ts
  frontend/src/slices/users/actions.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-342: + tooltip for meditation entry
  frontend/src/libs/components/card/card.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-492: + setting first track
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/screens/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-342: * changed back mock text to titles
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-342: * tooltip css for meditation entry
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-342: * tooltip styles for sidebar cards
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-342: * to multipart/form-data
  backend/src/packages/meditation/meditation.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-342: * indentation in the auth ctrl
  backend/src/packages/auth/auth.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-156: * implementing sugguested changes
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
  frontend/src/packages/survey/libs/constants/constants.ts
  frontend/src/packages/survey/libs/hooks/hooks.ts
  frontend/src/packages/survey/libs/hooks/use-state-survey/use-state-survey.hook.ts
  frontend/src/packages/survey/libs/types/handle.type.ts
  frontend/src/packages/survey/libs/types/render-steps.type.ts
  frontend/src/packages/survey/libs/types/steps-actions.type.ts
  frontend/src/packages/survey/libs/types/steps-configuration.type.ts
  frontend/src/packages/survey/libs/types/survey-state-payload.type.ts
  frontend/src/packages/survey/libs/types/types.ts
  frontend/src/packages/survey/libs/types/use-survey-state.type.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/step/render-steps.tsx
  frontend/src/pages/surveys/components/step/step.tsx
  frontend/src/pages/surveys/libs/constants/constants.ts
  mobile/src/packages/survey/libs/constants/constants.ts
  mobile/src/packages/survey/survey.ts
  mobile/src/screens/survey/libs/cosntants/constants.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/constants/constants.ts
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form.validation-schema.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
