Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-419: * added option to ignore timezone in getFormattedTime
  frontend/src/libs/components/audio-player/components/progress-bar/progress-bar.tsx
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/timer-button.tsx
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-78: * move MOBILE_DIMENSION to media-query.constant.ts file
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/index.constant.ts
  frontend/src/libs/constants/media-query.constant.ts
  frontend/src/pages/meditation/components/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/components/meditation-player/meditation-player.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * line's order in useMediaQuery hook
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-277: - unnecessary const and enum in shared folder
  mobile/src/screens/chat/chat.tsx
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/format-relative-locale.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-423: * correct checking if the item path equal to the current path
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/constants/index.constant.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-423: * chhanged styles for selected items
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-78: * BackButtonWrapperProperties to Properties in BackButtonWrapper
  frontend/src/libs/components/back-button/back-button-wrapper.tsx
  frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-78: * height styles
  frontend/src/pages/meditation/components/meditation-player/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-159: + all steps to survey and fix styles
  mobile/src/libs/packages/store/store.package.ts
  mobile/src/navigations/survey/libs/constants.ts
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/feelings-step/styles.ts
  mobile/src/screens/survey/components/goals-step/goals-step.tsx
  mobile/src/screens/survey/components/goals-step/styles.ts
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/components/meditation-step/styles.ts
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/survey-step/styles.ts
  mobile/src/screens/survey/components/survey-step/survey-step.tsx
  mobile/src/screens/survey/components/worries-step/styles.ts
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/libs/constants/constants.ts
  mobile/src/screens/survey/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-159: * fix misspelling that generate bug sending data to back end
  mobile/src/libs/enums/navigation/survey-screen-name.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-369: - message-item-properties helper
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/message-item/message-item.tsx
  mobile/src/screens/chat/libs/constants/constants.ts
  mobile/src/screens/chat/libs/helpers/helpers.ts
  mobile/src/screens/chat/libs/helpers/message-item-properties.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-427: * status in delete route in chat controller from 201 to 200
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-427: * response with status 200 for delete route in journal entry controller to return boolean
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-427: - unneccessary get journal/id route in journal entry controller
  backend/src/packages/journal-entries/journal-entry.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-276: * day difference enum yesterday value
  shared/src/libs/helpers/date/libs/enums/day-difference.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-182: * import for Track
  mobile/src/libs/packages/player/libs/types/meditation-track.type.ts
  mobile/src/libs/packages/player/libs/types/types.ts
  mobile/src/libs/packages/player/player.package.ts
  mobile/src/libs/packages/player/player.ts
  mobile/src/libs/types/types.ts
  mobile/src/slices/meditation/actions.ts
  mobile/src/slices/meditation/meditation.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-431: * type of the link component
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-156: + implementing suggested changes
  frontend/src/packages/survey/libs/types/handle.type.ts
  frontend/src/packages/survey/libs/types/steps.types.ts
  frontend/src/packages/survey/libs/types/types.ts
  frontend/src/packages/survey/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/survey/survey.ts
  frontend/src/pages/surveys/components/components.ts
  frontend/src/pages/surveys/components/step/render-steps.tsx
  frontend/src/pages/surveys/components/step/step.tsx
  frontend/src/pages/surveys/components/step/styles.module.scss
  frontend/src/pages/surveys/components/steps/feelings-step/feelings-step.tsx
  frontend/src/pages/surveys/components/steps/goals-step/goals-step.tsx
  frontend/src/pages/surveys/components/steps/journaling-experience-step/journaling-experience-step.tsx
  frontend/src/pages/surveys/components/steps/meditation-experience-step/meditation-experience-step.tsx
  frontend/src/pages/surveys/components/steps/preferences-step/preferences-step.tsx
  frontend/src/pages/surveys/components/steps/render-steps.tsx
  frontend/src/pages/surveys/components/steps/steps.tsx
  frontend/src/pages/surveys/components/steps/worries-step/worries-step.tsx
  frontend/src/pages/surveys/survey.tsx
  shared/src/index.ts
  shared/src/packages/surveys/libs/validation-schemas/create-one-answer-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-step-with-other-survey-form.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-431: * url on list card
  frontend/src/libs/components/link/link.tsx
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-477: + cursor pointer style on play and timer buttons
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/components/timer-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-415: - scrollbar-width
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-168: * small fixes
  backend/src/packages/users/user.controller.ts
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/packages/users/libs/api/users-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/users.ts
  shared/src/index.ts
  shared/src/packages/users/libs/enums/users-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:js -w frontend

cp-168: * fixed import
  frontend/src/libs/components/modal/steps/delete-account/delete-account-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-431: * new action, return eslint
  frontend/src/pages/chat/components/chat-layout/chat-layout.tsx
  frontend/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: - duration prop in Track type
  mobile/src/libs/packages/player/libs/maps/meditation-entry-to-track/meditation-entry-to-track.map.ts
  mobile/src/libs/packages/player/libs/types/meditation-track.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-419: * added variable
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-182: - durations everywhere
  mobile/src/screens/meditation-list/components/meditation-item/meditation-item.tsx
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/styles.tsx
  mobile/src/screens/meditation-list/components/timer-modal/components/timer-button/timer-button.tsx
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: + hasValue in timer-modal
  mobile/src/screens/meditation-list/components/timer-modal/timer-modal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-443: * update chat data request dto
  shared/src/index.ts
  shared/src/packages/chats/chats.ts
  shared/src/packages/chats/libs/types/types.ts
  shared/src/packages/chats/libs/types/update-chat-data-request-dto.type.ts
  shared/src/packages/chats/libs/types/update-chat-image-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-443: * update chat data payload name
  backend/src/packages/chats/libs/types/update-chat-data-payload.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-443: + backend update chat data request dto
  backend/src/packages/chats/libs/types/types.ts
  backend/src/packages/chats/libs/types/update-chat-data-request-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-443: * chat service create and generate reply
  backend/src/packages/chats/chat.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-443: * chat controller update name and image
  backend/src/packages/chats/chat.controller.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-443: * chat repository update name
  backend/src/packages/chats/chat.repository.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-443: * frontend update chat data request dto
  frontend/src/packages/chats/chats.ts
  frontend/src/packages/chats/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-443: * chats action update data
  frontend/src/packages/chats/chats-api.ts
  frontend/src/slices/chats/actions.ts
  frontend/src/slices/chats/chats.slice.ts
  frontend/src/slices/chats/chats.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-159: + form for one option and and validation
  frontend/src/pages/surveys/survey.tsx
  mobile/src/packages/survey/libs/types/types.ts
  mobile/src/packages/survey/libs/validation-shemas/validation-schemas.ts
  mobile/src/packages/survey/survey.ts
  mobile/src/screens/survey/components/components.tsx
  mobile/src/screens/survey/components/feelings-step/feelings-step.tsx
  mobile/src/screens/survey/components/goals-step/goals-step.tsx
  mobile/src/screens/survey/components/journaling-step/journaling-step.tsx
  mobile/src/screens/survey/components/meditation-step/meditation-step.tsx
  mobile/src/screens/survey/components/preferences-step/preferences-step.tsx
  mobile/src/screens/survey/components/survey-category/survey-category.tsx
  mobile/src/screens/survey/components/survey-step/survey-step-multiple.tsx
  mobile/src/screens/survey/components/survey-step/survey-step-one.tsx
  mobile/src/screens/survey/components/worries-step/worries-step.tsx
  mobile/src/screens/survey/libs/constants/constants.ts
  mobile/src/slices/survey/survey.slice.ts
  shared/src/index.ts
  shared/src/packages/surveys/libs/helpers/get-survey-categories.helper.ts
  shared/src/packages/surveys/libs/types/survey-multiple-input-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-one-input-dto.types.ts
  shared/src/packages/surveys/libs/types/survey-request-dto.types.ts
  shared/src/packages/surveys/libs/types/types.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form-multiple.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey-form-one.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/create-survey.validation-schema.ts
  shared/src/packages/surveys/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/surveys/surveys.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-168: + Creating the delete-account-modal
  frontend/src/pages/profile-settings/components/delete-account-modal/delete-account-modal.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-182: * constants to shared folder
  frontend/src/pages/meditation/components/meditation-timer/libs/constants/constants.ts
  mobile/src/screens/meditation-list/components/timer-modal/libs/constants.ts
  mobile/src/screens/meditation-list/libs/constants/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
  shared/src/index.ts
  shared/src/libs/constants/constants.ts
  shared/src/libs/constants/meditation-player/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend
