Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: + isSidebarShownParameter
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + types for chat-messages responses and requests
  shared/src/index.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/types/chat-message-create-request-dto.type.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-item-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-223: + position sticky to backward button
  frontend/src/libs/components/backward-button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: * move sanitize input helper to shared folder
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  shared/src/index.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/libs/helpers/sanitize-input/sanitize-input.helper.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-223: * card placeholder padding left
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-61: * adjusted the signOut action
  frontend/src/slices/auth/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: + sanitize input helper to create and update methods in journalEntry service
  backend/src/libs/helpers/helpers.ts
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-61: * folder renaming
  frontend/src/libs/components/user-profile/libs/constants.ts
  frontend/src/libs/components/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-250: * provide permissions to make request to http host
  mobile/android/app/src/main/AndroidManifest.xml
Due: npm run lint:editor && npm run lint:fs

cp-194: + redirection to journal if dynamic path doesn't exist
  frontend/src/pages/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: * changed role field to sendeId
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-item-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: + added all fields for getAll response type
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-item-response-dto.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-190: - name field
  backend/src/packages/chat-messages/chat-message.entity.ts
  backend/src/packages/chat-messages/chat-message.model.ts
  backend/src/packages/chat-messages/chat-message.repository.ts
  backend/src/packages/chat-messages/chat-message.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-160: * card component icon color implementation
  frontend/src/libs/components/card/card.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: + applied modal with the timer to the meditation entry
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-190: + validation schema for creating chat messages
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-message.enum.ts
  shared/src/packages/chat-messages/libs/enums/chat-message-validation-rule.enum.ts
  shared/src/packages/chat-messages/libs/enums/enums.ts
  shared/src/packages/chat-messages/libs/validation-schemas/create-chat-message.validation-schema.ts
  shared/src/packages/chat-messages/libs/validation-schemas/validation-schemas.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-161: + replaced Link with a Button component for the play button
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: - removed play button styling from meditation entry since now it's a class for the button component
  frontend/src/pages/meditation/meditation-list/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-190: + migration for creating chat messages table
  backend/src/db/migrations/20230912094401_add_chat_messages_table.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-190: + api path for chats
  shared/src/packages/chat-messages/libs/enums/chat-api-path.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-161: * styles adjustment
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-234: - styles in Icon component
  mobile/src/libs/components/icon/icon.tsx
  mobile/src/screens/chat-list/chat-list.tsx
  mobile/src/screens/chat-list/styles.ts
  mobile/src/screens/journal/journal.tsx
  mobile/src/screens/journal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-242: * link class name and its styles
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/link/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-242: * implement link class name
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-234: * journal to note
  mobile/src/screens/journal/journal.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-190: + imports for chat-messages package files
  shared/src/index.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/enums/enums.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-223: * dropdown menu improvements
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: + user-profile page
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/user-profile/components/components.ts
  frontend/src/pages/user-profile/styles.module.scss
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-223: * user-profileSidebar to sidebarComponents
  frontend/src/libs/components/backward-button/styles.module.scss
  frontend/src/libs/components/user-profile/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/libs/constants.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/styles.module.scss
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-161: + add logic for displaying default meditation leangth in timer, restructured constants
  frontend/src/libs/components/meditation-timer/constants/constants.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
  frontend/src/libs/components/modal/test-parent-component.tsx
  frontend/src/pages/meditation/libs/constants/constants.ts
  frontend/src/pages/meditation/libs/types/meditation-entry.type.ts
  frontend/src/pages/meditation/meditation-list/meditation-entry/meditation-entry.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-161: * folder naming change
  frontend/src/libs/components/meditation-timer/libs/constants.ts
  frontend/src/libs/components/meditation-timer/meditation-timer.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * fix imports
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/chat/chat.tsx
  frontend/src/pages/dashboard/components/user-profile-info/user-profile-info.tsx
  frontend/src/pages/journal/journal.tsx
  frontend/src/pages/meditation/meditation-list/meditation-list.tsx
  frontend/src/pages/meditation/meditation.tsx
  frontend/src/pages/user-profile/user-profile.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-223: * sidebar to components, change imports
  frontend/src/libs/components/backward-button/backward-button.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/sidebar/components.ts
  frontend/src/libs/components/sidebar/components/components.ts
  frontend/src/libs/components/sidebar/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/components/sidebar/styles.module.scss
  frontend/src/pages/chat/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/pages/journal/components/journal-sidebar/journal-sidebar.tsx
  frontend/src/pages/meditation/meditation-list/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/meditation-sidebar.tsx
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-242: * sidebar link zone
  frontend/src/libs/components/sidebar/sidebar.tsx
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-252: * styles of navbar
  mobile/src/navigations/main/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-65: * chat page layout styles
  frontend/src/pages/chat/components/chat-header/styles.module.scss
  frontend/src/pages/chat/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-65: * input styles
  frontend/src/libs/components/input/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-209: * sidebar items hover effect
  frontend/src/libs/components/sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-194: + return sorting journalEntries by updatedAt column
  backend/src/packages/journal-entries/journal-entry.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-65: * mock messages
  frontend/src/pages/chat/libs/constants/chat-mock-message.constant.ts
  frontend/src/pages/chat/libs/constants/chat-mock-messages.constant.ts
  frontend/src/pages/chat/libs/constants/constants.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

Path conditions:
  npm run lint:editor && npm run lint:fs: any of: *
  prettier --write: any of: *.{ts,tsx,json,md,scss,html}
  npm run lint:js -w shared: any of: shared/src/**/*.ts
  npm run lint:js -w backend: any of: backend/src/**/*.ts
  npm run lint:css -w frontend: any of: frontend/src/**/*.scss
  npm run lint:js -w frontend: any of: frontend/src/**/*.{ts,tsx}
