Repository BinaryStudioAcademy/bsa-2023-calmpal: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w backend, npm run lint:css -w frontend, npm run lint:js -w frontend

.lintstagedrc.yml:

'*': npm run lint:editor && npm run lint:fs
'*.{ts,tsx,json,md,scss,html}': prettier --write
'shared/src/**/*.ts': npm run lint:js -w shared
'backend/src/**/*.ts': npm run lint:js -w backend
'frontend/src/**/*.scss': npm run lint:css -w frontend
'frontend/src/**/*.{ts,tsx}': npm run lint:js -w frontend

cp-182: - comments
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: - button styles prop
  mobile/src/libs/components/button/button.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-182: - not used styles
  mobile/src/libs/components/meditation-timer-modal/styles.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-274: * change response_format to camel case
  backend/src/libs/packages/open-ai/open-ai.package.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-337: + width property for info blocks
  frontend/src/pages/chat/components/chat-sidebar/styles.module.scss
  frontend/src/pages/journal/components/journal-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-282: * structure
  mobile/src/screens/meditation-home/libs/constants/constants.ts
  mobile/src/screens/meditation-home/meditation-home.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-194: + filteredJournalEntries interjacent variable in slice
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: - redundant subscription table column enum
  backend/src/libs/packages/database/libs/enums/enums.ts
  backend/src/libs/packages/database/libs/enums/subscriptions-table-column.enum.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-282: * structure
  mobile/src/screens/meditation-list/libs/constants/constants.ts
  mobile/src/screens/meditation-list/meditation-list.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-277: + ChatDivider component
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-divider/chat-divider.tsx
  mobile/src/screens/chat/components/chat-divider/styles.ts
  mobile/src/screens/chat/components/components.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-337: - redundant sidebar css file
  frontend/src/pages/meditation/components/meditation-sidebar/styles.module.scss
  frontend/src/pages/meditation/meditation-sidebar/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: - user findAll method
  backend/src/packages/users/user.repository.ts
  backend/src/packages/users/user.service.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w backend

cp-347: + fix is active prop to highlight proper card
  frontend/src/pages/user-profile/components/user-profile-sidebar/libs/constants.ts
  frontend/src/pages/user-profile/components/user-profile-sidebar/user-profile-sidebar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-194: * setting allJournalEntries via spread operator
  frontend/src/slices/journal/journal.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-361: * img width for mobile screen
  frontend/src/pages/meditation/components/meditation-list/components/meditation-entry/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

development: * isolate not necessary aws secrets from ci db migration action
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-161: * adjusted the layout for smaller screens
  frontend/src/libs/components/modal/styles.module.scss
  frontend/src/pages/meditation/components/meditation-timer/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-277: + types and helpers in shared folder
  shared/src/index.ts
  shared/src/libs/helpers/date/date.ts
  shared/src/libs/helpers/date/get-formatted-time/get-formatted-time.helper.ts
  shared/src/libs/helpers/date/get-relative-date/get-relative-date.helper.ts
  shared/src/libs/helpers/date/libs/constants/constants.ts
  shared/src/libs/helpers/date/libs/enums/enums.ts
  shared/src/libs/helpers/date/libs/enums/format-relative-locale.enum.ts
  shared/src/libs/helpers/date/libs/enums/time-format.enum.ts
  shared/src/libs/helpers/group-chat-message/group-chat-message.helper.ts
  shared/src/libs/helpers/helpers.ts
  shared/src/packages/chat-messages/chat-messages.ts
  shared/src/packages/chat-messages/libs/types/chat-message-get-all-response-dto.type.ts
  shared/src/packages/chat-messages/libs/types/chat-messages-groups.type.ts
  shared/src/packages/chat-messages/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared

cp-277: + getRelativeDate helper
  mobile/src/libs/helpers/helpers.ts
  mobile/src/packages/chat-messages/chat-messages.ts
  mobile/src/packages/chat-messages/libs/types/types.ts
  mobile/src/screens/chat/chat.tsx
  mobile/src/screens/chat/components/chat-divider/chat-divider.tsx
  mobile/src/screens/chat/components/chat-divider/styles.ts
  mobile/src/slices/chats/chats.slice.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-347: * management dialog classNames
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-403: * changed styling for the card component
  frontend/src/libs/components/card/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: + button style color type
  frontend/src/libs/types/button-style-color.type.ts
  frontend/src/libs/types/types.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: - primary-blue button style
  frontend/src/libs/types/button-style.type.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: + button styles depending on styleColor
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/checkout-form.tsx
  frontend/src/pages/profile-settings/components/subscription/components/subscription-management-dialog/subscription-management-dialog.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend, npm run lint:js -w frontend

cp-347: + stripe secret key env in ci-db-migration
  .github/workflows/ci-db-migration.yml
Due: npm run lint:editor && npm run lint:fs

cp-347: - primary-blue styles
  frontend/src/libs/components/button/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-347: * wrap client secret into boolean
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * move subscription price constant
  frontend/src/packages/subscriptions/libs/constants/constants.ts
  frontend/src/packages/subscriptions/subscriptions.ts
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
  frontend/src/pages/profile-settings/libs/constants/constants.ts
  shared/src/index.ts
  shared/src/packages/subscriptions/libs/constants/constants.ts
  shared/src/packages/subscriptions/subscriptions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w shared, npm run lint:js -w frontend

cp-347: * export use callback from use callback
  frontend/src/pages/profile-settings/components/subscription-checkout/components/checkout-form/checkout-form.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-347: * rename variable according to B17 rule
  frontend/src/pages/profile-settings/components/subscription-checkout/subscription-checkout.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-421: * progress bar thumbTintColor
  mobile/src/libs/components/player/components/progress-bar/progress-bar.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-232: * icon names
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-282: * icon name
  mobile/src/libs/components/icon/libs/maps/icon-name-to-icon/icon-name-to-icon.map.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-270: * createChatMessage to createMessage
  mobile/src/packages/chat-messages/chat-messages-api.ts
  mobile/src/slices/chats/actions.ts
Due: npm run lint:editor && npm run lint:fs, prettier --write

cp-423: - devider between items
  frontend/src/libs/components/dropdown-menu/dropdown-menu.tsx
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:js -w frontend

cp-423: * changed styles for burger menu
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-423: * made border-radius property consistent in burger menu styles
  frontend/src/libs/components/dropdown-menu/styles.module.scss
Due: npm run lint:editor && npm run lint:fs, prettier --write, npm run lint:css -w frontend

cp-428: * passing VITE_APP_STRIPE_PUBLIC_KEY on build docker image step as build arg
  .github/workflows/cd.yml
  frontend/Dockerfile.development
Due: npm run lint:editor && npm run lint:fs

development: * fix accessing env variable in cd action
  .github/workflows/cd.yml
Due: npm run lint:editor && npm run lint:fs
